[2017-04-19 15:28] neruok commented on #806
Also having this problem on odoo 10 enterprise.
I ran it locally in my dev environment with --log-sql --log-level debug.

[log.txt](https://github.com/OCA/server-tools/files/935492/log.txt)

I ran with these options because the problem might be sql related. I found that the function def __leaf_to_sql(self, eleaf) in odoo/odoo/osv/expression.py expects right to be a bool, list, or tuple and it's ac

[2017-04-19 15:45] tafaRU commented on #806
We faced the same issue on 10 enterprise.

[2017-04-19 19:43] Fenkiou opened #815 "Installing addon from wheelhouse with pip broke odoo package"
First of all, this issue isn't specific to this repo but to all (I think, didn't try on all addons), I'm sorry to put this here but wasn't sure if I had to open an issue on https://github.com/acsone/setuptools-odoo or any other OCA repo.

Usually, to have a clean dev environment, I do the following steps:
- create a virtualenv
- clone odoo sources
- install requirements with pip `pip install -r re

[2017-04-19 20:07] sbidoul commented on #815
What you observe is correct. The best place for this issue is https://github.com/acsone/setuptools-odoo. Would you mind reopening it there? I'll write the explanation and a workaround.

[2017-04-19 20:07] #815 closed, assigned to nobody

[2017-04-19 22:20] raycollazo commented on #806
Having Same Issue with version 10 Enterprise

[2017-04-20 11:05] #778 closed, assigned to nobody

[2017-04-21 20:49] jbchouinard commented on #806
Seeing same issue on v10 community and enterprise. I made PR#805 to try and fix it but my change broke something else.

The problem is that the domain definition in mass_editing_view.xml (line 48) uses a hardcoded hack to get the list of ids:

`domain="[('ttype', 'not in', ['reference', 'function']), ('model_id', 'in', model_ids and model_ids[0][2] or [])]"`

The structure of field objects in the

[2017-04-27 04:50] raycollazo opened #822 "Audit_Log Bug Report"
We discovered a bug in Audit Log. When creating a Rule for Employee model that includes Read
![auditlogrule](https://cloud.githubusercontent.com/assets/17937809/25468314/156b7694-2ae3-11e7-84b0-f898bcdf47f5.png)
It immediately causes an error and does not allow you to go into a user.
![auditlogruleerror](https://cloud.githubusercontent.com/assets/17937809/25468342/4bd7cd54-2ae3-11e7-8b12-37be03af9

[2017-05-03 04:25] lasley commented on #748
This has been fixed per https://github.com/OCA/server-tools/pull/772#issuecomment-295676432

[2017-05-03 04:25] #748 closed, assigned to nobody

[2017-05-03 07:11] yajo commented on #790
One solution is to forget about git and versions, and use SHA checksums instead. The `ir.cron` job would:

1. Generate a checksum for the whole addon folder.
2. Check it against the last checksum it had stored.
3. If it has changed, set the addon to update and store the new checksum.
4. When finished doing this with all addons, trigger the update system.

[2017-05-03 11:47] jjscarafia commented on #790
@lasley We have this module that partially covers what you suggest and also the autobackup https://github.com/ingadhoc/odoo-support/tree/9.0/database_tools.
We have already presented on odoo days and oca sprint days but it didn't catch attention
You can check the presentation available on the readme. We have add a "cli" so you can fix database from command line with something like "odoo.py fixdb".

[2017-05-03 15:59] lasley commented on #790
@Yajo - Oh snap good idea. RFC updated. Does it make sense to just generate the directory checksums on Odoo boot, or maybe we need a button?

@jjscarafia - Sweet thanks for dropping a line! Looks like this module duplicates a lot that we already have in OCA, but I see some totally useful stuff here too. Unfortunately though, I will be integrating this into my SaaS & thus require an LGPL licensing

[2017-05-03 16:53] MartinHeisig commented on #822
The same with Odoo Community Edition.

Created a rule for res.partner without "read"-option and all fine. Adding the "read"-option causes a big delay while opening res.partner list view and causes error while selecting a single partner entry. And in four out of five tries (no idea why it works one time) changing or deactivating or deleting the rule doesn't do anything, it still logs and gives this

[2017-05-04 10:10] yajo commented on #790
I guess the default "Run cron now" button would do the trick. It would be needed indeed IMHO, but you have it there already.

I'd also be as less smart as possible and let `checksum_installed` empty by default. Next cron iteration would consider it a mismatch and update everything. And from that point, all would be good. Cron should be preconfigured to run at 3AM or so.

[2017-05-04 16:23] jjscarafia commented on #790
@lasley Yes, its duplicate a lot, but this one was before oca one exists. I've a pending task to check oca ones a deprecate that functionality when migrating to odoo 10, so aligned with that, to have the update modules functionality in another module would be great. Still not very familiar with the implications of changing to LGPL, but no problem for me. What should I do to allow the use of the co

[2017-05-04 16:32] lasley commented on #790
@jjscarafia - The main implication for LGPL is that it is possible for someone to make a closed source derivative of your app, so they are definitely pretty heavy. Take a look at [this breakdown](https://choosealicense.com/licenses/) which is overly simplistic but I think gets the point across.

You'll see that the "Same License" only applies when the derivative is not using your software as a lib

[2017-05-04 17:44] jjscarafia commented on #790
@lasley thanks for the link and the explanation, much clear now. Ok, for me, I wait for the ping on the PR.
[This method](https://github.com/ingadhoc/odoo-support/blob/9.0/database_tools/models/db_configuration.py#L152) is callable from database interface and runs an update on every module that requires the update (regarding changes in latest and installed version)

The cli "fixdb" call that metho

[2017-05-05 01:52] lasley commented on #715
Closing to track in #826

[2017-05-05 01:52] #715 closed, assigned to nobody

[2017-05-05 06:15] ecosoft-odoo opened #827 "[10.0] propose module to lock user during server maintenance."
We want to contribute a module that allow blocking user (except admin) from logging in during server maintenance mode. (i.e., when admin want to do further configuration in the system).
It can be as simple as,
- Select all users, and click action-> Block user for server maintenance
- Users will be marked as "blocked"
- If he/she logging in, a warning message that user is blocked for server mainten

[2017-05-05 06:17] kittiu opened #828 "[10.0] propose module to lock user during server maintenance"
We want to contribute a module that allow blocking user (except admin) from logging in during server maintenance mode. (i.e., when admin want to do further configuration in the system).
It can be as simple as,

- Select all users, and click action-> Block user for server maintenance
- Users will be marked as "blocked"
- If he/she logging in, a warning message that user is blocked for server mainte

[2017-05-05 06:19] ecosoft-odoo commented on #827
Duplicated issues with #828

[2017-05-05 06:19] #827 closed, assigned to nobody

[2017-05-05 07:45] dreispt commented on #828
:+1:
AFAIK this doesn't exist yet.

[2017-05-06 14:17] lasley commented on #810
Closing to track in #830

[2017-05-06 14:17] #810 closed, assigned to nobody

[2017-05-07 06:49] collex100 opened #831 "[10.0] The addition of fields in the model settings is not displayed"
The addition of fields in the model settings is not displayed:
![screenshot_1](https://cloud.githubusercontent.com/assets/11208423/25778567/6c5b388e-330a-11e7-9aae-8394bfbf76e8.png)

[2017-05-09 17:50] lasley opened #835 "[RFC] security_40x: Prevent Token Scraping"
This module will, at a minimum, track all 404 errors by IP & allow for the blocking of hosts based on the amount of errors that have been detected in a time period. This will effectively prevent token scraping, which is a very real concern given that there is sensitive data locked behind cryptographically insecure tokens (uuid4 strings).

We currently use Fail2Ban for our clients to mitigate this

[2017-05-09 20:48] hbrunn commented on #835
yes, very good one. So there are [two entry points](https://github.com/OCA/OCB/blob/10.0/odoo/service/wsgi_server.py#L169) for http requests in standard Odoo. The [root object](https://github.com/OCA/OCB/blob/10.0/odoo/http.py#L1282) should be relatively simple to wrap into something that intercepts exceptions/the response, for xmlrpc, I think [a bit deeper in the call tree](https://github.com/OCA

[2017-05-10 23:09] lasley commented on #835
Oh nice I didn't think about explicitly catching the exceptions too, but that even provides more potential insight into what is happening other than simply the error codes.

Thanks for the links, you saved me a bunch of time digging around.

[2017-05-10 23:30] tedsalmon commented on #811
To add to this RFC, we will need to add an environment variable named `USER_THRESHOLD_USERS` which will hold a CSV list of users who are always exempt from the thresholds. This will allow us to filter out any users who are not currently counting towards the threshold but should be.

We should also add an attribute to `res.users` to hold the exemption flag. This flag is referred to in the above as

[2017-05-12 01:23] lasley commented on #811
Closing to track in #836

[2017-05-12 01:23] #811 closed, assigned to nobody

[2017-05-15 08:20] yajo commented on #835
Could you explain the hypothetical attack you want to mitigate?

[2017-05-15 12:31] hbrunn commented on #835
@Yajo token guessing. For example when https://github.com/OCA/knowledge/pull/137 goes to production quality, I'll add code to detect too many wrong tokens per IP, and block them. This plugin could make checks per module superfluous, because it already takes care of the blocking

[2017-05-15 13:42] astirpe opened #838 "[BUG] company_country module missing?"
In this repo (server-tools, 10.0 branch) I'm noticing a folder `company_country/i18n` that seems to be part of a module not yet committed:

https://github.com/OCA/server-tools/tree/10.0/company_country/i18n

To me it looks like that Transifex added some dirty data. Am I wrong?

[2017-05-15 15:41] lasley commented on #835
@Yajo I would also like to ward against other client generated errors, such as a high amount of 400s, which is an indicator of things like SQL injection attempts. Or 405s would be an example of someone attempting to probe XML-RPC for vulnerabilities.

We currently have our Fail2Ban blocking any client with more than 5 4xx errors in our watch interval, but need to move this out of Fail2Ban due to l

[2017-05-15 16:21] pedrobaeza commented on #838
Yeah, I have seen this also, but as we are switching in short to Weblate, I think we can live with this.

I think the source of the problem comes from pushing to an OCA branch by any of the users that have writing permissions.

[2017-06-01 23:11] lasley commented on #797
Alright so the above challenges ended up basically just being the way things work, so I would deem this module technically infeasible. My solution was to JavaScript everything 😦

[2017-06-01 23:11] #797 closed, assigned to nobody

[2017-06-01 23:14] lasley commented on #828
Hmmm neat. I think we might need some sort of `base_maintainence` or something in order to define a maintenance mode for general usage. I proposed a similar mode in #790, which includes a maintenance mode page.

[2017-06-02 02:42] kittiu commented on #828
@lasley I am still not very clear. I skim through #790 and it is about updating the modules, right? Are you suggesting this maintenance mode can be part of it?
note: I and @newtratip are very new to OCA. so, please feel free to suggest. :)

[2017-06-02 08:06] dreispt commented on #828
Is this addressed by https://github.com/OCA/server-tools/pull/833 ?

[2017-06-02 09:35] yajo commented on #828
An idea that always floated through my mind to achieve this is that under maintenance mode, every call to `write`, `delete` and `create` should be aborted.

An "easy" way to achieve this would be to require configuring a 2nd db user to be used in cursors under maintenance mode. Such user should have readonly access. A simple ribbon should appear while under that mode, both front and back ends.

Fo

[2017-06-05 00:55] arafatx commented on #747
Related issue here. No solution yet https://github.com/OCA/server-tools/issues/822#issue-224668073

[2017-06-07 02:52] arafatx opened #850 "[10.0] Module not completely uninstalled. Left a non-working menu in Task Management"
After uninstall the module from the app list, there is a non-working menu in Task Management (screenshot attached). When clicking on the menu, the following message appear:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/site-package

[2017-06-07 07:46] pedrobaeza commented on #850
It seems you have to remove the menu (that you added at first instance) before uninstalling the module.

[2017-06-07 07:46] #850 closed, assigned to nobody

[2017-06-08 14:41] cmsalmeida opened #852 "Migration to version 10.0"
attachment_base_synchronize
external_file_location

[2017-06-08 14:44] #852 closed, assigned to nobody

[2017-06-08 16:12] cmsalmeida commented on #565
Hi I'll migrate:
- attachment_base_synchronize
- external_file_location

[2017-06-08 16:20] florian-dacosta commented on #565
@cmsalmeida
There is an existing PR for attachment_base_synchronize :
https://github.com/OCA/server-tools/pull/763

You can review it.

For external_file_location, no PR for now, feel free to migrate it indeed.
Thank you

[2017-06-08 19:59] lasley opened #853 "[RFC] Service Oriented Odoo"
I am working on a new architecture design to split Odoo across multiple dedicated application instances, all linking to the same database & file store. This will provide us somewhat of a service oriented approach to Odoo, without having to actually distribute via events.

In my bit of experimentation before creating this RFC - I was able to DoS the website application instance, but the web instanc

[2017-06-08 20:31] Garamotte commented on #853
If you mean `ir.cron` by "scheduled tasks", disabling them is already possible (at least in workers mode, I didn't check in threaded mode) in Odoo's configuration file: `max_cron_threads = 0`.
(Edit : Looking at the code, it seems to work in both workers and threaded modes)

[2017-06-08 21:29] dreispt commented on #853
AFAIK Odoo application server is designed to be able to scale by adding more workers or more application servers side by side.
The restriction is that they must share the same fileserver (for session and attachment data) and db server.
And you can setup your load balancing so that web client request to a group of app servers and website requests go to another group of app servers.

If you have no

[2017-06-09 07:43] yajo commented on #853
Yeah, I was going to say exactly what @sylvain-garancher and @dreispt just said: all is already there, still from the pre-docker era.

If you share the same base image among backend and frontend instances, you can just launch the frontend ones adding `--max-cron-threads=0` to the boot command.

I hope that soon [Infinit](https://infinit.sh/) hits 1.0  and makes filestore sharing much easier.

[2017-06-09 10:14] cmsalmeida commented on #565
Hi,
I'll migrate:
 - attachment_base_synchronize
 - external_file_location
(the last even not be in list)

[2017-06-09 10:28] cmsalmeida commented on #565
@florian-dacosta
I didn't saw it in top list.
But how could I migrate external_file_location without migrating attachment_base_synchronize dependency?
How to have both in same branch?

[2017-06-09 10:36] Garamotte commented on #565
You can create a branch based on the PR's branch, and rebase on 10.0 when the PR is merged.

[2017-06-09 10:56] cmsalmeida commented on #565
git fetch origin refs/pull/763/head:10.0-mig-external_file_location
git format-patch --stdout origin/10.0..origin/9.0 -- external_file_location | git am -3
would this be ok? so I can start migrating...

[2017-06-09 14:36] lasley commented on #853
Hooray thanks @sylvain-garancher, @dreispt, @Yajo - you are most certainly right - this works out of the freaking box! I ❤️  Odoo

Have you looked into GlusterFS? This is the [recommended approach by Red Hat](https://www.redhat.com/en/technologies/storage/gluster)

[2017-06-09 14:36] #853 closed, assigned to nobody

[2017-06-09 15:06] rvalyi commented on #853
@lasley @dreispt I also inform or remind you that there is a PR and other prototypes around of a Redis based scalable Odoo session model:
https://github.com/odoo/odoo/pull/12515

I would be very happy to this is feature alive and OCA maintained somewhere...

[2017-06-12 07:20] yajo commented on #565
Here you have the docs for checking out a PR locally: https://help.github.com/articles/checking-out-pull-requests-locally/
And here to migrate an addon to v10: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
😊

[2017-06-12 07:42] yajo commented on #853
Yeah @lasley I already looked into GlusterFS. Indeed the best production solution as of today, but I still keep the eye pealed for Infinit since it seems to have a better design, and [a Docker volume plugin](https://infinit.sh/documentation/docker/volume-plugin) (they were bought by Docker for some reason...).

[2017-06-12 15:43] lasley commented on #853
@Yajo Ohhhhhh that's nice- I'm gonna have to keep an eye on Infinit too!

[2017-06-18 15:54] MosabWadea opened #861 "ERROR "auth_signup_verify_email" is missing a module"
hello
I am trying to install `auth_signup_verify_email` on my odoo 10.0 but it is giving me this error:

`Unable to install module "auth_signup_verify_email" because an external dependency is not met: No module named validate_email`

I have installed the `validate_email` for python using `pip install validate_email` and still the same issue

[2017-06-18 16:13] pedrobaeza commented on #861
You haven't installed the Python library in the correct environment or you won't get the error. Maybe you haven't restarted your Odoo server. Anyway, it's not a fault of the module itself, so I close the issue.

[2017-06-18 16:13] #861 closed, assigned to nobody

[2017-06-19 05:03] NaziburR opened #862 "odoo with nosql"
Is there any way to connect odoo with nosql database?

[2017-06-19 06:38] Garamotte commented on #862
No, Odoo can only use PostgreSQL.

[2017-06-19 14:03] MosabWadea commented on #861
OK good
Can you please help me to know which validate_email module to install or if there any specific thing I should do?

[2017-06-19 14:08] pedrobaeza commented on #861
It's a Python library, not a module.

[2017-06-19 14:24] MosabWadea commented on #861
yes I am familiar with that and I have installed the lib using `pip install validate_email` and this is the response of the command after I run it again:

[code]

then I ran `pip install --upgrade pip` and this is the response:

`Requirement already up-to-date: pip in $HOME/.local/lib/python2.7/site-packages`

I think the library may not be installed in the correct location.. I have restarted odoo

[2017-06-19 14:33] pedrobaeza commented on #861
You have to check with PYTHONPATH is using your Odoo. Maybe it's using a virtual environment, but as said, this is not the place for helping you with deployment issues.

[2017-06-19 16:33] lasley commented on #862
Hi @NaziburR - Sylvain is correct in the sense that you cannot store your Odoo data on NoSQL. I did, however, make a PoC of an Elasticsearch module [here (v9)](#645) and [here (v10)](#660). Dev has somewhat halted though, although the PoC works last I remember. We'll probably get back to it in the next few months.

I'm going to close this seeing as we've answered the question  from all angles at t

[2017-06-19 16:33] #862 closed, assigned to nobody

[2017-06-21 10:43] mariothiermann opened #864 "Mass Editing v10"
I try to mass edit the many2many field public_categ_ids in product_template.

It works proper if i choose one record but if i choose more then one the following error appears.

[code]

Actually i just need mass editing, how the name says, for many records.

[2017-06-21 10:55] pedrobaeza commented on #864
Please put complete stack trace.

[2017-06-21 11:09] mariothiermann commented on #864
Ok got it. i deinstallad the module for product bundle and it works like it should.

Thank you for answering

[2017-06-21 11:14] #864 closed, assigned to nobody

[2017-06-21 14:22] rgarnau opened #865 "[10.0][server_environment] ImportError: No module named server_environment_files"
After https://github.com/OCA/server-tools/pull/640 was merged now we are getting the following error in a database where the repo server-tools is used.

[code]

cc @rousseldenis

[2017-06-21 15:13] rousseldenis commented on #865
@rgarnau Do you have the module server_environment_ir_config_parameter module installed ?

[2017-06-21 15:20] rgarnau commented on #865
Hi @rousseldenis - already fixed the error. My mistake! Thanks!

[2017-06-21 15:20] #865 closed, assigned to nobody

[2017-06-21 15:22] rousseldenis commented on #865
@rgarnau The problem comes from the static directory. I create a PR to remove it

[2017-06-21 15:35] rousseldenis commented on #865
#867

[2017-06-22 05:27] NaziburR opened #868 "Tried to connect odoo 10 with MySQL database"
I have tried to connect odoo 10 with MySQL database using External Database Sources. But I am getting this error. How to solve this issue?
`ParseError: "Wrong value for base.external.dbsource.connector: 'fdb'" while parsing file:///C:/Program%20Files%20(x86)/Odoo%2010.0/server/odoo/addons/base_external_dbsource_firebird/demo/base_external_dbsource.xml:3, near
<record model="base.external.dbsource"

[2017-06-22 05:36] lasley commented on #868
Hi @NaziburR - You either need to install the `fdb` Python package into your Odoo environment, or uninstall the `base_external_dbsource_firebird` module from your Odoo instance.

I am closing this, please drop your feelings in odoo/odoo#14850 - which is why we have this ghettoness

[2017-06-22 05:36] #868 closed, assigned to nobody

[2017-06-27 10:24] nfortea opened #878 "[v8] No letsencrypt renovation"
module: letsencrypt
version: 8.0

**Steps to reproduce**
- Our letsencrypt cert has expired without renovation. Was probably misconfigured.
- We correct this by adding
`odoo ALL = NOPASSWD: /usr/sbin/service nginx reload` to /etc/sudoers.d/letsencrypt
- We add this to our ngnix configuration:
[code]
**Current behavior**
Our odoo log:
[code]
There isn't file L242X51Tlxcro5wRU5FYE8rnTPCTQk1Qd7W3Zl50

[2017-06-29 16:25] artux404 opened #879 "[10.0] [sentry] NameError: name 'raven' is not defined"
After #761 was merged we are getting the following error "NameError: name 'raven' is not defined".
This happens because the sentry module has the static directory inside. It must be removed to solve the issue.

[2017-06-29 19:58] bealdav commented on #879
PR https://github.com/OCA/server-tools/pull/881

[2017-06-30 07:47] artux404 commented on #879
@bealdav if you remove the static folder, problem is solved. it happened similar issue for module server_environment_ir_config_parameter, and static folder was removed but I've seen you've found another workaround. Hope that will be merged as soon as possible.

[2017-06-30 07:48] pedrobaeza commented on #879
That's not the actual solution, as the static folder can be there for a lot of reasons. See https://github.com/OCA/server-tools/pull/883. I close this issue as there's a PR already.

[2017-06-30 07:48] #879 closed, assigned to nobody

[2017-06-30 07:51] artux404 commented on #879
@pedrobaeza Okk, perfect. Thx

[2017-06-30 23:13] lasley commented on #790
Closing to track in #882

[2017-06-30 23:13] #790 closed, assigned to nobody

[2017-07-02 08:38] puakinsin opened #884 "Unable to install "Verify email at signup""
I have installed validate_email with the following command
$ sudo pip install validate_email

and when I tried to install the module the following traceback popped up

[code]

[2017-07-02 10:19] pedrobaeza commented on #884
You have other module that modifies signup/login screen and it's incompatible with this one. Try on a fresh DB and you will see it installs.

[2017-07-02 10:19] #884 closed, assigned to nobody

[2017-07-03 09:37] sebastienbeau opened #885 "8.0 Incompatibility between base_view_inheritance_extension and stock_packaging_usability_ul"
If you try to install the module base_view_inheritance_extension with the module stock_packaging_usability_ul from here : https://github.com/OCA/stock-logistics-tracking
The installation fail.
I do not have the time to look at here more (maybe latter) , but as I have detected the issue I think it worth to share it.

[2017-07-04 09:27] nfortea commented on #878
Nginx site error log is:
`2017/07/04 09:20:40 [error] 10949#0: *2 open() "/usr/share/nginx/html/.well-known/acme-challenge/vkhrTE1vzAbhkpqQyiDCTk_rOH4hAqcB7wahyfKuciE" failed (13: Permission denied), client: 78.47.33.28, server: oficina.planeasoluciones.com, request: "GET /.well-known/acme-challenge/vkhrTE1vzAbhkpqQyiDCTk_rOH4hAqcB7wahyfKuciE HTTP/1.1", host: "oficina.planeasoluciones.com"`

My ng

[2017-07-05 08:26] StefanRijnhart commented on #885
I have a problem installing a module that modifies &lt;xpath expr="//field[@name='invoice_line']/tree/field[@name='discount']"> from account.invoice_supplier_form: Element cannot be located in parent view. See buildjob https://travis-ci.org/OCA/account-invoicing/jobs/248811991 from PR https://github.com/OCA/account-invoicing/pull/284. The problem does not occur if base_view_inheritance_extension i

[2017-07-05 08:50] StefanRijnhart commented on #885
Managed to solve my problem by changing the order of the attributes. Seems like base_view_inheritance_extension applies the attributes atomically and then searches the view again for the given xpath expression. As it happened, my first attribute invalidated the expression so the second attribute could not be applied anymore:

[code]

[2017-07-05 08:53] StefanRijnhart commented on #885
@sebastienbeau the same thing happens in https://github.com/OCA/stock-logistics-tracking/blob/8.0/stock_packaging_usability_ul/wizard/stock_transfer_details.xml#L20. Try putting the attribute that changes the button's name last.

[2017-07-05 10:43] hbrunn commented on #885
yes, makes sense to add this to the list of known bugs. not sure if it's simple to solve though, and the workaround seems straightforward enough

[2017-07-05 14:42] nfortea commented on #878
Im going to cry 😿

[2017-07-06 08:03] devinhuang opened #888 "[10.0] [base_external_dbsource] PostgreSQL Password is not in clear, will faile the test connection"
When we created a PostgreSQL connection, the password must in clear.
If not, it will failed the [Test Connection].

After traced the code, I found the method `connection_open_postgresql`  should use `self.conn_string_full` instead of `self.conn_string`

![issue](https://user-images.githubusercontent.com/10579316/27901375-68972efe-6264-11e7-9623-91234ebee9b7.png)

[2017-07-06 16:05] nfortea commented on #878
God has killed a little kitten

[2017-07-06 16:09] lasley commented on #878
Looks like a permissions issue.

[code]

It's probably not writeable by Odoo, or readable by Nginx

[2017-07-06 16:30] hbrunn commented on #878
and check your nginx block about the well known path, comparing it with what the documentation says

[2017-07-07 08:23] nfortea commented on #878
First of all, thanks a lot for your help.
I have revised configuration and add permisions to odoo user and group to directory as well as well known path in sites-enabled.
My site.conf:
[code]
But I continue receiving:
[code]

[2017-07-07 13:59] diggy128 opened #891 "[base_custom_info] Feature request: Properties with several selected values"
Are there any plans to introduce one2many or many2many properties?

[2017-07-07 14:08] pedrobaeza commented on #891
No, I think you are mixing concepts. What do you want to achieve?

[2017-07-07 14:11] diggy128 commented on #891
Maybe I should rephrase:
As I can have values of string, float, many2one type, I want to have one2many values.
eg Have a property Dietary Groups and be able to select Halal AND Kosher AND Vegan as values.

[2017-07-09 15:54] pedrobaeza commented on #891
The text is still incorrect. You don't want a One2many. You want a field where you can select more than one value. That's not an intended feature for now because that makes more difficult data-mining, but it can be added if someone contributes it.

[2017-07-10 06:46] diggy128 commented on #891
After taking a better look at the code, I think what is needed is a field to select multiple options for a value.
In any case, I just started backporting base_custom_info to v8 and I need this feature. I just wanted to check if there is anyone working on this particular feature so as not to duplicate.
In any case once finished porting, I'll create a pull request and then discuss the best way to im

[2017-07-10 07:34] yajo commented on #891
Right now those are not supported, but can be added if anybody has the need and opens the corresponding PR.

I guess this is the correct answer to your question, so I'm closing this for now, feel free to reopen if needed.

[2017-07-10 07:34] #891 closed, assigned to nobody

[2017-07-10 16:57] lasley commented on #888
Thanks for the report @devinhuang - fixed in #895

[2017-07-13 07:45] wim-a opened #900 "Base_import_match v9: Cannot create new import match in settings"
I installed base_import_match on Odoo 9E. When I try in the settings to create a new import match, and I want to select the model, I get the following error message:

[code]

[2017-07-13 08:02] yajo commented on #900
Fix in https://github.com/OCA/server-tools/pull/901, closing here to track progress there.

[2017-07-13 08:02] #900 closed, assigned to nobody

[2017-07-21 18:49] LarsSchmidtZ opened #905 "[10.0] How do i install letsencrypt?"
Hi, i am completly new to odoo and i do not understand, how a can install letsencrypt.

i copied letsencrypt folder into addons folder. But it does not show up in App Section of odoo.

[2017-07-23 17:19] pedrobaeza commented on #905
Please ask these kind of things in Odoo forums as this issue tracker is for bugs with the modules.

[2017-07-23 17:19] #905 closed, assigned to nobody

[2017-07-25 12:38] andhit-r opened #908 "[auth_totp][9.0] issue with firefox?"
I tried TOTP on runbot. Here are my steps:
1. I generate Authentication Apps/Devices for Demo user using FreeTOTP on android
2. I activate MFA enable
3. Log out
4. I log in. After confirming MFA code, internal server error shows.
5. I refresh the browser. Invalid MFA code warning showed.

I tried with firefox first because it is my default browser. Then i tried with chromium. It worked. Can someon

[2017-07-26 09:13] PereSau opened #910 "8.0 Super Calendar: It do not display in the next months."
We are using the super_calendar module (version: '8.0.0.2.0' in Odoo 8 Debian 8) for several months, and it’s very useful.
We configure Project and Task with start and end dates but we have an important trouble, the lines do not appear in the next months, only in the first month. In the example, Project and Task start in Juny and end in August:
![1 super_calendar_projects_captura de pantalla 2017-

[2017-07-26 16:05] pedrobaeza commented on #910
Have you refresh values?

[2017-07-26 18:17] PereSau commented on #910
Of course Pedro, but this example is independent of it, the last week in June is the first in July and it does not appear in July.

[2017-07-26 18:25] pedrobaeza commented on #910
Then I can't help you as I'm not a direct user of this module (as I don't like the approach of "copying" data). Let see if other OCA member has faced the problem.

[2017-07-29 17:35] hmrodrigues opened #914 "[10.0][password_security] Internal server error on wrong login"
Having the module password_security installed, if a login is incorrect, instead of showing the wrong login message, it shows a internal server error.

Steps to reproduce:
- On Odoo 10, install password_security
-  Log off and log in with a incorrect combination

Expected
- On a wrong login, show the  **Wrong login/password** message

Best Regards,
Hugo Rodrigues

[2017-07-29 23:46] lasley commented on #914
Hi @hmrodrigues - There is no `password_policy` module that I know of. Do you mean `password_security`?

[2017-07-30 13:04] hmrodrigues commented on #914
@lasley yes sorry my bad. I fixed the title and issue

[2017-07-30 17:34] lasley commented on #914
@hmrodrigues Hmmmm it's working fine for me on Runbot. On a hunch, I installed `website` & was then able to replicate the issue.
[code]

[2017-07-31 19:07] renatonlima opened #915 "audit log"
Hello guys,

I am using auditlog in v8.0 and it works fine, but I think there is a problem. I'm monitoring an object, example: res.partner, but does not monitor relational fields, I think it's very important to have this information because if someone changes partner bank account (relational field), it should appear in res.partner log. Similarly, if you are monitoring a sales order and changes a s

[2017-07-31 20:15] lasley commented on #915
@renatonlima - Just to confirm, you mean that when the data inside of the relational field is changed? Or just the relation itself? I.E. changing the analytic account on a sale order line from A to B, or changing the name of analytic account "A" to "B"?

[2017-08-01 16:14] AaronHForgeFlow opened #919 "[9.0]date_range. Inconsistent error."
Hi all,

The wizard "Generate Date Ranges from data_range module" shows the typical error when a required field is not given. This shows only when the unit_of_time selected is ''years".  The error is related with the unit_of_time field:

![image](https://user-images.githubusercontent.com/19620251/28835053-71042fc6-76e4-11e7-889d-910d7d360b20.png)

However, the unit_of_time is given:

![image](http

[2017-08-03 16:54] simmatica opened #923 "[10.0] auto_backup. Notification to followers of subtypes not sent"
In the code:
Wrong
                subtype=self.env.ref(
                    "auto_backup.mail_message_subtype_failure"
Correct
                subtype="auto_backup.mail_message_subtype_failure"

Wrong and undefined subtype
                subtype=self.env.ref("auto_backup.failure")

[2017-08-04 11:30] anniquetapha opened #924 "ValueError: dictionary update sequence element #0 has length 20; 2 is required"
module: auditlog
version: 10.0

**Steps to reproduce**
- ...When i create a read audit on a model, and i try to read open the records in that model, it gives me "Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 638, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 675, in dispatch
  File "C:\Program Files

[2017-08-04 15:18] dreispt commented on #655
This issue just popped up again. Any chance someone got this working?

[2017-08-04 15:21] pedrobaeza commented on #655
The comment remains the same: if you don't have the mail registered in a partner, the follower is not added. Why this issue is not in OCA/social?

[2017-08-04 15:47] dreispt commented on #655
Maybe it should have been an ML discussion instead.
While we're at it, AFAICS the responsible method is [mail_thread.message_new()](https://github.com/odoo/odoo/blob/10.0/addons/mail/models/mail_thread.py#L1318), but I see no Followers being added from the message CC list.
(The CC emails are registered as Users/Partners).

[2017-08-07 07:14] yajo opened #927 "[9.0][module_auto_update] Remove hacks from module_auto_update"
Now that https://github.com/odoo/odoo/pull/18597 is merged, we can safely remove workarounds from https://github.com/OCA/server-tools/blob/9.0/module_auto_update/models/module.py#L54-L68

[2017-08-07 07:18] pedrobaeza commented on #927
Please make the PR and also forwardport changes made in 9.0 to 10.0

[2017-08-07 14:53] eLBati commented on #923
@simmatica thanks. Could you open a pull request?

[2017-08-07 18:06] simmatica commented on #923
ok @eLBati

[2017-08-16 05:23] nguyenductamlhp commented on #914
Hello @lasley, I have tried your glue module and it was still error with Live Chat module.
I try to fix this error in [this](https://github.com/OCA/server-tools/pull/938)

[2017-08-16 12:49] dreispt commented on #908
Maybe the same issue as [this](https://github.com/OCA/server-tools/pull/703#issuecomment-315018876)?
cc @lasley @obulkin

[2017-08-16 15:10] pedrobaeza commented on #655
In fact it's here where you call the method for deducing the followers: https://github.com/odoo/odoo/blob/08886028317bee684adca5d4850a7127a829e673/addons/mail/models/mail_thread.py#L1509

You can make a module that overwrites `_message_find_partners` method (or `_find_partner_from_emails` sub-method) that creates a partner from the mail address when no partner is found with that email). It easy to

[2017-08-16 15:14] lasley commented on #908
Hmmm it seems the error is coming from Werkzeug. Only reproducible in Firefox...

[code]

[2017-08-16 15:17] lasley opened #939 "auth_totp + password_security - TOTP needs to come first"
When `auth_totp` and `password_security` modules are both installed on a server and the user needs a password change, the password change is required before MFA has been validated.

This is a potential security hole that would allow an unauthorized user to change the password of an account without access to the MFA device. It's no more of a hole than is already existing in core though, because the

[2017-08-16 15:28] hbrunn commented on #939
this is one of the use cases I had in mind for https://github.com/OCA/server-tools/pull/876
You can simply depend on this module and conditionally on `auth_totp` in `password_security`, then you're done. Or, what's nicer, implement my proposal of conditional reverse dependencies in this PR, then you can add this to `auth_totp`'s manifest where it belongs imho

[2017-08-16 15:33] dreispt commented on #908
Well, my default browser is Firefox and my `auth_totp` tests were done with it.

[2017-08-16 15:50] lasley commented on #939
Exactly what I needed, thanks @hbrunn! I agree `rdepends_if_installed` is the best way to go here, so I'll look into implementing. Were you planning on forward porting the module or should I also plan on that?

[2017-08-16 15:53] grindtildeath commented on #908
I also get an Internal Server Error on Firefox, and get the same error in the logs using this module with odoo v10. However the login is successful as a refresh of server URL will display odoo main page.

[2017-08-16 16:00] hbrunn commented on #939
glad it's useful. I fixed your comment and rebased, so you could do the honors if you like.

At the moment, I don't have plans for forward porting, so go ahead if you need it. And yes, given you guys always hammer on LGPL stuff, I won't complain if you change the license in the process ;-) Shouldn't be so much trouble, this part of the code didn't change a lot in the past years.

[2017-08-16 16:07] lasley commented on #939
Woot I'll hit the button once we get a CI 🍏 !

Sweet, I'll tackle the 9 and 10 then. Doing the migrations should get me deep enough into the operation of the code so that I have a better idea of how to implement the reverse depends.

Hooray! 😆  that was admittedly going to be my next question

This was my thought as well - here's to hoping for a 1:1 conversion 🍻

[2017-08-17 02:34] obulkin commented on #908
Thanks for the info, everyone. I've traced this issue back to inconsistent behavior in [``redirect_with_hash``](https://github.com/odoo/odoo/blob/10.0/odoo/http.py#L159), which returns a ``Response`` object when the browser is Firefox and a plain string in every other case. A fix is up for review here: https://github.com/OCA/server-tools/pull/941

[2017-08-17 06:59] mpdevilleres opened #942 "[10.0][auto_backup] Sanity Check for test_db_backup"
there are 2 test functions with the name test_action_backup_sftp_remote_open located at line 150 and 162.

    # line 150
    def test_action_backup_sftp_remote_open(self):
        """ It should open remote file w/ proper args """
        rec_id = self.new_record()
        with self.mock_assets() as assets:
            with self.patch_filtered_sftp(rec_id):
                conn = rec_id.sftp_conne

[2017-08-17 21:54] dreispt commented on #908
Fixed by #941

[2017-08-17 21:54] #908 closed, assigned to nobody

[2017-08-18 15:48] #888 closed, assigned to nobody

[2017-08-21 04:22] arafatx commented on #747
Not sure what have been changed when I updated the Odoo version, this one got solved.

[2017-08-21 07:06] pedrobaeza commented on #747
Closing then.

[2017-08-21 07:06] #747 closed, assigned to nobody

[2017-08-21 22:52] legalsylvain opened #944 "[RFC] new api.groups decorator for function"
Hi all,

I think about a new decorator like
[code]
 to decorate function that are call by function in a xml file like `<button name='function_name' />`.

The decorator will check if current user is a member of one of the defined groups, if not an access error is raised. Then, in the render view, the button is hidden if the user is not a member of the defined groups automatically

That new decorato

[2017-08-21 23:08] lasley commented on #944
I think this is a good idea - security by obscurity (hiding the buttons) doesn't work.

Question is where to put this. I made an [OCA Python module](https://github.com/LasLabs/python-oca) that has an `api.foreach` implementation in it, but there [wasn't much movement on the getting it into OCA front](https://odoo-community.org/groups/contributors-15/contributors-53712?mode=thread&date_begin=&date_

[2017-08-22 07:47] pedrobaeza commented on #944
I still think it's a good idea to have an OCA API library. @lasley you only need to create the repo following the method put in the OCA instance task ("Create a project") and make the PR.

About this feature, :+1: for adding it, but not with the decorators `add_groups` and so on. This should be handled with the inheritance: if you add any new group in the decorator on an overwritten method, then t

[2017-08-22 10:03] legalsylvain commented on #944
Hi ! Thanks for your answer. A OCA API library LGTM. Great idea !

You're right, it could be simplified indeed.

Not sure it will cover all the needs, but we'll talk about it in a specific PR against the new repo.

@lasley , please ping me when the repo is created, I'll began a POC then and try to finish the work in the next Open (/ Closed) Days.

[2017-08-22 12:39] anniquetapha opened #946 "Audit Log Read Problem. ValueError: dictionary update sequence element #0 has length 20; 2 is required"
module: auditlog
version: 10.0

**Steps to reproduce**
- ...When i create a read audit on a model, and i try to read open the records in that model, it gives me "Traceback (most recent call last):
File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 638, in _handle_exception
File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 675, in dispatch
File "C:\Program Files (x86)

[2017-08-22 12:44] anniquetapha commented on #747
@arafatx i am having the same issue and i already have the odoo 10 installed. What else did you update because i can not seem to fix this issue

[2017-08-22 12:46] anniquetapha commented on #747
@pedrobaeza if you know what solved this issue, can you please explain it because I am not seeing any solution in this thread. Please help

[2017-08-22 14:05] pedrobaeza commented on #747
@Annique15, update as stated. If not, you should reproduce the error on runbot and put in another issue the steps to reproduce the problem.

[2017-08-22 16:56] lasley commented on #944
Good point - at the time I didn't have permissions to do this. I'm not finding this process in the OCA instance though- I'll dig a bit more & report back with the new repo.

[2017-08-24 15:29] anniquetapha commented on #747
@pedrobaeza   I already created an issue. Here is the link https://github.com/OCA/server-tools/issues/946

[2017-08-31 14:32] Troublicious opened #959 "[10.0 , 9.0]mass_editing: removing a value of a many2many field with mass_editing button delete all values ..."
Hi all,
a big problem exists with the mass_editing module : when removing a value from a many2many field (eg tags) which contains multiple values with a mass editing button, all the values are deleted !
This is absolutely not the expected behaviour, only the chosen value should be removed ...
(the Add and Set choices are working correctly)
Example:
add tags Distributor, Partner, Employee on a cont

[2017-09-06 00:44] elicoidal opened #965 "[RFC] Two-Factor Authentication (TFA) via mobile app"
Hi,
It is quite frequent in China to have TFA performed via mobile (mostly Wechat, Alibaba or QQ) with the following procedure:
1. the user provides the password in the website (in this case Odoo)
2. the website displays a QR
3. User scans the QR in an APP installed in his telephone
4. Phone app acknowledges the scanning and phones back to the website service
5. User is allowed to sign in the webs

[2017-09-06 00:45] elicoidal commented on #965
@lasley @pedrobaeza @Yajo @moylop260 @dreispt @gurneyalex @sbidoul

[2017-09-06 00:53] lasley commented on #965
@elicoidal Are you looking for [auth_totp](https://github.com/OCA/server-tools/tree/10.0/auth_totp)?

[2017-09-06 01:26] elicoidal commented on #965
Thanks @lasley That is very similar indeed: password authentication method is different. Not sure we can inherit this module to achieve the desired procedure during the second step.

[2017-09-06 08:02] yajo commented on #965
I wouldn't recommend to develop such an addon. `auth_totp` is quite awesome and easy to use, and works with an industry standard with many client apps. Besides, it lets users choose their security level. Fair enough, isn't it?

Maybe a good extension would be to do not let users choose, but enforce a given policy from the system, but it feels quite good right now as it is.

[2017-09-06 09:27] elicoidal commented on #965
@yajo I will test the module and see if it can fulfill my requirements.
Nevertheless, my proposal is to have another method which can be complementary to the current one.
(as said, I will test and come back to you)

[2017-09-06 10:42] #587 closed, assigned to nobody

[2017-09-06 14:27] lasley commented on #965
@elicoidal - I honestly have not heard of the process you are describing. Are you sure that the QR code isn't being scanned into the phone app for registering MFA devices?

We're looking at adding in the ability for push MFA, such as that which exists in [LastPass Authenticator](https://helpdesk.lastpass.com/multifactor-authentication-options/lastpass-authenticator/), but the process is nearly ide

[2017-09-07 15:09] eLBati commented on #942
@mpdevilleres thanks. Could you open a PR to fix this?

[2017-09-08 02:37] abby6684 opened #971 "test connection to sql server error"
help me please, I want to test connection on odoo 10 to sql server with External Database Sources but if I am test Connection always error like this.

![screenshot from 2017-09-08 09-35-10](https://user-images.githubusercontent.com/5927019/30193732-354d07e8-9479-11e7-8be0-e6bb77e9cee8.png)

[2017-09-10 17:49] vcloud9ray opened #974 "[9.0] auditlog - log_id on table auditlog_log_line is missing an index"
In cases where a large number (more than 100,000 ***) of audit entries are in the system, a simple DELETE query on AUDITLOG_LOG may not finish in any reasonable amount of time.

This is because there is a FK relationship (auditlog.log is related to auditlog.log.line via line_ids using the log_id field) between AUDITLOG_LOG and AUDITLOG_LOG_LINE and PostgreSQL needs to lookup log_id to delete the c

[2017-09-10 17:55] vcloud9ray commented on #339
FYI https://github.com/OCA/server-tools/issues/974 - auditlog - log_id on table auditlog_log_line is missing an index - DELETE WON'T FINISH due to missing index.

[2017-09-11 06:09] sebalix commented on #974
Hi,
It's weird, this index already exists in the 9.0 version of `auditlog`:
https://github.com/OCA/server-tools/blob/9.0/auditlog/models/log.py#L39

As this fix has been introduced later on the branch 8.0, are you sure you do not use an old 8.0 version on your 9.0 instance?

[2017-09-11 16:26] raycarnes commented on #974
Hmm.  Git tells me this is a 9.0 branch with HEAD of 1e935c0028dca77f67a92d00428c6354978e7326

Good to know it has been addressed.  You can close.

[2017-09-11 16:29] vcloud9ray commented on #974
Hmm. Git tells me this is a 9.0 branch with HEAD of 1e935c0028dca77f67a92d00428c6354978e7326

Good to know it has been addressed. You can close.

[2017-09-11 16:29] #974 closed, assigned to nobody

[2017-09-11 23:11] gdgellatly opened #975 "[Master] [Code Sprint] disable odoo online"
Uninstallable, the upload_data_thread code has been completely removed.  Didn't find the exact commit but appears its moved nowhere.  Anyway, disabling this module is enough for rest of V10 server-tools to at least load without error.

[2017-09-11 23:33] lasley commented on #975
@gdgellatly - 10.0 build is passing [on Travis](https://travis-ci.org/OCA/server-tools/builds/272736656) and the [`upload_data_thread`](https://github.com/odoo/odoo/blob/0fff391c381c58d60a9141464226741cc4df6ae6/odoo/tools/misc.py#L815) code still exists in 10.0. Am I misunderstanding something?

[2017-09-11 23:34] lasley commented on #975
Are you maybe referring to master? This method is removed in master.

[2017-09-11 23:36] gdgellatly commented on #975
@lasley yeah sorry, not sure what to do for these cases.  I want people to know what changes are needed for v11 as I come across them, to save some time, but don't want to clutter issues and PR's.

[2017-09-12 06:01] pedrobaeza commented on #975
OK, we can keep this issue opened until the 11.0 branch creation and take it into account then.

[2017-09-14 10:16] JordiBForgeFlow opened #981 "[9.0] [auth_signup_verify_email] seems to cause errors in Travis"
See: https://travis-ci.org/OCA/server-tools/jobs/275353505#L2403
Seems to be caused by the module testing the emails

cc @Yajo

[2017-09-15 09:02] JordiBForgeFlow opened #984 "[RFC][ir.cron] Define mutually exclusive crons"
We have a requirement to run multiple cron jobs that update the same set of records, but each cron being run at different frequency.  We want to make sure that they won't overlap causing concurrency errors.

For example:
* A daily cron job updates field X of the `stock.warehouse.orderpoint`
* An hourly cron job updates field Y of the same model

This will, sooner or later, end up with concurrency

[2017-09-17 09:33] codingforfun opened #987 "auth_admin_passkey v10 missing in wheelhouse"
Not sure where is the best place to report this.
I noticed that module `auth_admin_passkey` is missing in the [wheelhouse](https://wheelhouse.odoo-community.org/oca-simple) for v10 , although already ported to v10.
I tried locally if I can build it to check if somethings wrong with the setup, but it went fine.
I could build `odoo10_addon_auth_admin_passkey-10.0.1.0.0.99.dev2-py2-none-any.whl` with

[2017-09-17 09:53] sbidoul commented on #987
The nightly build scripts were partially failing silently since a few weeks. This should be resolved now.

BTW, note you can use [pypi](https://pypi.python.org/pypi/odoo10-addon-auth-admin-passkey/10.0.1.0.0.99.dev2) too.

[2017-09-17 09:53] #987 closed, assigned to nobody

[2017-09-17 10:33] codingforfun commented on #987
THX

[2017-09-19 15:08] lasley opened #992 "[RFC] security_debug: Disallow debug mode by ACL"
This module will provide a security group that will identify the only users allowed to enter debug mode. It will also contain an option to disable the restriction from within the `General Settings`, for those instances in which the admin does actually need an anon debug session.

The reasoning behind this module is that showing debug headers in a production environment is considered horribly bad p

[2017-09-19 15:10] lasley commented on #992
A nice to have that will likely end up on the Roadmap for this will be the exclusion of the traceback from the RPC responses. Those are another probe point, but it's not as ugly to the end (non-malicious) user.

[2017-09-20 07:24] yajo commented on #992
![captura de pantalla de 2017-09-20 09-17-53](https://user-images.githubusercontent.com/973709/30631488-ad27bdf2-9de4-11e7-8e63-01f840f7267d.png)

⬆️ This is what I see on that link you say. Doesn't seem to leak any information IMHO.

I think the easiest fix would be adding a `group="base.group_user"` to the block that contains the traceback, so only employees can see it. Possibly you'd say that o

[2017-09-20 15:07] lasley commented on #992
@Yajo - the only reason there wasn't a traceback is that 404 doesn't have one. I wasn't quite sure how to trigger an error with a traceback off the top of my head, so that was the best I could do without finding a real bug.

Well that's a damned good idea, thank you 😄 . I'm still going to need to think a bit for the backend side of things though.

I'm still torn on whether just standard employees

[2017-09-21 07:36] yajo commented on #992
You can try to patch for master, and then use OCB for the backport 😊

[2017-09-22 14:17] fferreras commented on #421
I override signup_prepare method and deleted 'signup_valid' from context. before calling super.

[2017-09-23 10:57] elicoidal commented on #965
@yajo @lasley test are fine: this is indeed a great module.
Having company policy to force the users to use TFA by default is a must

[2017-09-23 10:57] elicoidal commented on #965
closing on my side

[2017-09-23 10:57] #965 closed, assigned to nobody

[2017-09-23 15:48] lasley commented on #965
Worth noting- on our end we’re planning on leveraging this core to also allow MFA via email and possibly text messages. The latter I’m torn on though, because SMS is horribly insecure (worse so than email)

[2017-09-28 08:04] LoisRForgeFlow commented on #984
PR addressing this issue created: https://github.com/OCA/server-tools/pull/999

[2017-10-02 16:49] lasley commented on #782
I was planning on updating `auto_backup` to use [`connector_sftp`](https://github.com/OCA/server-tools/pull/985), which uses [`base_external_system`](https://github.com/OCA/server-tools/pull/993) and does include support for host key checking (as well as the overriding of it)

[2017-10-02 18:59] lasley opened #1006 "[RFC] Split Server-Tools for v11"
[Bringing this in from a mailing list thread for final discussion.](https://odoo-community.org/groups/tools-22/tools-44031?mode=thread)

From @dreispt (there's more in the thread, but this is the one that's still relevant right now and should be discussed):

https://docs.google.com/spreadsheets/d/1Xg95cW4TFMf_Lo5i_CZC_qOOfN8RgxPRc0LJTLTkdUI/edit?usp=sharing

cc @pedrobaeza @hbrunn @OCA/board

[2017-10-03 14:59] pedrobaeza opened #1008 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Repository split
As talked in [this mailing list thread](https://odoo-community.org/groups/tools-22/tools-44031?mode=thread) this repository is very crowded, so for 11.0, an split has been done across several repositories. Please check current spreadsheet for the initial distribution plan. If there's a module not inc

[2017-10-04 20:07] lasley commented on #944
Hmmm ok yeah so I can't find a process for repo creation, so I was just going to go ahead and create the repo - but it seems I don't have permissions. @pedrobaeza would you mind creating a blank OCA/python-oca repo so that I can submit a PR to it?

[2017-10-05 09:03] simahawk opened #1011 "V9 broken"
@lasley sounds like 9.0 is broken because of https://travis-ci.org/OCA/server-tools/jobs/282692962#L1764-L1780

[2017-10-05 14:50] lasley commented on #1011
@sylvain-garancher - any thoughts on this one? It's kind of weird that the test outright broke, instead of one of the standard cursor closed/timeout issues we've been seeing.

[2017-10-05 14:57] Garamotte commented on #1011
I'm looking at it, but I didn't found the root cause yet.

[2017-10-05 15:55] Garamotte commented on #1011
Ok, found the issue, this is my mistake: I forgot to fix the `oauthlib` version in `requirements.txt`, sorry :(

Everything works well with `oauthlib==2.0.0`, but the test fails with `oauthlib==2.0.4`, because they changed the returned error. This is now a 400 (bad request) in case the redirect URI is wrong or missing, instead of the previous 401 (unauthorized): https://github.com/idan/oauthlib/co

[2017-10-05 15:59] lasley commented on #1011
What if we just look for one of the two errors?

[2017-10-05 15:59] lasley commented on #1011
IMO sticking the version to an old number will just make someone else, probably one of us, fix it later right?

[2017-10-05 16:00] lasley commented on #1011
Maybe we stick it for v9 and I fix it in 10?

[2017-10-06 04:10] Garamotte commented on #1011
I think it's better to keep the version used to develop the module on 9.0, if someone already used it, to avoid potential other behaviour changes. Maybe add a comment in the test, in case someone hits the issue again, to avoid spending time on an already resolved issue ;)

For the v10.0, update the lib of course ;)

[2017-10-06 14:57] sbidoul commented on #1011
@sylvain-garancher is it possible to make the code compatible with both versions of oauthlib?

[2017-10-06 15:22] simahawk commented on #1011
:+1: @sbidoul. If that's the only exception maybe you can check the package version (or rely on kind of response) and make it work w/ both versions and forget about double version maintenance.

[2017-10-06 16:30] lasley commented on #1011
That was my plan in v10, so we can just backport the change

[2017-10-06 16:31] Garamotte commented on #1011
As this is a simple error code check, we can check for 400 or 401, the behaviour is the same for our module.
A fix in the test to accept both versions would be to replace the assert by `self.assertIn(response.status_code, (400, 401))`.
I think the next assert should be updated too, by using `assertIn`, or two `assertEqual` with an `if response.status_code`.

[2017-10-07 11:14] naglis opened #1016 "[RFC] base_user_gravatar: use ui-avatars.com as fallback"
Hey,

saw this service on HN: [ui-avatars.com](https://ui-avatars.com/) - they allow to get an avatar with user's initials. What is nice is their URL can be passed to Gravatar.com as a fallback in case a user with given email does not have a Gravatar set.

### Considerations
* Does this idea sound good to others?
* What if the service is short-lived (in which case we would simply get no fallback)?

[2017-10-07 15:04] lasley commented on #1016
Interesting idea @naglis - I like the idea of a fallback avatar.

I wonder though - this is fairly simple to do in code vs. using an external service. Odoo already does something like it with the colored partner avatars. Have you played with this at all?

Regarding whether it should be an extension - that would probably be best yeah. I could see some instances in which this could be undesirable, a

[2017-10-09 09:54] dreispt commented on #1006
Bringing up this again was on my list, thanks a lot for bringing it up Dave.
Experience tells us that focused repositories have better direction and more motivated maintainers.
This repository covers too much different topics for it to be effectively maintained.
It also has signs of being too large, looking at the number of existing modules and open PRs.

The list spinoffs proposed is quite old, s

[2017-10-09 10:33] JordiBForgeFlow commented on #1006
@dreispt I do not see consensus, and at the same time I see that the PR's to v11 are occurring as we speak. I propose to defer this topic until v12, as it seems that this kind of structural changes need to be planned well in advance of a new release.

[2017-10-09 12:02] elicoidal commented on #1006
Unfortunately I have to agree that this conversation is starting too late: we need to plan now the repository structure for v12 NOW.

[2017-10-09 12:10] JordiBForgeFlow commented on #1006
OK, I have renamed the issue accordingly.

[2017-10-09 12:54] pedrobaeza commented on #1006
No, it can be perfectly done in v11, and more as repo has been emptied. I'm creating the repos next day.

[2017-10-09 14:41] lasley commented on #1006
I brought this topic up back in ~~June~~ August. My standpoint is that we should do it now or it will never get done.

[2017-10-09 16:35] JordiBForgeFlow commented on #1006
If @pedrobaeza creates the repos then it is ok. We have some PR's pending to merge to v11, and we'll wait until he is done to decide where to put them.

[2017-10-10 07:22] naglis commented on #1016
Thanks for the feedback @lasley.

I haven't attempted anything with code yet (knowing my artistic abilities, I'd most likely bodge it). I guess something [similar to this](https://github.com/odoo/odoo/blob/10.0/addons/web_editor/controllers/main.py#L76-L134) might work. I'll give it a try.

[2017-10-10 07:36] dreispt commented on #1006
@jbeficent It is not too late, the v11 branches are still empty.
AFAICR there was no opposition to this move, it just wasn't implemented.
Maybe @lasley has a link for the discussion.

[2017-10-10 07:39] JordiBForgeFlow commented on #1006
@dreispt no problem. We are so eager to start pushing to v11!!! I will wait for @pedrobaeza

[2017-10-10 07:43] pedrobaeza commented on #1006
I'm on it!

[2017-10-10 10:20] pedrobaeza commented on #1006
OK, I have created all the new repositories. You can start pushing to them. Closing this issue and including the document with the mapping on the migration issue.

[2017-10-10 10:20] #1006 closed, assigned to nobody

[2017-10-10 10:38] JordiBForgeFlow commented on #1006
Thanks!!

[2017-10-10 13:29] gurneyalex commented on #1006
thanks @lasley and @pedrobaeza

[2017-10-10 13:32] hbrunn commented on #1006
do we also want to ask people proposing new modules to server-tools in lower versions to move their PRs there? Would make sense imho
(edit: Of course only unmerged PRs that really introduce a new module)

[2017-10-10 13:35] pedrobaeza commented on #1006
Well, I haven't created branches for lower versions, but if you think it's interesting, then go ahead.

[2017-10-10 13:37] elicoidal commented on #1006
Shall we advertise it in the contributor ML?

[2017-10-10 13:39] pedrobaeza commented on #1006
Yeah, it can be interesting. And it should be part of next newsletter.

[2017-10-10 13:41] hbrunn commented on #1006
first time I review such a PR I'll create the branch - don't see a reason to do that beforehand now

[2017-10-10 13:42] pedrobaeza commented on #1006
OK, agreed

[2017-10-10 14:31] lasley commented on #1006
I created a ticket so we don't forget for the newsletter. Good idea

[2017-10-10 20:04] dreispt commented on #1006
To help people with what goes where, we should have v11 migration issues with the list of modules excepted to be migrated on each of the repos.

[2017-10-10 20:05] dreispt commented on #1006
Regrading the ML communication, it should done asap. In the next newsletter we will also mention that, with a link to the ML message.

[2017-10-11 15:56] smurf-U commented on #1008
[MIG]11.0 password security #1022

[2017-10-11 16:11] smurf-U commented on #1008
[MIG]11.0 password security #1022

[2017-10-11 17:15] pedrobaeza commented on #1011
Is this solved?

[2017-10-11 23:08] lasley commented on #1011
I haven't gotten to anything on my side yet for this - admittedly been down a rabbit hole with web hooks the past few days, and I'm too damned stubborn to stop now.

[2017-10-12 08:24] NL66278 commented on #944
👍 For having a decorator that does this. I had the idea to create a ```@privileged``` decorator that would do the same thing and that could be imported from a new tools module in server-tools.

But having the decorator a part of a pip library might be as well. I only wonder about the name @api.groups. Would that not be confusing as this is then not coming from the odoo api python module?

[2017-10-12 08:45] legalsylvain commented on #944
Hi @NL66278,

well, about the name space, I think that collision will not be possible, because the name will be @oca.groups and not @api.groups. (or something similar)

[2017-10-12 08:51] NL66278 commented on #944
@legalsylvain I was reacting to the first example use. Having ```@oca.groups``` would be great.

[2017-10-12 09:10] lmignon commented on #944
@legalsylvain It's a good idea!

I'd rather keep' oca' as a namespace package available to all oca packages. We could name this new package 'oca-decorator'. This package would provide 'oca.decorator'  (or oca.xyz)
[code]
About `groups` I'd prefer a more explicit name for example `allowed_groups`.

lmi

[2017-10-12 13:54] pedrobaeza commented on #944
@lasley this is the task where the process for a new repository/PSC is specified: https://odoo-community.org/web#id=264&view_type=form&model=project.task&action=468&active_id=2

[2017-10-12 14:32] lasley commented on #944
Omg thanks Pedro! For some reason I searched everything from Project to Repo, but didn't think to include "PSC". Derp!

I'll still need some additional rights in the OCA GitHub though - I don't have the new button:

![image](https://user-images.githubusercontent.com/7397578/31501570-79fd9f40-af1f-11e7-8a81-289d8e88b766.png)

[2017-10-12 14:35] pedrobaeza commented on #944
Try again now that I have changed your role.

[2017-10-12 15:37] lmignon commented on #944
@lasley @pedro Why `python-oca`? This name is meaningless. How do you plan to name the python package?

[2017-10-12 15:39] lasley commented on #944
@lmignon - I asked for suggestions and this was the best one. The python package is similarly named.

What's you idea? I'm all ears.

[2017-10-12 15:46] lmignon commented on #944
@lasley My main concern is to avoid the creation of a monolytic python package. If the primary goal it to provide new specialized decorators why not oca-decorator. The name should depend of the functional scope covered by the package or whatever you want. At least the name must be meaningfull. IMO 'python-oca' is too wide.

[2017-10-12 15:51] lasley commented on #944
I'm good with `oca-decorator`, although we'd need to structure the module a bit differently I think then to make the decorators top-level in the namespace. Pretty sure I had it that way originally, but we pushed it back to `oca.helpers` in LasLabs/python-oca#1

Anyways it's easy enough to make that change, and I think it would be better to discuss it in the context of code. Seeing as I made the re

[2017-10-12 15:54] lmignon commented on #944
@lasley the `oca`namespace must stay empty. Otherwise it will not be possible to create others python packages under the same namespace.

[2017-10-12 15:56] lasley commented on #944
Got it, so we would basically just want to rename our `helpers` package to `decorators`, then call that our schema for the Python stuff? Abstract E.g. `oca-package-sub` == `oca.package.sub`

[2017-10-12 16:01] lmignon commented on #944
yep :smirk:  that's the idea.

[2017-10-12 16:07] sbidoul commented on #944
Too bad `ocapi` is taken :smile_cat:

[2017-10-12 16:25] lasley commented on #944
https://github.com/OCA/oca-decorators/pull/1 submitted

[2017-10-12 16:26] legalsylvain commented on #944
I have a question about the structure of this code. (maybe my question is irrelevant, sorry)

Basically, I see two ways to write this code.

A) via a classical odoo module (in an existing or new repository). so, to use it, we have to write some

` from odoo.addons.my_oca_lib_in_module import my_decorator`

B) via a python lib.

It seems that you all are talking about the solution "B", and of cours

[2017-10-12 16:30] lasley commented on #944
Do we know how Odoo.sh handles pip dependencies?

IMO this is on them to fix the `external_depencies` key in the manifest - we have a lot of modules that use it. I don't think modules using this new library would be any different than, say, [`barcodes_generator_abstract`](https://github.com/OCA/stock-logistics-barcode/blob/10.0/barcodes_generator_abstract/__manifest__.py#L30) requiring `barcode`

[2017-10-12 16:31] rvalyi commented on #944
not to say Odoo.sh (or Odoo.hs for french people) is the next Runbot. Bet taken.

[2017-10-12 16:33] lasley commented on #944
😆  Yeah we know where [my bet lies on that one](https://github.com/OCA/runbot-addons/issues/144#issuecomment-335830820)

[2017-10-13 12:13] legalsylvain commented on #944
Indeed, but it is quite different. Of course, if you want a system that handle barcode generation, you should install barcode lib. the same for asterisk, etc...
but this is very limited, and maybe some users in the world are not installing such modules because they can't or they don't know how to do. but there is no alternative. to use barcode generation you need barcode library.

Here, it's diffe

[2017-10-13 13:04] dreispt commented on #944
Now that https://github.com/OCA/oca-decorators is available, this RFC can move there.

[2017-10-13 14:43] lasley commented on #944
@legalsylvain - I originally submitted a module for `api.foreach` before creating this as a library. Take a look at [this PR](https://github.com/OCA/server-tools/pull/615), and you will see why we abandoned this strategy.

Usage of the api was damned near impossible when you start accounting for an import path that is 60-70 chars, and a try/except that has to be put around each of the imports. Thi

[2017-10-15 22:37] LasseRafn commented on #1016
The api and underlying code is also open source if you dont like relying on third party 👍

[2017-10-16 08:15] legalsylvain commented on #944
I don't understand what is the try / except need in that solution.

To use a oca@foreach decorator define in a oca_api lib or module.  :

**Lib solution impacts**
deploy :
- pip install or via buildout. Saas limitation.

manifest file :

    'external_dependencies': {'python': ['oca_api']}

Python file :

    from oca_api import oca

**Module solution impacts**
deploy :
- pip install or download a

[2017-10-16 16:17] lasley commented on #944
The try/except is what we have to do when importing anything that is not core Odoo, so your examples would be the following instead:

[code]

But yeah with your module naming, it isn't nearly as bad as mine was.

I think a lot of this has to do with the fact that the module is not installing into a DB, and is not encapsulated to the environment as most modules would be. This means it is providing

[2017-10-16 16:53] legalsylvain commented on #944
Hi @lasley.

Ow thanks ! I thought that making dependencies to a module was enough to assume that the module is present, but rgreping all OCA code, i saw a lot of samples of what you talk. (a lot for report_xls, and connector).

I don't have the skills to understand security issues hre, due to a module. For me, if the module is not installed, the code of the module of oca_api should not be called.

[2017-10-16 17:01] lasley commented on #944
Take a look at https://github.com/odoo/odoo/pull/14850 for more info

Therein lies the problem. This is not the case - Odoo imports all modules within the `addons` path into memory. Due to this, imports on the module will succeed in any module - whether or not the dependent is actually installed.

This is core in Odoo, and realistically there is no circumvention. This is also why I do not co-host

[2017-10-16 19:35] legalsylvain commented on #944
Thanks for all this clarifications. It's a pity that odoo/odoo#14850 is not accepted.
I still think that making a lot of OCA modules depending on an external lib will surely limit use of these modules. But well, a module doesn't seems to be a solution indeed.
Regards and thanks a lot for your insight.

[2017-10-18 06:46] diggy128 opened #1031 "[8.0] users_ldap_push - Encoding error when trying to add LDAP values containing Unicode characters"
LDAP server: OpenLDAP
How to reproduce: Setup users_ldap_push module and try to change the user's display name to a unicode string such as "Δημήτριος", or create a user with a name containing unicode characters.
Happens every time: Yes
Method that exposes the error: _get_ldap_values

How it should work: Allow unicode characters in values for attributes that allow it.

[2017-10-21 21:56] Garamotte commented on #1011
I just created a PR to fix this issue: https://github.com/OCA/server-tools/pull/1034

[2017-10-23 21:29] ccandito opened #1037 "extension of base exception rule module"
Dear All,
it is possible to detail all steps for extend the exception rule module to invoice/account.
Regards
claudio candito

[2017-10-31 10:57] legalsylvain commented on #944
I close this issue. (moved into https://github.com/OCA/oca-decorators/issues/7)
regards and thanks for all your comments.

[2017-10-31 10:57] #944 closed, assigned to nobody

[2017-11-05 22:12] fmdl opened #1041 "[Security] auth_totp : can be bypass by xml_rpc"
1- install instance with auth_totp
2- add device and enable MFA
3- connecte with your browser
4- disconnecte on your browser

Use xml_rpc to connecte with your login/password only, MFA no checked !!!

MFA doen't work with xml_rpc.

@obulkin @lasley

[2017-11-06 19:01] lasley commented on #1041
Thanks for the report @fmdl - I never considered XML-RPC in this. Thinking about it, I'm actually not sure how it would be possible while still fitting within the framework of the RPC spec (or any API really).

I think the solution here is a module that allows for the restriction of XML-RPC based on some user options/ACL, then leverage that in `auth_totp` to allow the user to disable their XML-RPC

[2017-11-06 20:37] fmdl commented on #1041
​It is possible to solve this issue. You can not disable xml_rpc, because the UI web client use json_rpc (and you can do the same things).

​The solution is inside the odoo module : `auth_crypt`.
When you install this mode it copy the field `password` in `password_crypt` whis SHA cryptage. And it set to `NULL` the `password` field. Like that the standard methode (check the field password) return A

[2017-11-08 19:26] obulkin commented on #1041
Thanks for the input, @fmdl. I've followed up on all of these points, and they seem to boil down to three separate issues with the current implementation:

- Users with MFA enabled can still connect to the API with just a password and should instead be blocked from accessing it.
- Multiple simultaneous sessions are not supported since users can only have one MFA login token at a time.
- All device

[2017-11-08 20:19] fmdl commented on #1041
It is correct.

[2017-11-12 17:45] novawish commented on #1008
Hello @pedrobaeza,
I did not see (in [here](https://docs.google.com/spreadsheets/d/1Xg95cW4TFMf_Lo5i_CZC_qOOfN8RgxPRc0LJTLTkdUI/edit?usp=sharing)) which repository that module `base_user_role` should belonged to.

Should I create a new PR to `server-backend` as you mentioned in https://github.com/OCA/server-tools/pull/1036 or I just keep the PR like that?

[2017-11-13 22:33] yuriqp opened #1053 "[RFC] History for views"
We would like to have a feature which allows keeping a history of changes in the arch of a view. This will allow keeping different versions of the views available, so it could be used to prototype, easily restore changes, etc… This could be especially useful for Odoo form and tree views, reports and websites.

We already developed a prototype (module view_history), available here: https://github.c

[2017-11-14 12:37] yajo commented on #1053
And what's the question?

[2017-11-15 09:07] dreispt commented on #1053
@Yajo this is an RFC.
@yuriqp sounds like an interesting features for me. On the design side, I would be more comfortable if the active view would always be on the "ir.ui.view" model. this would make it's "current_version" flag redundant.

[2017-11-15 09:22] hbrunn commented on #1053
I do something quite similar for list views in https://github.com/OCA/web/pull/787 - but then without the history, which should be very simple to add

[2017-11-17 10:26] taifu commented on #959
I confirm this is a HUGE bug!

[2017-11-17 11:03] MLauri commented on #959
+1

[2017-11-20 07:07] yuriqp commented on #1053
Thank you all for your comments.
@Yajo You are right, I should have used an RFC tag in the issue title.
@dreispt, you may have a point. At the end, if we keep the arch of the active version in the ir.ui.view record, the 'latest' version could be determined by the write_date. Thanks, we will check this.
@hbrunn  We will take a look at the link you posted. Thanks

[2017-11-20 10:36] LoisRForgeFlow opened #1062 "[10.0] Runbot"
Seems that https://runbot.odoo-community.org/runbot/149/10.0 is not working. As pointed by @mlaitinen on https://github.com/OCA/server-tools/pull/1060#issuecomment-345441291

[2017-11-20 10:38] pedrobaeza commented on #1062
I have launched a rebuild.

[2017-11-20 11:18] LoisRForgeFlow commented on #1062
Thanks!

[2017-11-20 11:18] #1062 closed, assigned to nobody

[2017-11-20 17:12] lasley opened #1063 "[RFC] context_onchange: Context key to perform onchanges"
This module will provide the ability to pass a context key into a model create or write, which will trigger all associated onchanges for the fields that are passed in the `data` argument.

Usage would look something like this:

[code]

This will be incredibly useful to create complex recordsets that are typically very easy to create through the UI due to the onchanges that take place. A good examp

[2017-11-20 17:19] pedrobaeza commented on #1063
You need to define the starting field(s) that will trigger the rest of the onchanges.

[2017-11-20 17:34] Yenthe666 commented on #1063
Hi @lasley,

Thanks a lot for the idea and writing it out!
There are some situations where this can be valueable (such as the sales settings in Odoo V11 as we discussed).
Keeping an eye out on this one.

[2017-11-20 17:38] lasley commented on #1063
@pedrobaeza - you're saying this happens already in the backend as long as the fields are defined? Is it maybe that all of the fields in the onchange need to be defined?

Basically if:

[code]

Then

[code]
Would work, but not:

[code]

The reason I ask is that I'm seeing incredibly inconsistent application of this logic.

[2017-11-20 17:43] pedrobaeza commented on #1063
No, I'm not saying that it's already happening. What I'm saying that you need to specify somehow which is the field(s) value(s) that start the chain of onchanges. Something like:
[code]

[2017-11-20 17:50] lasley commented on #1063
Oh interesting, I was thinking of just using the keys that are present in the data itself. Basically just override the `create` and `write` methods, then perform the onchange if the keys are there.

Your design would allow the developer to actually restrict the onchanges, or trigger them manually even if the data doesn't contain the key. This almost seems like a "why not both" situation?

Do you h

[2017-11-20 17:56] pedrobaeza commented on #1063
Imagine you pass following values on a sale order: `partner_id` and `fiscal_position_id`. I see several problems:

1. Not specifying that `partner_id` is the initiating one, you can call first `_onchange_fiscal_position_id` and then `_onchange_partner_id`, which is not the correct order.
2. I think you are not considering cascading onchanges. `_onchange_partner_id` modifies `fiscal_position_id`, s

[2017-11-20 18:24] lasley opened #1064 "[RFC] base_blockchain: Become a Hipster"
This module will provide a blockchain for use in distributed information platforms. Motivation behind this, outside of simply hopping on the hipster bandwagon (let me find my mustache), is to allow for multiple disparate entities to collaborate on a similar dataset. Usage examples include drug traceability requirements, product pedigree or genealogy data, clinical trials/labs.

At the moment I'm o

[2017-11-21 00:54] obulkin commented on #1041
I've pushed up a PR that addresses all of these issues: https://github.com/OCA/server-tools/pull/1065

[2017-11-21 06:53] lmignon commented on #1063
@lasley you could extend the addon 'onchange_helper' https://github.com/OCA/server-tools/tree/10.0/onchange_helper

[2017-11-21 20:16] lasley commented on #1063
Welp this is awesome thank you @lmignon, not sure how I missed it!

I actually think this is a better implementation now that I look at it. With my idea, we're adding the overhead of an if statement in each create/write, but with this one we don't. Both require about the same amount of code for usage as well, so absolutely a clear winner.

I think maybe I'm going to touch up the ReadMe a bit on th

[2017-11-21 20:16] #1063 closed, assigned to nobody

[2017-11-22 02:25] Aaqiu opened #1067 "base_import_match module for 1tomany fields doesn't work"
![clipboard](https://user-images.githubusercontent.com/31339358/33106851-5118ee7a-cf6f-11e7-8188-fb33ac5de1d8.png)

[2017-11-22 02:29] Aaqiu commented on #1067
Plus, in version 10，THX! @rvalyi @jbq @phuihock @cmayo @taifu

[2017-11-22 11:50] AaronHForgeFlow opened #1068 "[10.0]mass_editing. Search fields by model"
When searching  ir.model.fields records (for example on Settings > Database Structure > Fields) by model, got an error on this line: https://github.com/OCA/server-tools/blob/10.0/mass_editing/models/ir_model_fields.py#L19

Steps to reproduce: Go to Settings > Database Structure > Fields and search for model product.template. Got the following: `ValueError: invalid literal for int() with base 10: '

[2017-11-22 17:32] pedrobaeza commented on #1008
That's because that module doesn't exist when the list was created. My opinion is that it should go to server-ux

[2017-11-29 16:27] simahawk commented on #1008
mail_environment @simahawk https://github.com/OCA/server-tools/pull/1074

[2017-11-29 19:23] zamberjo commented on #1008
@pedrobaeza **auth_brute_force** is not included

[2017-11-29 23:03] pedrobaeza commented on #1008
@simahawk please don't include `- [ ]` in your comment, as it adds another task to do in the issue summary link, which is not correct, as there's already a bullet in the main comment.

@zamberjo it was in the list... I have included a link to your PR there.

[2017-11-29 23:03] pedrobaeza commented on #1008
@zamberjo or are you talking about the split list? I'm thinking that the module should go to server-auth.

[2017-11-30 12:55] yajo commented on #1064
This sounds like the kind of thing @OSevangelist would be interested on. Am I right? 😜

[2017-11-30 13:01] yajo commented on #1067
Sorry, not enough information to debug your problem. Please provide steps to reproduce, configurations involved, expected results, actual results, etc. and reopen then.

[2017-11-30 13:01] #1067 closed, assigned to nobody

[2017-11-30 15:34] lasley commented on #1064
Interestingly enough, I have this working for the most part.

Major roadblock at this point is that we require a public/private key storage mechanism in order for the sign/hash of the block. Once I finish guaranteeing my theory, this will likely be dependent on #673

[2017-12-01 14:45] lonelyleaves opened #1081 "[10] password_security: on login ,odoo KeyError: 'login_success'"
When I install this module, I will often prompt "500: Internal Server Error" when landing. Odoo's log shows KeyError:'login_success'.

[2017-12-01 14:59] pedrobaeza commented on #1081
We need steps to reproduce the error.

[2017-12-02 00:59] lonelyleaves commented on #1081
I can't find the rules，Super user accounts are normal, and ordinary users are very easy to appear
error code：
![image](https://user-images.githubusercontent.com/16489920/33509724-18f0054c-d73f-11e7-9620-6c4fd7ee06ca.png)

[2017-12-02 01:03] pedrobaeza commented on #1081
@lasley any clue?

[2017-12-02 01:15] lasley commented on #1081
Hmmm it looks like the request parameters aren't being preserved. It should be an easy fix, but I wonder what's causing it. Is this maybe on refreshing the page?

[2017-12-02 01:17] lasley commented on #1081
@lonelyleaves - please update your code. Current v10 already contains this fix

https://github.com/OCA/server-tools/pull/996

[2017-12-02 01:17] #1081 closed, assigned to nobody

[2017-12-02 02:23] lonelyleaves commented on #1081
ok thks

[2017-12-03 13:24] njeudy commented on #1008
sentry @njeudy #1082

[2017-12-03 15:26] lonelyleaves opened #1083 "[10]How to turn off the automatic reset password function"
After installing password security, will be forced to request a reset password after login, how to close, thank you！

[2017-12-03 23:12] pedrobaeza commented on #1083
@lasley I'm a bit annoyed about this also. If I have a user with password, I don't want to reset my password next time I login

[2017-12-04 00:18] lasley commented on #1083
Is this for all users? Basically all existing passwords are considered expired?

[2017-12-04 00:57] pedrobaeza commented on #1083
Yes

[2017-12-04 01:01] lonelyleaves commented on #1083
Can you explain the function of this reset password I did not understand

[2017-12-04 01:45] lasley commented on #1083
The point of the password reset is to allow for the expiry of passwords based on criteria, which is intended functionality for this module and described in depth in the ReadMe.

Fix sounds simple enough- will just need to add a post install hook to set the last reset date of all users to the current date. I’m assuming it’s just blank in the db, which is going to trigger the expiry.

-Dave Lasley

[2017-12-04 08:18] pedrobaeza commented on #1083
I understand the principle, but mixed with the fact that you can't repeat a password makes everyone to change the password, even if the old one is secured enough. I prefer to not reset it.

[2017-12-04 17:38] lasley commented on #787
After investigation of #1064 (base_blockchain), these align slightly. Linking them

[2017-12-04 19:24] lasley commented on #1083
@pedrobaeza - yeah I figured you got the principle, but @lonelyleaves was asking so I elaborated.

PR #1084

[2017-12-04 19:25] lasley commented on #1083
I think this actually also affected new users. Not positive though & wasn't necessarily worth checking.

[2017-12-05 16:10] simahawk opened #1086 "11.0 build broken on transifex"
[code]
https://travis-ci.org/OCA/server-tools/jobs/311780586#L790

[2017-12-05 16:15] pedrobaeza commented on #1086
The error seems clear :wink:

Fixed on https://github.com/OCA/server-tools/commit/e73fbef81d915e078ae0944281ae33882999328a

[2017-12-05 16:15] #1086 closed, assigned to nobody

[2017-12-06 14:52] rven commented on #1083
This will also fix the issue I've got.
When installing the module on a DB all users passwords are expired.
But when logging in, the login attempt fails and nothing happens, the pop-up is not shown but redirected to the login page again.
It is not possible to login to Odoo after installing this module in an existing environment.
I fixed it with the following update: `update res_users set password_w

[2017-12-06 16:49] lasley commented on #1083
Thanks for the elaboration @rven. You were amazingly specific, so it's obvious that you looked at #1084 and approved it. In the future though, please add the approval comment to the PR itself so that we can count it easier 🚀

[2017-12-06 16:54] lasley commented on #1083
* Merged in v10
* #1088 for v9
* https://github.com/OCA/server-auth/pull/3#issuecomment-349702117 for v11

[2017-12-06 16:54] #1083 closed, assigned to lasley

[2017-12-08 19:59] Bilbonet opened #1089 "v8 module "import_odbc" ported to v10"
The module (import_odbc) is ported to v10 in:

  https://github.com/Bilbonet/server-tools/tree/10.0/import_odbc

[2017-12-10 14:12] dreispt commented on #1089
Check https://github.com/OCA/server-tools/pull/596

[2017-12-13 14:59] ivantodorovich opened #1093 "[9.0][kpi] Error impossible to fix without hack if Range value is Python code and formula is throws an error"
If a range value is set to `Python` and code throws an error, this error gets thrown every time the record gets accessed, so it's impossible to fix it and/or delete it.

Errors should be catched and handled, allowing the user to fix it.
I'll push a fix as soon as I have the time for it, but wanted to report it in case I don't.

[code]

[2017-12-13 15:22] ivantodorovich opened #1094 "[9.0][kpi] Python code calculation doesn't support complex expressions"
Currently, the code expects a simple eval expression that calculates into a value.

As an improvement, it could support complext expressions where the user has to assign the value to a `value` variable, for instance. (Similar to how server actions work)

An object pool could be exposed, along with a more extended context, to allow the user to query objects and get data from odoo instead of queryin

[2017-12-13 15:51] max3903 commented on #1094
@ivantodorovich this was made to provide flexibility but I've never had a use case to actually use it. If you want to improve the module to support your case, be my guest. I'll be happy to review your contribution.

[2017-12-14 22:27] obulkin opened #1096 "[10.0] sentry: Tests failing"
Two of the unit tests in the ``sentry`` module are currently failing, as can be seen here: https://travis-ci.org/OCA/server-tools/jobs/316634324. I've replicated this issue locally using the 10.0 branch and confirmed that it is not related to ``auth_totp``.

@lasley

[2017-12-20 04:07] lonelyleaves commented on #1081
I've updated the latest code, and I find it still often prompted by KeyError:'login_success'

[2017-12-20 04:10] lonelyleaves commented on #1081
![qq 20171220121026](https://user-images.githubusercontent.com/16489920/34190958-b35f195e-e57e-11e7-830c-7f348089e72a.png)

[2017-12-20 10:26] Camille1616 opened #1099 "[10] inactive_session_time_out_delay Value Error"
When entering an character instead of an digit in the value field there will appear a "permission denied" error.

[2017-12-20 16:50] lasley commented on #1081
@lonelyleaves - what exactly do you have to do in order to make this error appear?

[2017-12-21 05:47] lonelyleaves commented on #1081
Open the home page, clicking on the landing will appear, I need to keep refreshing, odoo can appear normal landing interface

[2017-12-21 09:53] nadiaafa commented on #1008
@pedrobaeza i will work on auth_session_timeout

[2017-12-21 09:58] pedrobaeza commented on #1011
Closing as the PR is merged.

[2017-12-21 09:58] #1011 closed, assigned to nobody

[2017-12-21 09:59] pedrobaeza commented on #1008
@nadiaafa that module should go to server-auth

[2017-12-21 10:19] badbole opened #1101 "module: letsencrypt - certificate renewal"
Noticed that since 15.nov 2017 letsencrypt changed policy link..
If you experience problems renewing certificates in form of log msg:

the problem is actualy in acme_tiny.py  and you need to patch it (until update released)
and replace the line (85):
"https://letsencrypt.org/documents/LE-SA-v1.1.1-August-1-2016.pdf"
with this one :
"https://letsencrypt.org/documents/LE-SA-v1.2-November-15-2017.pdf

[2017-12-21 16:41] lasley commented on #1081
@lonelyleaves - sorry, I don't understand the process. Screenshots maybe?

[2017-12-22 15:21] flotho commented on #1031
Hi,
Do you user partner_firstname from OCA? I had the same issue and updated my rupo. It solved my issues.
Regards

[2017-12-22 15:43] flotho opened #1104 "[10.0]Ldap populate keep the template name instead of the name from the LDAP"
Hi,

I'm running the latest OCA server tools and OCA/partner-contact with firstname installed.
When populating the users from LDAP, the name of the user is not correctly defined. I used a template.
The point is that first name and lastname are kept and are causing troubles when populating DB

[2017-12-23 03:25] lonelyleaves commented on #1081
can you install teamviewer?or I can be remotely  or email send video to you ！
If I uninstall this function, this will not happen.

[2017-12-23 07:32] chris001 commented on #1081
@lonelyleaves
Can you record your screen with this chrome extension, and share on youtube:
https://chrome.google.com/webstore/detail/screencastify-screen-vide/mmeijimgabbpbgpdklnllpncmdofkcpn?hl=en

[2017-12-23 08:12] lonelyleaves commented on #1081
I have send email to lasley  (dave@laslabs.com) ,can you see?that's ok？

[2017-12-23 18:23] lasley commented on #1081
@lonelyleaves - I received a rar file, but I do not make a habit of opening random binary files sent to me from the internet.

Posting on YouTube and providing us the link here, [as @chris001 suggested](https://github.com/OCA/server-tools/issues/1081#issuecomment-353712093), is the best method of relaying this info. Additionally, this will allow all contributors to assist instead of just me. I may

[2017-12-25 03:40] lonelyleaves commented on #1081
ok thanks
I've put the video files on youtobe, thank you.，This is the url address
https://youtu.be/U7qkGtg10uc

[2017-12-25 05:02] chris001 commented on #1081
@lonelyleaves
"This video is unavailable" 😦

[2017-12-25 05:49] lonelyleaves commented on #1081
I've changed it to everyone.

[2017-12-25 06:03] lonelyleaves commented on #1081
https://github.com/thinkopensolutions/tko-addons/tree/10.0/tko_web_sessions_management
I'm not sure whether the conflict with this function has led to this situation.

[2017-12-26 16:59] lasley commented on #1081
@lonelyleaves - I assert the same thing I did previously - [this error is fixed in new code](https://github.com/OCA/server-tools/issues/1081#issuecomment-348655687). It is impossible for you to receive this traceback using the current code. Please update your code.

[2017-12-27 15:35] joserprieto opened #1106 "Module with same name (mgmtsystem_kpi) on OCA/server-tools and OCA/management-system"
There are a module with the same name in two repositories:

mgmtsystem_kpi

https://github.com/OCA/server-tools/tree/10.0/mgmtsystem_kpi

https://github.com/OCA/management-system/tree/10.0/mgmtsystem_kpi

I think that they are the same module, in two different repos.

Regards.

[2017-12-27 16:03] jlzhou commented on #1008
base_external_dbsource
 base_external_dbsource_mssql
 base_external_dbsource_mysql
 base_external_dbsource_odbc
 base_external_dbsource_oracle
 base_external_dbsource_sqlite

#1107

[2017-12-27 16:04] lonelyleaves commented on #1081
i have update code,but have not fixed
![image](https://user-images.githubusercontent.com/16489920/34386240-ac8a3476-eb62-11e7-9f08-811ca8bc08f9.png)

[2017-12-27 17:01] lasley commented on #1081
@lonelyleaves - you have a different traceback then. Your traceback literally shows a line of code that no longer exists, and does not exist in your screenshot.

[2017-12-27 17:38] lasley commented on #1081
I'm assuming your new traceback was failing at the `request.session.authenticate` step below the original one. #1109 and #1108 make it so that line is never hit.

[2017-12-27 23:54] pedrobaeza commented on #1008
@jlzhou maybe this should be to OCA/server-backend?

[2017-12-28 00:58] jlzhou commented on #1008
@pedrobaeza Not sure, you are the boss. :)

[2017-12-28 01:02] pedrobaeza commented on #1008
hehe, well, I have the same vote as any contributor. Looking at the split spreadsheet: https://docs.google.com/spreadsheets/d/1Xg95cW4TFMf_Lo5i_CZC_qOOfN8RgxPRc0LJTLTkdUI/edit#gid=0, people had the same doubts about this. Let's see if someone more have a special opinion about this. @lasley @dreispt ? If not, as you are the one making the PR, you can decide by yourself.

[2017-12-28 01:16] elicoidal commented on #1008
I like server-backend but not a big deal as this is just at the limit

[2017-12-28 01:57] lasley commented on #1008
I agree with `server-backend`

[2017-12-28 09:46] JordiBForgeFlow opened #1110 "[11.0][base_exception] Gives errors when depending modules are proposed"
When proposing module 'purchase_exception' in https://github.com/OCA/purchase-workflow/pull/467, the testing process fails with the errors:

`2017-12-28 08:53:08,294 5408 ERROR openerp_test odoo.modules.registry: Model base.exception.test.purchase.line has no table.
2017-12-28 08:53:08,294 5408 ERROR openerp_test odoo.modules.registry: Model base.exception.test.purchase has no table.`

We already

[2017-12-29 21:30] kh-badep opened #1113 "[10.0] html_text: Wrong dependancy lxml.html"
Hello,

I was trying to install html_text and it gives me this error:

Even though lxml is already installed:

I think in the manifest file for the module, in external dependancies there just need to be 'lxml' and not 'lxml.html':

[2017-12-30 14:30] whulshof opened #1114 "module_prototyper can't add dependencies"
Maybe I'm not getting it, but when creating/editing a new module in the prototyper, it is not possible to add dependencies under the tab with the same name. I tried runbot and it does not work there either.
What am I missing? I can't see any reason in the code of the module that prohibits to add dependencies.

[2018-01-04 21:55] naglis commented on #1096
I think this is due to the fact that the [`FIELDS` class attribute](https://github.com/OCA/server-tools/blob/3bb12bd80cb9c6409521eb54025d12da9aa210cc/sentry/logutils.py#L104) has been [renamed to `KEYS`](https://github.com/getsentry/raven-python/blob/9f56a51ebfd67ee094d47a93fb049fe8b40ac0a4/raven/processors.py#L154) in [raven 6.4.0](https://github.com/getsentry/raven-python/releases/tag/6.4.0).

I

[2018-01-05 15:14] 4fuss opened #1119 "log_forwarded_for_ip module missing"
Hi, does log_forwarded_for_ip module was dropped on purpose in 9.0 branch? It is on 8.0 branch.

[2018-01-08 17:09] #1110 closed, assigned to nobody

[2018-01-09 11:32] akhodifad opened #1122 "auditlog -> rule -> Log Reads then give this error"
![selectreallog](https://user-images.githubusercontent.com/32675315/34718940-9faa6dce-f55e-11e7-9aca-a905e68b836d.png)
![openso](https://user-images.githubusercontent.com/32675315/34718939-9f7b039a-f55e-11e7-9c57-08b986dd9235.png)

[2018-01-09 14:27] shurper opened #1123 "auth_session_timeout does not working"
I still could not understand how this works.
There are no failures, but there is no result either.
How to configure it correctly in odoo 10?
Please, help me!

[2018-01-10 18:08] LeartS opened #1125 "auth_brute_force doesn't consider xmlrpc/jsonrpc login attempts"
It's possible to circumvent `auth_brute_force` security by trying logins via xmlrpc/jsonrpc. The login attempts done this way are not checked by the module and do not count towards the failed attempts limit towards the ban.

I would argue that the jsonrpc interface is the preferred one for bruteforcing tools, so IMO this limitation is non-negligible.

[2018-01-10 19:11] legalsylvain commented on #1125
:+1: When I wrote this module, I just tested with Front UI attempts.
this could be a good addition to log tryes from xmlrpc. Do you think you could make a PR ?

regards.

[2018-01-11 08:12] legalsylvain commented on #1125
Hi @lasley. I allowed myself to change the label you set. I think that "bug" is more appropriated because what @LeartS is talking make this module useless.

[2018-01-12 08:18] #1123 closed, assigned to nobody

[2018-01-14 11:26] astirpe commented on #1008
onchange_helper https://github.com/OCA/server-tools/pull/1128

[2018-01-15 20:57] astirpe commented on #1068
I got the same error on 11.0 (porting still in progress...).
See traceback in https://github.com/OCA/server-ux/pull/5#issuecomment-356583258

[2018-01-16 11:22] mbcosta opened #1132 "[11.0] Why removing "# -*- coding: utf-8 -*- " in 11.0 version ?"
Hi all.
I noticed in version 11.0  "#  -*- coding: utf-8 -*- "  was removed https://github.com/OCA/server-tools/blob/11.0/auditlog/models/__init__.py#L1 https://github.com/OCA/server-tools/blob/10.0/auditlog/models/__init__.py#L1 , there is any reason for it ? Because in my local enviroment  when I try to access the server an error happened

  File "/workspace/parts/server-tools/auditlog/models/__

[2018-01-16 11:30] Garamotte commented on #1132
Odoo 11 must be run using python3, I think you still use python2.

[2018-01-16 11:30] sebalix commented on #1132
Hi,

It's because Odoo 11.0 should be executed with Python 3.5, and the default encoding with Python3 source code is ``utf-8`` so there is no need to add it (https://docs.python.org/3/howto/unicode.html#the-string-type).

[2018-01-16 11:54] mbcosta commented on #1132
Thanks @sebalix @sylvain-garancher

[2018-01-16 11:54] #1132 closed, assigned to nobody

[2018-01-22 17:33] simahawk commented on #1008
auth_signup_verify_email https://github.com/OCA/server-auth/pull/8

[2018-01-23 10:15] astirpe commented on #1068
Just tried, with commit https://github.com/AlceConsorcio/server-ux/commit/a6bb2dcabca3d82a4585e095b0b5120eca01b4ed, the error does not occur anymore.

[2018-01-24 10:20] MaxyMoos opened #1134 "[11.0][auditlog] Logging `create` events on `account.move.line` breaks invoice validation"
## Minimum setup to reproduce the issue:

* Create a new Odoo V11 database
* Install `account_invoicing` and `auditlog`
* Create an auditlog rule, logging Create/Write/Delete events on `account.move.line` items
* Create a Customer Invoice
* Try to validate the invoice

## Problem

A popup appears with the error message:
"Cannot create moves for different companies."

## Analysis

It appears that t

[2018-01-24 12:46] MaxyMoos commented on #1134
After experimenting a bit more, it would appear that all the fields using both the `related=<class>` option and the `store=True` option are afflicted by this issue.
Another example being the fields `journal_id`, `user_type_id` or `date` on the account.move.line model.

[2018-01-25 13:04] astirpe commented on #1008
res_config_settings_enterprise_remove: https://github.com/OCA/server-brand/pull/2

[2018-01-30 09:25] yajo commented on #1099
Closing due to lack of information. Please provide steps to reproduce and full logs. Feel free to reopen if you do. Thanks!

[2018-01-30 09:25] #1099 closed, assigned to nobody

[2018-01-30 11:03] yajo commented on #1106
Lol, true! Could you PR to remove the server-tools one?

[2018-01-30 11:05] pedrobaeza commented on #1106
server-tools one can be removed.

[2018-01-31 09:56] joserprieto commented on #1106
I can make the PR to remove from server-tools; but; what is better? remove from server-tools, or from management-system?
I think that is better remove from server-tools (imho).

Regards :)

[2018-01-31 10:33] yajo commented on #1106
Yes please

[2018-02-01 10:08] joserprieto commented on #1106
Done:

https://github.com/OCA/server-tools/pull/1141

Sorry for the delay.

Regards.

[2018-02-01 13:05] #1106 closed, assigned to nobody

[2018-02-05 10:07] yajo commented on #1119
Modules just don't appear on newer versions until somebody migrates them, so if I'm not wrong, it's just that nobody took that step. Feel free to do so if you wish 😉

[2018-02-05 10:07] #1119 closed, assigned to nobody

[2018-02-08 15:36] BT-astauder opened #1151 "[module_auto_update] Server is not restarted after update?"
IMHO the server must be restarted to read apply changes in python code. Or am I wrong?

This would be in fact quite easy

from odoo.service.server import restart
restart()

We have a similar approach in our company. But there are a few things different:
- We first load all translations of a changes module. We do that also for all modules that depend on the changed module. So modules for our custom

[2018-02-08 18:10] pedrobaeza commented on #1151
Thanks for the advises, Andreas.

About restarting, I see it feasible for the module indeed. TIL that method.

About the general method, what we want to avoid is server downtime, so there can be of course concurrency problems, but repeating is for now our approach, as we consider more important to keep the system running. And as we are running over Docker, there's little chance that the system get

[2018-02-08 21:37] astirpe commented on #1151
What about enabling the restart with a flag in configuration? Restarting the server in the night would be acceptable by many companies I guess.

[2018-02-08 21:39] pedrobaeza commented on #1151
I think it's a hard change in the module, but @Yajo can say more accurately.

[2018-02-09 10:00] yajo commented on #1151
Seems legit, feel free to open PR. I guess we'd have to use mock for testing though... Not much of a problem.

[2018-02-09 16:59] BT-astauder commented on #1151
Thank you all for your responses. I just tested the behaviour again in 11.0:
New fields are created without any restart, but changes in code are not loaded. So I do not understand how this module is supposed to work. How do you get new code running?

For better understanding I like to clarify some differences in the approches.

module_auto_update:
Updates in a single worker. Other workers are info

[2018-02-09 17:03] pedrobaeza commented on #1151
We launch a command for restarting Odoo after performing the autoupdate. In our Docker infrastructure is:
[code]

[2018-02-09 17:04] pedrobaeza commented on #1151
In your approach I still see the problem that all requests will be blocked until the update process finishes (and that can take long time), and I see also a problem when there's an error updating. What happens?

[2018-02-09 20:05] max3903 commented on #1008
Any issue if base_cron_exclusion stays in server-tools? Or do you have a better candidate?

[2018-02-12 08:37] yajo commented on #1151
There are 2 approaches:

1. Stop, update, restart, as @BT-astauder does: no concurrency errors are possible, but service must be unavailable in the mean time.
2. Update in parallel, as we do: concurrency errors are possible, and there's room to avoid stopping Odoo.

This addon was born to use the 2nd one. If you have concurrency errors, in general terms you can retry X times and then restart the s

[2018-02-12 09:03] BT-astauder commented on #1151
@pedrobaeza Thank you for explaining how you are using the tool exactly. Now I understand. And I like your approach a lot over ours. The only thing I am very unsure: How can the other workers still be functional? Or will they fail by the first change the updating worker did (either DB or e.g. in a view)?

When they still work, I do not see many arguments for our process. If they do not work anymor

[2018-02-15 09:24] astirpe commented on #1008
auto_backup #1158

[2018-02-15 14:08] bodedra commented on #1008
base_cron_exclusion #1156

[2018-02-20 18:32] grzekru opened #1166 "[8.0][password_security] Does not work properly"
Steps to reproduce

1. Install addon
2. Trigger password reset (set old password_write_date and delete sessions)
3. Try to log in using old password
4. You will be redirected to web/reset_password, do not enter new password
5. Change url to /web
6. You still can use odoo with old password

[2018-02-21 09:52] nmoturi opened #1167 "[7.0]uninstalling the module causing KeyError: 'server.monitor.process'"
Hi,

After the module server_monitoring is uninstalled, I keep getting the below error

File "/opt/odoo/additional_addons/server_monitoring/models/server_monitor_process.py", line 94, in execute_cr
    monitor_obj = pooler.get_pool(cr.dbname)['server.monitor.process']
  File "/opt/odoo/sources/odoo/openerp/modules/registry.py", line 102, in __getitem__
    return self.models[model_name]
KeyError:

[2018-02-21 17:40] Bilbonet commented on #1089
I've checked de #596
I modified the module base_external_import and fixed the problems.
I have the module in my repository and works fine.

https://github.com/Bilbonet/server-tools/tree/10.0/base_external_import

Maybe is posible tomake de PR to OCA

[2018-02-23 13:55] sebalix commented on #1134
Maybe this is due to the `.with_context(prefetch_fields=False)`, try to remove it just to see if it works?

[2018-02-23 14:28] MaxyMoos commented on #1134
No, unfortunately it seems like the problem is still there whether I drop the call to `with_context` altogether or if I just remove the `prefetch_fields` parameter from the call.

[2018-02-24 05:10] lonelyleaves opened #1172 "error about install auth_session_timeout"
hello, odoo10 After installing this function, the system prompts the following error：

Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 118, in dispatch_rpc
    result = dispatch(method, params)
  File "/opt/odoo/odoo/service/model.py", line 35, in dispatch
    security.check(db,uid,passwd)
  File "/opt/odoo/odoo/service/security.py", line 13, in check
    return res_users.

[2018-02-27 03:47] ddufresne commented on #1008
I will work on super_calendar

[2018-02-27 04:33] ddufresne commented on #1008
super_calendar https://github.com/OCA/server-tools/pull/1173

[2018-02-27 07:11] Alubba opened #1174 "How can I use webhook in Odoo community?"
Hi OCA,

I have downloaded your webhook module and unzip to my project, what's more I followed below documentation to configure the webhook in user panel but it seems different. I did not find any fields which u mention in document guide.

Documentation URL :http://odoo-webhook.readthedocs.io/en/latest/configuration.html#through-user-panel

Let me show you the pics:
My odoo environment:
![pic1](ht

[2018-02-27 08:12] pedrobaeza commented on #1174
This is not an issue nor this module belongs here, so I close. Please make the question in forums/lists.

[2018-02-27 08:12] #1174 closed, assigned to nobody

[2018-02-27 08:36] Alubba commented on #1174
Could you please tell me where can I put this question for help?

[2018-02-27 08:37] pedrobaeza commented on #1174
General Odoo forum or Odoo lists.

[2018-02-27 08:46] legalsylvain commented on #1174
@pedrobaeza I think he's talking about this module https://github.com/OCA/server-tools/tree/10.0/webhook

regard.

[2018-02-27 08:50] pedrobaeza commented on #1174
But the documentation was not from that module. Any way, he is asking for help, not putting an issue. And it's not even something specific. He hasn't investigated enough. I remind you this link: http://www.catb.org/esr/faqs/smart-questions.html

[2018-02-27 08:55] Alubba commented on #1174
Thanks for help. @legalsylvain @pedrobaeza
Because my English is not pretty good. If you kindly give me a link to put this question I am very appreciate.

Cause I am confused that the documentation shown me is different when integrate the webhook downloaded from OCA.

[2018-03-01 12:01] sbidoul commented on #1151
@BT-astauder I made #1176 after reading this conversation.

[2018-03-01 12:03] pedrobaeza commented on #1151
There should be only one module in OCA for this. We can and we should fix possible issues, but not to have several approaches for the same problem.

[2018-03-01 12:15] sbidoul commented on #1151
It's not a different approach Pedro, it's a refactoring that splits the module in two.

[2018-03-01 12:18] pedrobaeza commented on #1151
OK, but I don't want that, sorry. I prefer that both concentrates on solve the problems you mention (which I don't see, except the uninstallation part, that can work for not being a problem), and not diverge in the update method. The autocommit one is something inherent of the upgrade process, so I don't see where's the problem.

[2018-03-01 14:12] BT-astauder commented on #1151
@sbidoul With your new module, what is the additional benefit of the original module_auto_update?

Or very specific asked: What is the benefit of

https://github.com/acsone/server-tools/blob/63b5fc961475a63eeb8033f6dd720cec081f05de/module_auto_update/wizards/module_upgrade.py#L23

over just

env['ir.module.module'].upgrade_changed_checksum()

?

[2018-03-01 14:26] sbidoul commented on #1151
@BT-astauder for my use cases there are no benefits in `module_auto_update` over env['ir.module.module'].upgrade_changed_checksum(). I personally prefer to have separate method that does not touch the standard Odoo upgrade process.

That's why I want to keep them both separate while sharing the common code if needd.

[2018-03-01 14:30] pedrobaeza commented on #1151
@sbidoul can you explain then what is going to be your update strategy? Maybe it's better than the current one and we can switch.

[2018-03-01 14:41] BT-astauder commented on #1151
I join @pedrobaeza suggestion to skip the original module completely. The automated update at 3am is not very useful from inside odoo anyway, because you need to pull the new sources from outside.

[2018-03-01 14:55] sbidoul commented on #1151
@pedrobaeza our upgrade strategy is to run `env['ir.module.module'].upgrade_changed_checksum()` in an Odoo shell with the main instance stopped. But I see no reason you could not run it with a cron on a running instance (except the restart remains necessary for coping with python code changes of course). Probably you can run it in a separate shell while the main instance is running, and restart it

[2018-03-05 10:56] CasVissers-360ERP opened #1179 "Traceback in audit log read rule"
Hi,

When adding a read rule we get a traceback when opening a record:
[code]

Thank you.
Cas

[2018-03-10 12:59] cesarsc79 opened #1185 "[11] Mass Editing"
@jnegrete
is there any alternative for update or remove the values of more than one records on the fly at the same time in odoo 11?

[2018-03-10 14:28] pedrobaeza commented on #1185
As already said, the module is already migrated in OCA/server-ux#5. You just need to learn how to catch it with git.

[2018-03-10 14:28] #1185 closed, assigned to nobody

[2018-03-22 17:17] scigghia opened #1197 "[11.0] SyntaxError: Non-ASCII character '\xc2'"
We need to substitute every  © char from the first line in every python file
because it give this error:
File "/opt/odoo/11enterprise/parts/server-tools/auditlog/models/log.py", line 1
SyntaxError: Non-ASCII character '\xc2' in file /opt/odoo/11enterprise/parts/server-tools/auditlog/models/log.py on line 1, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

(python 2.7

[2018-03-22 17:34] sbidoul commented on #1151
So it looks like this matter is settled :)

[2018-03-22 17:34] #1151 closed, assigned to nobody

[2018-03-22 17:34] sbidoul commented on #927
@Yajo this one can thus be closed?

[2018-03-22 18:34] pedrobaeza commented on #1197
Odoo v11 should be use with Python 3, not Python 2

[2018-03-22 18:34] #1197 closed, assigned to nobody

[2018-03-22 18:35] pedrobaeza commented on #927
Yes, closing.

[2018-03-22 18:35] #927 closed, assigned to nobody

[2018-03-23 08:09] yajo commented on #1151
Yep, it's been a long way, thanks everybody involved :blush:

[2018-03-26 08:08] Garamotte opened #1202 "[8.0][database_cleanup] Init process broken - Double install of some modules"
The restart of the registry during Odoo's initialization breaks the process, and make some modules to be installed/updates twice. In most cases, this is not an issue, it simply slows things down.
But this has another effect : pre init hooks are executed twice.

This can be observed here : https://github.com/OCA/server-tools/pull/1201

In the logs, we see that the update of modules is being process

[2018-03-26 14:33] ivantodorovich commented on #1068
Also present in `9.0`

[code]

[2018-03-30 13:14] scigghia commented on #878
have you solved?

[2018-04-02 15:06] nfortea commented on #878
I resolved this adding to http server block:
[code]

[2018-04-02 15:06] #878 closed, assigned to nobody

[2018-04-05 07:53] eHanseFrank opened #1211 "Base_import_security_group |"
As described, the "Import" button for CSV import in tree views disappears if the user does not have the related right activated. Unfortunately, the "Discard" button, the button that appears if you want to discard a creation of a new record in tree view, also disappears.

[2018-04-05 09:16] pedrobaeza commented on #1211
Module version? Can you try to reproduce it on runbot?

[2018-04-08 21:38] JonCup commented on #1008
I didn't see anything in the spreadsheet about Webhook, did that move, is there an anyone planing on working on that? it sounds very useful for a number of things.

[2018-04-08 21:50] pedrobaeza commented on #1008
See https://github.com/OCA/webhook

[2018-04-09 08:51] rafaelbn commented on #959
Hello @Troublicious @taifu @MLauri ,

Maybe you could review functionaly this PR? This PR merge should improve and fix some issues

PRs:

- [x] https://github.com/OCA/server-tools/pull/848
- [ ] https://github.com/OCA/server-tools/pull/849
- [ ] https://github.com/OCA/server-tools/pull/786

Thanks

[2018-04-09 08:53] rafaelbn commented on #1068
Hello!! @aheficent @astirpe @ivantodorovich

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- https://github.com/OCA/server-tools/pull/848
- https://github.com/OCA/server-tools/pull/849
- https://github.com/OCA/server-tools/pull/786

Thanks

[2018-04-09 08:53] rafaelbn commented on #1068
Hello!! @aheficent @astirpe @ivantodorovich

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- [x] https://github.com/OCA/server-tools/pull/848
- [x] https://github.com/OCA/server-tools/pull/849
- [ ] https://github.com/OCA/server-tools/pull/786
- [ ] https://github.com/OCA/server-tools/pull/1209

Thanks

[2018-04-09 08:54] rafaelbn commented on #806
Hello!! @ki1022 @neruok @tafaRU @raycollazo @jbchouinard

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- [x] https://github.com/OCA/server-tools/pull/848
- [x] https://github.com/OCA/server-tools/pull/849
- [ ] https://github.com/OCA/server-tools/pull/786
- [ ] https://github.com/OCA/server-tools/pull/1209

Thanks

[2018-04-09 08:56] rafaelbn commented on #791
Hello!! @arnelap

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- https://github.com/OCA/server-tools/pull/848
- https://github.com/OCA/server-tools/pull/849
- https://github.com/OCA/server-tools/pull/786

Thanks

[2018-04-09 08:56] rafaelbn commented on #749
Hello!! @moy2010

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- https://github.com/OCA/server-tools/pull/848
- https://github.com/OCA/server-tools/pull/849
- https://github.com/OCA/server-tools/pull/786

Thanks

[2018-04-09 08:56] rafaelbn commented on #731
Hello!! @seyed-mohammad-motahar

Maybe you could review this PR? This PR merge should improve and fix some issues

PRs:

- https://github.com/OCA/server-tools/pull/848
- https://github.com/OCA/server-tools/pull/849
- https://github.com/OCA/server-tools/pull/786

Thanks

[2018-04-09 21:22] JonCup commented on #1008
@pedrobaeza it does not appear to have ever had any code in there.

[2018-04-09 21:40] pedrobaeza commented on #1008
See the PRs

[2018-04-11 22:09] ivantodorovich commented on #1068
@jjscarafia maybe you are interested in this, too, since I belive you already fixed this for `9.0`

[2018-04-12 08:57] MLauri commented on #1113
The same problem also affects Odoo11 branch.

[2018-04-12 15:34] youring commented on #1008
base_name_search_improved seems unlisted since v10, and some other very useful module like base_import_odoo, field_char_transformed, qweb_usertime...born for v8, although created after this list, IMHO, should be taken care here or add a note for obsoletion. @pedrobaeza @dreispt @hbrunn Thanks for your contrib and killer-grade tools.

[2018-04-12 15:39] pedrobaeza commented on #1008
The list is copied from v10. If they aren't in that branch when the new branch is created, then they won't be in the list. If you want to migrate one of them directly from v8 to v11, no problem in adding them. For now, we are not going to add them if there are no intentions of migrating them.

[2018-04-12 16:24] pedrobaeza commented on #1113
Fixed in 5355b2628133d3dd7f9fdf0ea2d0b1d948fda7a3

[2018-04-12 16:24] #1113 closed, assigned to nobody

[2018-04-14 00:17] rafaelbn commented on #1068
Your are really welcome for a :beer: @jjscarafia :smile:

[2018-04-14 00:21] rafaelbn commented on #806
One more fix in https://github.com/OCA/server-tools/pull/1209

[2018-04-14 00:22] rafaelbn commented on #1068
More fixes for mass editing: https://github.com/OCA/server-tools/pull/1209

[2018-04-14 00:25] rafaelbn commented on #806
Ping @JayVora-SerpentCS , maybe could you help here?

[2018-04-14 12:18] JayVora-SerpentCS commented on #806
I will make a new PR on OCA/server-ux as we fixed some and added new features too.

[2018-04-14 12:19] JayVora-SerpentCS commented on #806
While the OCA code is merged, we have a temp copy at https://github.com/JayVora-SerpentCS/MassEditing/.

[2018-04-15 18:52] buzzy3 opened #1220 "Mass Update v11: NameError: name 'basestring' is not defined"
Installed on Enterprise v11:
model product

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/odoo/http.py", line 647, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3.6/site-packages/odoo/http.py", line 307, in _handle_exception
    raise pycompat.reraise(type(exception), exception, s

[2018-04-16 07:44] Garamotte commented on #1220
It should work better with the version that has been migrated to v11: https://github.com/OCA/server-ux/tree/11.0/mass_editing

Please don't open an issue for a version when using code from another version.

[2018-04-16 07:51] #1220 closed, assigned to nobody

[2018-04-19 22:59] adrianoinformatico opened #1223 "Error on recurrent event"
calendar_evento modulo create virtual id for recurrent event, auditlog module fail on record write or any crud over this events.

[2018-04-22 02:28] mohamedhagag opened #1227 "auth_admin_passkey error when opening general settings with missing PR from 8, 9"
Dears,
why below merged commit in 8 and 9 by akretion avoided in v10 ?
https://github.com/OCA/server-tools/pull/519

The auth_admin_passkey is having bug in v10 since 4-5 months as below:
when opening general settings menu the passkey module through below error:
[code]

updating with the mentioned PR fixes the problem.

I will propose PR against 10.0 to this module.

ping @pedrobaeza

Regards,

[2018-04-22 02:38] mohamedhagag commented on #1227
PR created https://github.com/OCA/server-tools/pull/1228

[2018-04-22 07:27] pedrobaeza commented on #1227
Closing as there's PR.

[2018-04-22 07:27] #1227 closed, assigned to nobody

[2018-04-22 15:20] adrianlaraperez88 opened #1229 "fetchmail_notify_error_to_sender"
it ready to odoo 11 ?? Only show version 10.

[2018-04-22 21:32] pedrobaeza commented on #1229
Check #1008 for tracking the migration progress of the modules of this repository.

[2018-04-22 21:32] #1229 closed, assigned to nobody

[2018-04-24 14:04] MaxyMoos commented on #1134
As a quick-and-dirty workaround, here's what I've done so far - feedback appreciated by Odoo's inner workings experts as to what can be done to improve this:

[code]

[2018-04-26 23:20] rafaelbn commented on #1068
https://github.com/OCA/server-tools/pull/848 is merged! :grinning:

[2018-04-26 23:21] rafaelbn commented on #1068
https://github.com/OCA/server-tools/pull/849 is merged! :clap:

[2018-04-26 23:22] rafaelbn commented on #806
Great @JayVora-SerpentCS !

By the wat https://github.com/OCA/server-tools/pull/848 and https://github.com/OCA/server-tools/pull/849 has been merged! :smiley:

[2018-04-26 23:23] rafaelbn commented on #791
- [x] - https://github.com/OCA/server-tools/pull/848
- [x] - https://github.com/OCA/server-tools/pull/849

Merged! :smiley:

[2018-04-27 08:02] yajo commented on #1125
The fix is in https://github.com/OCA/server-tools/pull/1219, let's continue there.

[2018-04-27 08:02] #1125 closed, assigned to nobody

[2018-04-27 11:45] #791 closed, assigned to nobody

[2018-04-27 11:45] pedrobaeza commented on #791
Unrelated features and wishlists.

[2018-04-30 07:03] sferket opened #1237 "[10.0][auth_session_timeout]Doesn work anymore after Odoo commit da1f153d61d747d9357694382fe04f96c0ca886a"
The function check in res.users simply doesn't get called anymore after this patch because password is not stored in the session anymore.

See Odoo commit:
https://github.com/odoo/odoo/commit/da1f153d61d747d9357694382fe04f96c0ca886a#diff-03542f2676ca18278ea62cb40f5a2261

[2018-05-01 09:32] haidd commented on #1008
fetchmail_notify_error_to_sender [#1238](https://github.com/OCA/server-tools/pull/1238)

[2018-05-09 14:13] MiquelRForgeFlow commented on #1041
This issue can be closed.

[2018-05-09 22:03] #1041 closed, assigned to nobody

[2018-05-11 12:32] andreparames commented on #271
@pedrobaeza @rvalyi while it was made for onchanges, doesn't `web_context_tunnel` still make sense for other uses of `context` in the view, like adding extra default fields to ` <field name="...." context="{'default_...`? Is there a better way to solve this? Odoo attributes not being composable is a frustratingly common problem.

[2018-05-11 12:34] pedrobaeza commented on #271
@andreparames yes, they are residual uses, but the module can be useful for that.

[2018-05-11 12:37] andreparames commented on #271
@pedrobaeza thanks, just wanted to make sure I wasn't missing something. I think I'll migrate it and reword the description.

[2018-05-14 12:27] MiquelRForgeFlow commented on #1008
auth_totp_password_security https://github.com/OCA/server-auth/pull/18

[2018-05-15 15:53] JordiBForgeFlow opened #1246 "[10.0] auth_totp - Remember this device working?"
I am testing auth_topt in runbot and local.
![image](https://user-images.githubusercontent.com/7683926/40068199-5a021584-5868-11e8-8920-2dc64b9ce44c.png)

Although I press 'Remember this device' Odoo keeps asking me for MFA code when I log out and attempt to log in again.

As a user, I set up a new device in My Preferences, and set set MFA.
Then I log out.
Then I enter my user and pass, and I am p

[2018-05-15 15:53] JordiBForgeFlow commented on #1246
cc @mreficent

[2018-05-15 18:39] obulkin commented on #1246
The issue with remembering the device is probably due to the following limitation described in the README:

The second username/password request seems like a bug.

[2018-05-15 21:55] JordiBForgeFlow commented on #1246
@obulkin Thanks. Using https I was able to get past the first issue

I will look further into the second issue. Closing this for now.

[2018-05-15 21:55] #1246 closed, assigned to nobody

[2018-05-17 12:47] whalbauer commented on #1220
I got the same error message "name 'basestring' is not defined" using v11 of mass_editing. Is this the problem:

basestring is no longer available in Python 3. From What’s New In Python 3.0:

The builtin basestring abstract type was removed. Use str instead. The str and bytes types don’t have functionality enough in common to warrant a shared base class. The 2to3 tool (see below) replaces every oc

[2018-05-19 23:08] moylop260 opened #1249 "auditlog.rule.write_full use PostgreSQL Trigger faster"
Description:

Currently to use `log_type='full'` is so slow the process since that read fields from database and compute the m2o fields and computed ones 2 times (before and after write).

Saw:

SQL and odoo will runs
 - `SELECT ... FROM my_table WHERE id = %s`  # To get current values of all fields
 - `INSERT INTO my_table ... VALUES (...)`
 - Odoo process fields compute and relationals
 - `SELEC

[2018-05-22 09:39] avmediadesign commented on #1122
I'm facing the same error on v10 Enterprise.
[code]
It appears on any model.
The logs are properly recorded but this error message pops up.
Any idea?

[2018-05-24 09:42] thomaspot opened #1257 "Prototyper gives error exporting"
Tested on v10
Git - Community Edition: 20180520002631

Installed the module. Added 1 field and 3 (inherit) views.

When using the button "Export" an choosing version 10 api I get an error:

[code]

[2018-05-24 09:46] pedrobaeza commented on #1257
It seems you haven't filled the view name or similar.

[2018-05-24 09:55] thomaspot commented on #1257
Ah.You did set me on the right track. I checked the views. Name was set
I did not set the model for some (because of Inherited views)

Now I set the model it works fine..

Still an issue I believ, because model is not always set when Qweb views for reports used?

Thank you Pedro

[2018-05-24 09:57] pedrobaeza commented on #1257
Maybe. Take into account that this prototyper is only a prototype, hehe, and it's also not prepared for all the possible combinations (i.e. QWeb views).

[2018-05-24 10:03] thomaspot commented on #1257
Haha.. yes it is. Just to have reference of this item, for other users.
Like this module; enables me to create demo's and PoC much faster.

Op do 24 mei 2018 om 11:57 schreef Pedro M. Baeza <notifications@github.com

--
Met vriendelijke groet - Kind Regards - Mit freundlichen Grüßen,

*Thomas Pot*

T:      +31 - (0)8 500 20 265
M:     +31 - (0)6 5108 9104
E:      t.pot@open2bizz.nl

*Open2Bizz - *

[2018-05-25 20:37] rockcesar commented on #1179
I have the same problem. My error shows:

Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-10-server/odoo/http.py", line 641, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-10-server/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-10-server/odoo/http.py", line 3

[2018-05-25 23:15] rockcesar commented on #1179
Greetings from GlobalManager, Chile. The code of auditlog is adapted to previous versions of Odoo, not completely to Odoo 10.0.

I have fixed it. The way in which it was reading the data, was wrong for Odoo 10.0. In the file auditlog/models/rule.py, change the method _make_read, for this one:

    @api.multi
    def _make_read(self):
        """Instanciate a read method that log its calls."""

[2018-05-26 11:14] GlobalManager commented on #1179
You can watch the module fixed here:

https://github.com/GlobalManager/odoo-addons

[2018-05-26 11:40] GlobalManager commented on #1179
@pedrobaeza Hello, look at this module, if it fit for the OCA necessities. We fixed some code:

https://github.com/GlobalManager/odoo-addons/tree/10.0/auditlog

[2018-05-26 12:47] pedrobaeza commented on #1179
Please propose the patch as a PR following https://odoo-community.org/page/code

[2018-05-28 00:02] GlobalManager commented on #1179
Done, we did the pull request:

https://github.com/OCA/server-tools/pull/1259

[2018-05-29 12:12] PieterPaulussen opened #1260 "auditlog module: field deletion triggers log removal"
I noticed the following cascade deletes [here](https://github.com/OCA/server-tools/blob/8.0/auditlog/models/log.py#L36-L39).

Is it desired that removing a model / field (f.i. during a migration) removes the auditlog lines as well?
What if we keep the auditlog line and use a related field to store the field name (and the log for that matter). Would that not be preferable to losing record in the au

[2018-05-29 12:42] sebalix commented on #1260
@PieterPaulussen indeed if you need to preserve the logs even if the corresponding field is removed, you can change the `ondelete` to `set null` on `field_id` (however we should not change the `log_id` IMO). Feel free to open a PR for that, I don't see any problem with that feature.

[2018-05-29 12:45] pedrobaeza commented on #1260
Isn't that field required?

[2018-05-29 12:54] PieterPaulussen commented on #1260
@pedrobaeza Indeed, the field is required. If we raise an exception during create/write on the value of the field, we could cover that.
@sebalix I will keep the cascade on log_id. Thanks for the suggestion.
PR coming up ;-)

[2018-05-31 08:56] novawish opened #1268 "[base_suspend_security] Can not bypass access rights on fields (using attributes groups)"
**Current situation:**
A field was defined with groups: `name = fields.Char(groups="base.group_user")`
If the user does not belong to group `base.group_user`, he can not read or update the above field even with option `suspend_security()`.

The reason is module **base_suspend_security** only disable (temporarily) all the **record rules** and **access rights**. Meanwhile the check of security on fi

[2018-05-31 10:11] hbrunn commented on #1268
sure. The magic works by checking if `self.env.uid` is our marker class as in https://github.com/OCA/server-tools/blob/10.0/base_suspend_security/models/ir_model_access.py#L31 - should be simple to do

[2018-05-31 12:20] novawish commented on #1268
@hbrunn Thanks for your reply, however what i'm afraid is should we override a base function that is almost used everywhere. Is there any risk if i do the same as the existing method?

[2018-05-31 13:31] hbrunn commented on #1268
well, there's always the risk of messing up, but if you do, we'll tell you during review, no worries. Don't forget to add a test case too

[2018-05-31 16:05] ericzen opened #1270 "inactive_session_time_out question"
Hello,

I'm using Odoo entreprise 10 with nginx and i want to know if this module is ready for this config.

Indeed i've installed it and session still be active.

Thanks for your help

[2018-05-31 16:14] pedrobaeza commented on #1270
The module is called in v10 auth_session_timeout. I think you have installed an incorrect version.

[2018-06-01 08:57] ericzen commented on #1270
Sorry for my confusion in the name.

I've effectively install auth_session_timeout and it's not working on my config.

Regards

[2018-06-04 18:41] novawish commented on #1268
I’m writting the test case, however i’m struggling to find a way to set attr groups to a field inside testing environment. It seems that the security setup is stored in m2m field named groups in model ir.model.fields but no, it has nothing to do with the attr groups. There must be somewhere stores that kind of information, could you please help me to give an idea for that?

[2018-06-05 06:19] hbrunn commented on #1268
read the code of `check_field_access` - it just looks at the groups attribute, so you can simply monkey patch that for some field, run the test, undo your patch

[2018-06-05 07:48] #1179 closed, assigned to nobody

[2018-06-05 09:12] aisopuro opened #1276 "[11.0][MIG] dead_mans_switch_client"

[2018-06-05 09:12] #1276 closed, assigned to nobody

[2018-06-05 09:19] aisopuro commented on #1008
`dead_mans_switch_client` #1277

[2018-06-05 14:37] SalahAdDin opened #1278 "[11][Asking]Prototyper for Odoo 11"
Hello guys, thank you for this tools.

I want to ask you: What's about module prototyper for 11?

[2018-06-05 14:39] pedrobaeza commented on #1278
Nobody has communicated about migrating it to that version.

[2018-06-05 14:39] #1278 closed, assigned to nobody

[2018-06-06 05:11] SalahAdDin commented on #1278
But, why?

[2018-06-06 06:57] sebalix commented on #1278
Because someone has to migrate it to make it available on Odoo 11.0: you or someone else :)

[2018-06-06 07:46] pedrobaeza commented on #1278
You can also finance any OCA contributor to do it.

[2018-06-07 15:08] BT-fgarbely commented on #1008
Hello @pedrobaeza
I want to migrate base_suspend_security to v11.0.
I think I have to create the PR in OCA/server-backend

[2018-06-07 16:28] pedrobaeza commented on #1008
@BT-fgarbely yeah, that's the proposed target repository. Go ahead and good luck!

[2018-06-12 08:29] ericzen commented on #1270
hello,
Is this auth_session_timeout working with odoo enterprise ? Because still not working on my config.

[2018-06-13 16:17] johanmcos opened #1287 "[8.0] super_calendar v8 KeyError: u'super'"
Hi!
This addon looks great and I"d really like to use it, but Installing super_calendar module in Odoo v8 causes KeyError: u'super' (full error below)

First occurred on a server running from command-line with custom modules installed running the last nightly build (2017/10/09), then tested and reproduced on a clean server running from command line with the latest v8 code from Github, and again on

[2018-06-21 07:53] AMhadhbi commented on #1008
I will work on scheduler_error_mailer

[2018-06-21 07:59] pedrobaeza commented on #1008
Great, noted

[2018-06-24 05:35] novawish commented on #1268
After trying several methods, i think that in the Unit test environment the system does not check for access rights on fields (i have created a real patch: set groups on the fields and tried on the GUI to make sure the testing user can not update restricted field, however he still be able to write that field in the Test Case). The checking security on fields is tricky, it's not simple as record ru

[2018-06-26 16:51] ruslanguns opened #1303 "Rompe la configuración y muestra página en blanco sin siquiera instalarla"
**Reproducción del problema:**

- Copiar directorio "mass_editing_v11" en el la carpeta /mnt/extra-addons_data/
- Al ir a reinciar servicios Odoo y sin siquiera instalar la app, la app de Odoo se muestra en blanco.

Al eliminar la carpeta se quita el problema.

**Error que lanza el log:**

[code]

[2018-06-26 20:22] pedrobaeza commented on #1303
You should always write in English in these repositories. Pleasy try latest version in server-ux.

[2018-06-26 20:22] #1303 closed, assigned to nobody

[2018-06-26 20:23] ruslanguns commented on #1303
Sure! thanks!

[2018-06-27 11:18] igallart opened #1304 "[10.0] Requirements conflict with requirements from partner-contact"
If you install requirements from partner contact 10.0, it say python-stdnum==1.1, but in server-tool there isn't version. The problem is that the version 1.1 from partner-contact not containt the import damm, and show a warning in the module sequence_check_digit.

Maybe the issue should go to partner-contact. I'm not sure that solution is the correct, change requirement in partner-contact?

[2018-06-27 12:09] Garamotte commented on #1304
As discussed [here](https://github.com/OCA/maintainer-quality-tools/issues/494), we should avoid a version freeze in OCA's repos.

Does partner-contact's modules work with the latest version ?
If not, is it possible to fix them to work with the latest version ?

[2018-06-27 16:42] sbidoul commented on #1304
@igallart can you point me to the place where it is said `python-stdnum==1.1`? I don't find it right away.

[2018-06-27 17:43] Garamotte commented on #1304
@sbidoul this is in the `requirements.txt` file of the 10.0 branch in partner-contact: https://github.com/OCA/partner-contact/blob/10.0/requirements.txt#L1

[2018-06-27 19:46] sbidoul commented on #1304
Ah yes. There is nothing in the commit history explaining why the version is pinned to 1.1. So I suggest to remove it and if something breaks, that something will need to be fixed.

[2018-06-27 19:58] Garamotte commented on #1304
@sbidoul Browsing the history in the 8.0 branch, the pinning seems to come from https://github.com/OCA/partner-contact/pull/216/commits/5438339dfbc0265b63c136a1f249d0723ee2ed33 (included in https://github.com/OCA/partner-contact/pull/216), and I think this is related to https://travis-ci.org/OCA/partner-contact/jobs/98053404#L666-L670

IMO, this is not relevant anymore.

[2018-06-27 21:10] igallart commented on #1304
I think like @sbidoul, updated at the last version and fixed if is needed

[2018-06-27 21:19] pedrobaeza commented on #1304
Please make the PR

[2018-06-29 06:44] igallart commented on #1304
https://github.com/OCA/partner-contact/pull/602

[2018-06-29 11:08] #1304 closed, assigned to sbidoul

[2018-07-04 07:22] nimeshcontractor opened #1307 "[11.0] Mass Editing : when l Click on remove from slider button facing traceback"
File "/home/bista/odoo_dev/odoo11/project/my_project/odoo/odoo/models.py", line 4659, in _getitem_
    return self._fields[key].__get__(self, type(self))
KeyError: 'ref_ir_value_id'

[2018-07-04 07:39] #1307 closed, assigned to nobody

[2018-07-05 13:10] zaoral commented on #1008
I will work on base_name_search_improved

[2018-07-06 22:54] orlant opened #1309 "logo proposal for Srver-tools"
I am a great graphic designer, this project is a great tool and should have a great design that identifies it, if you allow me I can create this logo for your project would be a pleasure to collaborate

[2018-07-06 22:57] pedrobaeza commented on #1309
Hi, @orlant there a lot of modules in this repositories, so if you wan to design the module icon in this style: https://github.com/OCA/maintainer-tools/blob/master/template/module/static/description/icon.svg, you're welcome.

[2018-07-06 23:06] orlant commented on #1309
that design is the main idea ... now I ask this repository created maintainer-tools need a logo ?? I can gladly show you the ideas, or is it no longer necessary?

[2018-07-06 23:16] pedrobaeza commented on #1309
No, that logo is already created, but each module has a function and can have an associated icon for that function. See other examples:

https://github.com/OCA/vertical-association/blob/11.0/membership_extension/static/description/icon.svg
https://github.com/OCA/server-tools/blob/11.0/database_cleanup/static/description/icon.png
https://github.com/OCA/partner-contact/blob/11.0/partner_external_map

[2018-07-06 23:19] pedrobaeza commented on #1309
I'm thinking that maybe you can design a logo for 2 things:

- OCB, which is a derivative of Odoo, but with extra patches and backports: https://github.com/OCA/OCB. Right now it uses the Odoo logo.
- Oxide, which is a distribution of Odoo + OCA addons (modules), which can be advertise with a new brand/logo.

What do you think?

[2018-07-07 00:32] orlant commented on #1309
It is very interesting, all the information you have given me, which is important to be able to start creating your logos, we will work with one first. tell me with what we started this first stage. where have I created this task request ?? And if you want some concept that you have in mind to take it into account in the creation? you think?

[2018-07-07 19:46] abdallamhafeez opened #1310 "11.0 backup access denied"
Hi
I have issue when take backup via `auto_backup` and make option `list_db = False` appear error in log `
odoo.exceptions.AccessDenied: Access denied` and backup file created with zero size

[2018-07-10 00:48] orlant commented on #1309
I have taken into account the moment when he told me that the design had to be under this concept since it is the main module of the project.

![oca](https://user-images.githubusercontent.com/40074778/42482963-b6ebce9a-83b8-11e8-944a-96b07d0d2504.png)

then just try to combine the cube of the main module with the OBC letters. And this was the result
![ocb12](https://user-images.githubusercontent.c

[2018-07-10 12:29] zbik2607 opened #1311 "Auto backup folder - problem when database is duplicated"
After duplicate the database, the backup folder still remains the same.
In this way, backup of the duplicated database is saved at the same time and in the same place as the backup source base.

[2018-07-11 00:43] elicoidal commented on #1309
@OCA/board

[2018-07-12 19:12] zaoral commented on #1008
i will work on auth_session_timeout (in to server-auth)

[2018-07-15 05:03] hydrosIII opened #1313 "Cannot install auto_backu for Odoo11"
Hi, when i try to install auto_backup i get the following error:

[code]

Enviroment:

Odoo 11 Enterprise
Debian 9

[2018-07-16 10:39] pedrobaeza commented on #1313
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo-community.com/runbot).

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

[2018-07-16 10:39] #1313 closed, assigned to nobody

[2018-07-17 03:47] TimLai125 opened #1315 "Auto Backup is very slow with SFTP transfer"
**Impacted versions:**
10.0c but other versions should also have this issue.
Auto Backup Module version: 10.0.1.0.2

**Steps to reproduce:**
1. Create an "Automated Backups" record and select "Remote SFTP server" as the "Method"
2. Execute the Backup

**Current behavior:**
The transfer speed of the backup file is very slow. It takes 37 minutes to transfer a 208MB file (~96 KB/S)
![image](https://u

[2018-07-17 03:47] TimLai125 commented on #1315
Hi @Yenthe666, Maybe you can give us some advice on this?
I am not sure whether this is the reason, ref: https://stackoverflow.com/a/28584857. I will give this a try after the backup is finished.

[2018-07-17 06:13] Yenthe666 commented on #1315
Hmm, that looks very long honestly. I never tried it with Windows as I only use Linux for all customers so couldn't tell you why directly.

[2018-07-17 06:19] TimLai125 commented on #1315
Here we use linux as well (the screenshot is taken from WinSCP).

[2018-07-17 06:23] Yenthe666 commented on #1315
@TimLai125 so this is from a Linux to a Linux? Is there a good internet connection between both servers at all times?

[2018-07-17 06:26] TimLai125 commented on #1315
@Yenthe666 Yes, it is from a Linux to Linux and I believe there is a good connection. Since I tried to use `rsync` to perform the file transfer and the speed is fastter, i.e. 618,003.04 bytes/sec (600kb/s)

[2018-07-17 07:04] elicoidal commented on #1315
@TimLai125 Looks to me a transport protocol question more than a Odoo question :wink:

[2018-07-17 07:04] elicoidal commented on #1315
did you test sftp from server to server (not using Odoo)?

[2018-07-17 07:05] pedrobaeza commented on #1315
Yes, has nothing to do with Odoo. Maybe Python libraries, but more the protocol used.

[2018-07-17 07:05] #1315 closed, assigned to nobody

[2018-07-17 07:13] TimLai125 commented on #1315
Hi @elicoidal , yes, I test the SFTP from server to server without using the auto_backup module, the speed is much faster.

[2018-07-17 07:51] ruslanguns commented on #1303
@pedrobaeza do you know where it's the auto-backup now? it isn't at the Server-ux repo now

[2018-07-17 07:57] pedrobaeza commented on #1303
https://github.com/OCA/server-tools/tree/11.0/auto_backup

[2018-07-17 07:57] ruslanguns commented on #1303
Thank you bro !!

[2018-07-17 12:57] mreficent commented on #1309
@pedrobaeza I don't understand where would you put the OCB logo you asked for

[2018-07-17 14:26] redlabmedia opened #1318 ""NameError: name 'basestring' is not defined" when adding fields"
mass_editing_v11 11.0.1.1.0

Odoo 11.0 (Community Edition)

When trying to "Add an Item" under Fields.  (Module: Contact)

[code]

[2018-07-19 22:44] GrupoAlvamex opened #1321 "SQL Export, How can I send parameters?"
Hello @florian-dacosta

Could you help me to use SQL Export module?   How can I send parameters and replace in query?

Thank you!!

[2018-07-24 17:59] hydrosIII commented on #1313
It is. The module is working now, than you.

[2018-07-27 14:29] lonelyleaves opened #1331 "how to get some information from other odoo database？"
excuse  me！i want get some information from other odoo database ，for example product stock，and so on， how i to do，and how to manager product.id?thanks

[2018-07-29 16:21] RoelAdriaans commented on #1311
There is no way to see when a database is duplicated, I think.
You have the same issue with fetchmail; the first database that fetches the email gets it.

The only way to fix this is to include the name of the database in the filename at this point: https://github.com/OCA/server-tools/blob/11.0/auto_backup/models/db_backup.py#L259

[2018-07-30 07:58] pedrobaeza commented on #1331
This question should be done on Odoo forums, not here,as this is an issue tracker, and for the modules contained here.

[2018-07-30 07:58] #1331 closed, assigned to nobody

[2018-07-30 09:17] jlzhou commented on #1008
I am working on menu_technical_info, I think it should be in server-ux repo, but I don't know how to move the module code properly with history, pls advise, thanks.

[2018-07-31 14:29] zbik2607 commented on #1311
Yes, database name should be added to the filename or ... separate folder with new name of database

[2018-08-02 09:11] astirpe commented on #1318
Module mass_editing for V11 is in another repository: https://github.com/OCA/server-ux
Try that one.
The version of the module you are using is not even existing in OCA.

[2018-08-02 09:11] #1318 closed, assigned to nobody

[2018-08-06 04:34] #467 closed, assigned to nobody

[2018-08-08 07:56] nilshamerlinck opened #1335 "[SEC] OCA-2018-08-08-1 - Denial of Service via dbfilter_from_header"
# Security Advisory (OCA-2018-08-08-1)

## Denial of Service via `dbfilter_from_header`

**Affects:** Odoo 8.0, 9.0, 10.0, 11.0 servers:
- having `dbfilter_from_header` module available in the addons path
- being directly accessible OR missing the expected configuration at the reverse proxy level (nginx)

**Credits**: Nils Hamerlinck (Trobz)
**CVE-ID**: [CVE-2018-14733](https://cve.mitre.org/cgi-b

[2018-08-08 07:57] #1335 closed, assigned to nobody

[2018-08-09 08:26] m3asmi commented on #865
this occurs when you don't have an __init__ file

[2018-08-10 19:58] moylop260 commented on #1335
Hi @nilshamerlinck
Thanks for fixing and advice us.

IMHO another issue is to apply monkey patch if the module is not installed.
I have fixed this one in the following PR:
 - https://github.com/OCA/server-tools/pull/1340

Could you check it, please?

[2018-08-10 20:12] moylop260 commented on #1335
We need consider these kind of cases for our guidelines:
 - https://github.com/OCA/maintainer-tools/pull/367

[2018-08-14 03:05] uakhhhh commented on #1122
I'am same error on v10 community.

[2018-08-15 14:40] minaeid90 opened #1342 "Declaration about dbfilter_from_header module?"
In configuration part in readme of dbfilter_fom_header module, I don't understand what should I do to send database in the header of the request?

[2018-08-15 14:42] pedrobaeza commented on #1342
??

[2018-08-15 14:42] #1342 closed, assigned to nobody

[2018-08-15 14:43] minaeid90 commented on #1342
sorry I forgot to add description to the issue

[2018-08-15 14:47] pedrobaeza commented on #1342
Any way, questions should be directed to mailing lists or forums, not to the issue tracker.

[2018-08-22 06:38] VbossEkat opened #1344 "I can not connect to an external data source in v10 (I previously worked in v8). Please, help."
I believe that there is something wrong here:

[code]

[2018-08-22 06:41] pedrobaeza commented on #1344
What is the error? Please follow module instructions.

[2018-08-22 06:56] VbossEkat commented on #1344
I set up according to the instructions. The test passes. I can not place the connection directly in the test_oracle model. I believe that this line is incorrect. But my knowledge of Python is not sufficient for the exact formation of a string.  (db_model=self.env['base.external.dbsource'].search([('id','=','2')]) )
Please, help.

[2018-08-22 06:59] pedrobaeza commented on #1344
Sorry, but you have to explain better. Where is that code? In the module? Of course hardcoding things is not a good idea.

[2018-08-22 07:07] VbossEkat commented on #1344
I put the modula code above. I repeat it:

class test_oracle(models.Model):
    _name = 'test.oracle'
    _rec_name = 'name'
    _description = 'test'
    name = fields.Char(size=20, required=True, index=True, )
    discr = fields.Char(size=30, required=False, index=True, )

    @api.model
    def search(self, args, offset=0, limit=None, order=None, count=False):
        """ search(args[, offset=0

[2018-08-22 07:10] pedrobaeza commented on #1344
Then the problem is your code indeed. You should ask for the solution in forums or mailing lists. Not here.

[2018-08-22 07:10] #1344 closed, assigned to nobody

[2018-08-28 17:47] antrax131 opened #1351 "auto_backup 11.0 - Stop Backup"
Hi,
after upgrading odoo server and server-tools the 27th of August my server does not back up, i have this error:
`Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/fields.py", line 937, in __get__
    value = record.env.cache.get(record, self)
  File "/odoo/odoo-server/odoo/api.py", line 960, in get
    value = self._data[field][record.id][key]
KeyError: (<odoo.sql_db.Cursor obje

[2018-08-28 17:52] pedrobaeza commented on #1351
You have to upgrade the module in your DB.

[2018-08-28 17:52] #1351 closed, assigned to nobody

[2018-08-28 19:12] antrax131 commented on #1351
Solved!!

[2018-09-04 14:24] #1093 closed, assigned to nobody

[2018-09-11 07:01] AlainVanUtterbeeck opened #1355 "base_optional_quick_create V10 does not install"
When trying to install this module, I get:
  File "/home/alain/DRGTDEV/odoo-10.0-development/odoo10/custom/base_optional_quick_create/models/ir_model.py", line 31, in _patch_quick_create
    model_obj._patch_method(method_name, _wrap_name_create())
AttributeError: 'NoneType' object has no attribute '_patch_method'
although I do find _patch_method in /home/alain/DRGTDEV/odoo-10.0-development/odoo10

[2018-09-11 07:23] pedrobaeza commented on #1355
It seems you have an invalid model registered in your DB. Maybe some uninstalled modules or migrated DB?

[2018-09-11 07:35] AlainVanUtterbeeck commented on #1355
Hello Pedro,

Indeed, I am trying to upgrade from V9 to V10 using Openupgrade.
To simplify my work, I had set all custom modules to 'uninstalled' in the
database, that way I could do the -u all of openupgrade without loosing any
of my custom data and now have a V10 database with just standard modules
migrated.
The plan was to add module per module afterwards (which is what I am now
doing), I start

[2018-09-11 07:38] pedrobaeza commented on #1355
You don't have to do that. You are not going to lose anything not setting modules as uninstalled. But this module is very hackish, and thus it requires a clean model environment. Uninstall it on v9 or remove all the models marked with avoid quick create, migrate, and then restore it.

[2018-09-11 07:38] #1355 closed, assigned to nobody

[2018-09-12 07:22] LoisRForgeFlow commented on #984
This can be closed.

[2018-09-12 07:28] #984 closed, assigned to LoisRForgeFlow

[2018-09-12 16:01] ananiasfilho opened #1356 "Log remote ip when behind remote proxy"
We have nginx and apache as Reverse proxy to odoo 8 and use auth_brute_force module.
My environment:

Nginx reverse proxy: 192.168.0.1
Odoo: 192.168.0.2 - Version 8

 I have set right headers, but module just get Proxy ip address.
`       	# set headers
        	proxy_set_header    X-Real-IP       $remote_addr;
        	proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
   		proxy_set

[2018-09-12 16:07] ananiasfilho commented on #1356
More informations:
Its a tcpdump output with more few informations as Headers.
[code]

[2018-09-13 07:10] yajo commented on #1356
You probably have an older, buggy, werkzeug package. See https://github.com/odoo/odoo/issues/18052#issuecomment-364703091.

Thanks!

[2018-09-13 07:10] #1356 closed, assigned to yajo

[2018-09-13 10:00] MiguelMachadoM opened #1357 "[11.0] base_name_search_improved"
@dreispt

I have a problem when try filter in tree view ex. Sale order trying filter by Customer

Thanks,
Miguel

[2018-09-13 14:07] ananiasfilho commented on #1356
Yajo, just to know. My issue is not with odoo logs. Its on auth_brute_force module.

Odoo logs show ip right! just the auth_brute_force_module log wrong IP.
[code]

[2018-09-20 22:13] elevationO opened #1362 "Invalid domain term error in mass editing v11"
I am able to install the module but get this error when choosing the Model in the settings.

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-11.0.post20180718-py3.6.egg/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/bitnami/apps/odoo/lib/odoo-11.0.post20180718-py3.6.egg

[2018-09-20 22:47] pedrobaeza commented on #1362
Try to replicate the problem in runbot (https://runbot.odoo-community.org/runbot/250/11.0 - admin/admin). I would bet it's due to Bitnami stuff...

[2018-09-20 23:19] elevationO commented on #1362
I just tried the runbot and it worked fine.  I also just installed on a localhost v11ce I installed yesterday and get the same error.

When downloading the zip and extracting the folder is named "mass_editing_v11" and throws an error on the install.  I changed the folder to "mass_editing" like it shows in runbot and the module installs.

Could the renaming be part of the problem?

Thanks for your

[2018-09-21 00:19] pedrobaeza commented on #1362
Yeah, the module directory should be `mass_editing`, not `mass_editing_v11`.

[2018-09-21 00:19] #1362 closed, assigned to nobody

[2018-09-21 01:04] elevationO commented on #1362
Ok yes by changing it I was able to install as mentioned above. After installing on a fresh odoo 11ce I get this error.

Can you help identify the error?

This was closed without a solution.

[2018-09-21 01:13] pedrobaeza commented on #1362
This is not a problem of the module, but your deployment.

[2018-09-22 15:41] thiago95macedo opened #1365 "[11.0] [module_auto_update] BUG"
The module stopped working, no longer updates (OBS: I have the module working normally in other other installations)
No message is generated and it does not generate any meaningful information in the log.

2018-09-22 15:33:01,933 1533 INFO adaxtechnology odoo.modules.loading: loading 1 modules...
2018-09-22 15:33:01,950 1533 INFO adaxtechnology odoo.modules.loading: 1 modules loaded in 0.02s, 0 qu

[2018-09-24 07:38] pedrobaeza commented on #1365
The module is working fine in all my installations. If you are not able to give the detailed steps for reproducing the problem, this will hardly be fixable.

[2018-09-24 18:45] elevationO opened #1366 "[10.0] Mass Editing not showing action for Product"
I have confirmed the issue in runbot.

I can create a new mass editing item in settings, add the product model, select fields and add sidebar button but nothing shows in the action button on the products module.

I have tried both product and product template.

Thanks in advance.

[2018-09-24 18:50] pedrobaeza commented on #1366
I can confirm it's working. I think you haven't refreshed the browser

[2018-09-24 18:50] #1366 closed, assigned to nobody

[2018-09-24 19:01] elevationO commented on #1366
Thanks.  After refresh the Product Template one I created is showing.

Also thanks for the very quick response!

[2018-09-25 13:30] maiconkkl commented on #1365
From what I saw in some tests with the zeroed installation, only using this module, it does not create the control keys as if it was not being executed or overwriting the configuration menus.

When executing the module via the odoo shell, it works correctly, but never during execution.

[2018-09-27 00:38] OCA-git-bot opened #1368 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] auditlog - ~~By @GoodERPJeff - #1392~~ By @sebalix - #1556
- [x] auto_backup - By @valentincastravete - #2872
- [x] base_cron_exclusion - ~~By @GoodERPJeff - #1393~~ By @hveficent - #1593
- [ ] base_custom_info - Improve usability with polymorphic widget?
- [x] base_exception - ~~By @GoodERP

[2018-09-28 10:56] sebastienbeau opened #1370 "Keychain and Server should make love"
I have done a gdoc (publicaly editable)

Keychain and server env have the same goal, managing password and configuration in a correct way.

There is two way for doing idea:
- server env: all password/configuration are store on the filesystem
- keychain: all password/configuration are store in db but crypted so no leak is possible

Both solution are correct, and depend on your customer need

Right

[2018-10-08 13:07] aitorbouzas commented on #1368
auto_backup #1384

[2018-10-08 19:49] carlosrve opened #1386 "[10.0-11.0] SSL error on tests run in Odoo.sh"
When I create a new blank project in Odoo.sh v10, and add the OCA/server-tools as a submodule, the build failed with this error:

Failed to remove existing timezone info /home/machines/ubuntu-16.04/etc/localtime in container: Read-only file system
Host and machine ids are equal (ed55b77ba3633bc584825aba1e8a657e): refusing to link journals
Traceback (most recent call last):
File "/home/odoo/src/odo

[2018-10-10 22:48] thomaspaulb opened #1390 "[8.0] base_name_search_improved"
`name_search_use_standard` is not set True for all models by default, although the code [suggests it should](https://github.com/OCA/server-tools/blob/8.0/base_name_search_improved/models/ir_model.py#L41)

This leads to the standard name search not being called for certain models and thus breaking, an example being the unit test added in #1389

[2018-10-11 11:29] #1386 closed, assigned to nobody

[2018-10-11 22:29] gdgellatly commented on #975
I imagine we resolved this

[2018-10-11 22:29] #975 closed, assigned to nobody

[2018-10-11 22:30] pedrobaeza commented on #975
Yes!

[2018-10-13 08:18] GoodERPJeff commented on #1368
auditlog  #1392

base_cron_exclusion  #1393

base_exception #1395

base_technical_user #1394

[2018-10-13 10:52] elicoidal commented on #1368
@GoodERPJeff please split with one PR per module. otherwise the review is very complex.

[2018-10-15 06:49] CasVissers-360ERP opened #1396 "[11.0] database_cleanup fields for columns not removed"
When using the module database_cleanup to purge orphaned columns, the corresponding fields in ir.model.fields are not removed.

While searching fields in the frontend the user is still able to find orphaned fields/columns.

[2018-10-15 07:37] pedrobaeza commented on #1396
AFAIK, they are 2 different purges in their corresponding menu entries. @hbrunn can you confirm?

[2018-10-15 07:45] hbrunn commented on #1396
no, there indeed can be cases where the above happens, so a field is not in the ORM (that's what the orphaned columns cleanup looks at), but still in `ir_model_fields`.  It would make sense to add a `Purge fields` menu entry

[2018-10-17 07:15] simahawk opened #1398 "Q: new auth module on v10 -> go for OCA/server-auth?"
What's the policy is this case?

Being a new module it feels right to put it into server-auth (opt 1).
Still, probably for the sake keeping everything homogeneous we should put it here in 10.0 (opt 2).

Cast your votes! :)

[2018-10-17 07:51] pedrobaeza commented on #1398
If we can classify it correctly since beginning, I would say to create branch 10.0 on OCA/server-auth and put it there.

[2018-10-17 09:21] simahawk commented on #1398
and maybe we can mention that other auth modules are hosted on server-tools#10.0 in the main README

[2018-10-17 09:56] smangukiya commented on #1134
@MaxyMoos : Hi, I was facing the same issue while generating Journal Entry. I've tried resolving that and having success with below given PR. I hope that will help.

https://github.com/OCA/server-tools/pull/1399

Thanks
Sandip

[2018-10-18 07:32] gurneyalex commented on #1008
@pedrobaeza is it ok for me to add this module https://github.com/OCA/server-tools/tree/10.0/sql_export to the migration list? Sounds a good candidate for staying in server-tools.

[2018-10-18 07:36] pedrobaeza commented on #1008
Yeah, it's similar to other options:

* On https://github.com/OCA/server-backend we have several modules for importing from other DBs. Is the same export than import?

* On OCA/server-ux, there are things that change the interface or add options to the interface (look `mass_editing`)

so if you decide to continue here, it's OK.

[2018-10-19 08:24] alexey-pelykh commented on #1008
@pedrobaeza what to do if module is in 10.0 and it's needed in 12.0 - port only to 12.0?

[2018-10-19 08:25] pedrobaeza commented on #1008
@alexey-pelykh yes, you don't need to migrate to all intermediate versions (unless you want). On the migration steps, you have to change the source branch from 11.0 to 10.0 for pointing to where the module is migrated.

[2018-10-19 19:02] misern2 commented on #1008
Hi @pedrobaeza .

I want to migrate the base_import_search module to V11 and I don't find it in the google doc.
Which is the best place, server-backend repo ?

[2018-10-23 09:18] pedrobaeza commented on #1008
@misern2 do you mean `base_import_match`?

[2018-10-23 11:35] misern2 commented on #1008
@pedrobaeza yes!. Sorry for the mistake .. base_import_match ....

[2018-10-23 13:00] alexey-pelykh commented on #1368
`users_ldap_groups` https://github.com/OCA/server-auth/pull/46

[2018-10-24 07:57] pedrobaeza commented on #1008
Yes, OCA/server-backend or this one are good hosters, as can't be easily classified.

[2018-10-25 08:42] moturi12 opened #1403 "Q : extending base_exception module to allow to overwrite the exception based on user permission"
Hi,

We are planning to extend the base_exception module allow to overwrite the exception based on user permission for a given rule group and send an email notification to corresponding users for review and confirm the document.

Let me know if this was not touched before

Thanks,
Naran

[2018-10-25 15:51] gurneyalex commented on #1398
@simahawk we are going to need this in 8.0 and 9.0 too.

[2018-10-25 18:23] simahawk commented on #1398
:sob: :sob: :sob: :sob:

[2018-10-30 14:59] Saphar opened #1412 "dbfilter_from_header not working on v12"
Are you planning on implementing it on version 12?

[2018-10-30 15:03] pedrobaeza commented on #1412
It's not migrated yet.

[2018-10-30 15:03] #1412 closed, assigned to nobody

[2018-10-30 15:03] pedrobaeza commented on #1412
The planning and tracking is done in #1368

[2018-11-03 06:57] jeffery9 commented on #1368
sentry  #1415

[2018-11-09 11:20] ThomasBinsfeld opened #1422 "[RFC] Auto Export: powerful tool to export data from any model"
# Auto Export

## Description
This new module would introduce a new model allowing to export data of a selected model with a saved export (ir.exports). In the first time, the CSV file would be saved on the filesystem but additional protocols could be added. Export would be triggered from a button on the form and would be asynchronous (queue.job).

The model would be accessible from a new menu and

[2018-11-09 11:27] pedrobaeza commented on #1422
There were something similar on module `module_prototyper`

[2018-11-09 11:36] ThomasBinsfeld commented on #1422
@pedrobaeza I don't think so. The idea here is to export the same CSV file as you would get by going to the list view of invoices (e.g.) and export them with a selected export template.

But here, the `auto.export` model would allow to filter on the records (with a domain) and save the CSV file to a selected path on the filesystem.

[2018-11-09 11:40] pedrobaeza commented on #1422
Oh, right, that was XML, not CSV.

[2018-11-09 13:42] rvalyi commented on #1422
Hello @ThomasBinsfeld. Are you aware of this module https://github.com/OCA/connector-interfaces/tree/10.0/base_import_async ?
Is there no overlap? I pretend to migrate base_import_async to v11 and v12 in the very next days. If you see possible synergies, please suggest design changes to fit your needs as soon as you can. But I tend to see your module could be built atop of base_import_async or use

[2018-11-09 13:46] lmignon commented on #1422
@rvalyi The proposed module is to support scheduled export of data not to import data asynchronously. Therefore there is no overlap.

[2018-11-09 13:48] ThomasBinsfeld commented on #1422
@rvalyi @lmignon Indeed. I think the only common thing would be `queue.job`.

[2018-11-09 15:40] rvalyi commented on #1422
My bad, I wasn't aware @ThomasBinsfeld was from Acsone too. Then you know the import module of course. I also just had a meeting with our Akretion customer BTW and it turns out his CSV import will keep being a legacy PHP external service +Odoo RPC in his project, so I'm afraid I'll have no budget to migrate base_import_async to v11/v12 contrarily to what I said earlier.

[2018-11-09 16:01] zakiuu commented on #1422
I'm a big fan of the job done by @simahawk and @mpanarin https://github.com/OCA/connector-interfaces/pull/44, used it in a personal project this week and it's really nice.

[2018-11-12 17:51] carlosrve commented on #1386
On v11 it is the same problem. I am creating a new PR for v11.

[2018-11-15 09:24] NL66278 commented on #1068
Encountered this bug too:
Traceback (most recent call last):
  File "/home/openeyedev/var/projects/oe_woonbond_10/odoo/parts/odoo/odoo/http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/openeyedev/var/projects/oe_woonbond_10/odoo/parts/odoo/odoo/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  Fil

[2018-11-15 09:29] NL66278 commented on #1068
I looked at PR #849 (the one for 10.0). Despite the description of the PR it did not change anything in ir_model_fields.py where the error occurs, so it is no surprise that the problem is not solved.

[2018-11-16 03:44] moylop260 opened #1426 "[RFC] database_cleanup: Deprecate identifier_adapter code"
The following code could be replaced:
 - https://github.com/OCA/server-tools/blob/11.0/database_cleanup/identifier_adapter.py

by
[code]
http://initd.org/psycopg/docs/sql.html#module-psycopg2.sql

[2018-11-16 07:56] agent-z28 opened #1428 "BASE_NAME_SEARCH_IMPROVED Throws Error on Filtering in APPS"
2018-11-16 07:54:52,644 16536 ERROR tms odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/opt/odoo-11/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo-11/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])

[2018-11-16 08:16] pedrobaeza commented on #1428
Odoo version?

[2018-11-16 08:16] pedrobaeza commented on #1428
@dreispt you were the original author of this. It needs a clause like `if limit and result_count < limit:`

[2018-11-16 08:36] pedrobaeza commented on #1426
Isn't better to make the PR directly?

[2018-11-16 14:33] moylop260 commented on #1426
Yes, even it’s better the PR
Help wanted
Do you want create it?

[2018-11-16 14:41] pedrobaeza commented on #1426
I'm not sure what you are trying to achieve, so I'm not the more suitable for this

[2018-11-17 16:35] legalsylvain opened #1429 "refactoring module_auto_update"
Hi,

For some projects, I have to generate a hash of modules, to ensure that code did not changed. (It's about certification process, like, for exemple, in France, the connexion between point of sale and scale).

For that purpose, I have to compute hash, based on source code (.py, .xml, but .js too). All the code to compute this hash is in the module ``module_auto_update``, so I propose :

- to cr

[2018-11-17 16:43] legalsylvain commented on #1429
Extra question : for the time being, seems that

- if you add / change test files. (``./tests/*.py`` or ``demo/*.xml``), the module_to_update consider the module as 'to be updated'. is it a desired behaviour ?

https://github.com/OCA/server-tools/blob/12.0/module_auto_update/models/module.py#L19

[2018-11-17 16:45] pedrobaeza commented on #1429
The problem here is the same problem when the other time it was factorized: you are going to add an extra dependency for current systems, and this is going to break them. Why not simply depend on this module? It's harmless if you don't trigger the update through one of the mechanism.

[2018-11-17 16:57] legalsylvain commented on #1429
Hi @pedrobaeza : thanks for your answer.

because it's an other feature. (computing hash for certification process). So, I don't see as a good idea to force users that want the certification module, to install a module they (maybe) don't want. (even if it is disabled by default and harmless).

I don't understand why adding dependency will break current systems. Could you be more precise ? what is

[2018-11-17 17:06] pedrobaeza commented on #1429
Your idea is to split `module_auto_update` in 2 modules: `addon_hash` (I prefer `module_hash` any way), and `module_auto_update`, and make `module_auto_update` dependent on the first one. Current systems will break when updating as the new module is not installed (and even maybe not available).

Although I don't like to have to install 2 modules for the feature I use (auto-update), something toler

[2018-11-17 17:59] legalsylvain commented on #1429
Yes. (Actually, I was proposing that name)

I don't face this trouble. if i update a module A that depends newly from B that is not installed, the module B is installed automatically. Is not it ?

Indeed, this point depends on deployment mechanism, but some of them are not resilient to adding new dependencies in a stable version. So I'm fully agree with you on that point. :+1:

Humm. That's not th

[2018-11-18 10:22] sbidoul commented on #1429
@legalsylvain it's a safety-first approach, as it is not inconceivable that people would put database-changing stuff in these directories (although not advisable of course).

About splitting this module, well I don't remember the details but adding a dependency to it broke the auto update process. Actually it's another expression of this module failing to update correctly in various corner cases (

[2018-11-19 09:13] sbidoul commented on #1429
Ok, I did it: https://github.com/acsone/click-odoo-contrib/pull/27

It will be much more reliable without the need of an installed addon.

[2018-11-19 23:09] agent-z28 commented on #1428
it is odoo version 11

[2018-11-20 08:51] yajo commented on #1429
Interesting approach, @sbidoul, thanks!

If this is good for you, I guess we can close this now. Thanks!

[2018-11-20 08:51] #1429 closed, assigned to nobody

[2018-11-20 11:50] dreispt commented on #1428
I'm not sure where the problem is.
I'm aware that this feature dos not work on numeric fields, is that the case @agenterp ?

[2018-11-20 12:06] jayo2004 opened #1432 "Mass Edit remove vendor"
I am using Odoo 10. I need to remove and add new vendor to multiple products. The Model I am using is Product Template. I can Add vendors to products but I cannot remove Vendors. No errors just vendoe does not remove.

[2018-11-20 12:11] pedrobaeza commented on #1432
It's a one2many, so it's logical. Work at product.supplierinfo level with a module like `product_by_supplier`.

[2018-11-20 12:11] #1432 closed, assigned to nobody

[2018-11-20 14:00] jayo2004 commented on #1432
I installed product_by_supplier but sure what its suppose to do? Will it allow to mass change vendor?

[2018-11-20 15:13] pedrobaeza commented on #1432
Filter and remove lines you don't want. It's not mass-update. It's mass removal.

[2018-11-20 19:18] alexis-via commented on #1068
I confirm the bug is still present in v10 with up-to-date code from origin/10.0 :(

[2018-11-26 09:15] naglis commented on #1096
@pedrobaeza, OK to close?

[2018-11-29 16:50] alexis-via opened #1439 "onchange_helper doesn't return fields set to False by onchange"
Steps to reproduce the bug:
1) install the purchase module
2) Create a partner with fiscal position = False
3) run the following code:

    pvals = {'partner_id': my_new_partner_id}
    vals = self.env['purchase.order'].play_onchanges(pvals, ['partner_id'])

In "vals", the dict doesn't contain any field 'fiscal_position_id". This is a bug, we should get the fields set to False by the onchange meth

[2018-11-30 03:05] andres-pcg commented on #1428
@dreispt @pedrobaeza i'm having the same issue when searching for in_invoice on account.invoice model

[2018-12-03 15:45] andres-pcg commented on #1428
Any update on this one ?

[2018-12-06 20:50] alecvinent opened #1444 "[9.0] [auth_admin_passkey] Error View inheritance may not use attribute 'string' as a selector."
On installing auth_admin_passkey for 9.0 I'm getting this error:

![auth_admin_passkey - error](https://user-images.githubusercontent.com/29969428/49611099-8d787280-f96e-11e8-8d9e-e190b7160b49.png)

[2018-12-06 21:31] alecvinent commented on #271
I'd like to contribute.

[2018-12-07 10:14] pedrobaeza commented on #271
@alecvinent in what do you want to contribute? Migrate a certain module? Just tell us to assign you in this issue for avoiding duplicating efforts and start when you want.

[2018-12-07 10:14] pedrobaeza commented on #1444
Module is not migrated to this version, so it's normal that errors appear. That's why `installable` is set to False.

[2018-12-07 10:14] #1444 closed, assigned to nobody

[2018-12-07 14:05] alecvinent commented on #271
@pedrobaeza I've been checking auth_admin_passkey module issues, so I can work with it.

[2018-12-07 14:08] pedrobaeza commented on #271
OK, you can check v10 version which is migrated for starting with that instead: https://github.com/OCA/server-tools/tree/10.0/auth_admin_passkey

[2018-12-07 14:08] pedrobaeza commented on #271
Hey, I'm seeing that there's already a migration in #522. Review that one instead.

[2018-12-09 07:10] dcorio opened #1453 "[11.0][database_cleanup] cannot drop inherited column"
I tried to run database_cleanup over a database migrated to 11.0 with openupgrade and getting this error:
psycopg2.ProgrammingError: cannot drop inherited column "openupgrade_legacy_11_0_usage"

Is this something that needs to be solved on the openupgrade's side?

Thanks

[2018-12-10 09:09] pedrobaeza commented on #1453
@dcorio there are several constraints that can prevent the module to drop the column, and that's not enforced for DB integrity. For example, if you a foreign key to other existing table with data.

@hbrunn what's your opinion on this?

[2018-12-10 09:22] hbrunn commented on #1453
I made it a habit to ignore bugreports which don't contain a proper backtrace and this way let me beg for the information necessary to say anything at all

[2018-12-11 16:13] mbcosta opened #1457 "[10.0] Module onchange_helper - dict returned have wrong values to o2m fields"
Hi all
I am working in the PR https://github.com/OCA/account-invoicing/pull/320 , to create invoice from picking and would like to use the module onchange_helper to filled the invoice lines, but I noticed that the dictionary return have wrong values to o2m fields. When called the method:

                vals = invoice_id.play_onchanges(
                    {'picking_id': move.picking_id.id},

[2018-12-11 22:20] rvalyi commented on #1457
Hello @mbcosta, according to @florian-dacosta this bug wouldn't be surprising as they tested only simples cases and none with an on_change returning o2m fields. So probably you should test if the field is a o2m and if it is you should kind of call recursively a convert function (using the current code) that would clean up the dicts of such o2m.

[2018-12-14 16:09] sbejaoui commented on #1368
base_user_role #1460

[2018-12-17 14:50] sbejaoui commented on #1368
onchange_helper #1461

[2018-12-23 12:55] specitsystems opened #1464 "Mass Editing v11 when adding fields"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo/odoo-server/odoo/tools/pycompat.py", line

[2018-12-23 12:56] pedrobaeza commented on #1464
Are you using this with Python 3? Python 2 is not supported.

[2018-12-23 12:57] pedrobaeza commented on #1464
And another thing: are you using the proper module in https://github.com/OCA/server-ux/tree/11.0/mass_editing? Why are you publishing the issue here and not in that repo?

[2018-12-23 13:22] specitsystems commented on #1464
I think I have the wrong copy. apologies for posting on the wrong platform

[2018-12-23 13:24] pedrobaeza commented on #1464
Please check the proper one and try again, and if the problem persists, go to the right repo and put the issue there.

[2018-12-23 13:24] #1464 closed, assigned to nobody

[2018-12-29 03:03] emagdalenaC2i commented on #1368
Please, add to the list kpi - By @ageficent - #1440

[2018-12-29 03:30] emagdalenaC2i commented on #1008
@pedrobaeza Please, add to the list base_fontawesome - By @etobella - #1361 that is already migrated and merged

Please, add to the list base_name_search_improved - By @zaoral - #1325 that is already migrated and merged

Please, add to the list mail_log_message_to_process that is renamed as -> fetchmail_incoming_log - By @hveficent - #1402 that is already migrated and merged

Please, could you mov

[2019-01-08 11:30] maryadimar opened #1473 "odoo server error"
Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "/opt/odoo/odoo/http.py", line 334, in _call_function
    return checked_call(self.db, *args, **kwargs)
  File "/opt/odoo/odoo

[2019-01-08 11:31] maryadimar commented on #1473
I try install base_user_role v.10

[2019-01-08 20:35] pedrobaeza commented on #1473
This seems something on your deployment. If you check on runbot, it's working.

[2019-01-08 20:35] #1473 closed, assigned to nobody

[2019-01-09 16:05] chafique-delli opened #1476 "[10.0] base_user_role module - If remove last role of defined on the user, its groups are let untouched"
Hi all,

When we remove the last role on a user account, its groups are let untouched.
Is it normal because in V8, its groups are let untouched unless the `force` parameter is `True`.
Should I make a PR to add this parameter as in V8 ?

CC @sebalix , @adrienpeiffer

[2019-01-10 22:13] #1321 closed, assigned to nobody

[2019-01-13 10:51] Vassy commented on #1428
Same error on Odoo 11 CE, any suggestions?

[2019-01-13 12:07] agent-z28 commented on #1428
Yes its just a Small change in the if condition

--- a/base_name_search_improved/models/ir_model.py
+++ b/base_name_search_improved/models/ir_model.py
@@ -19,7 +19,7 @@ def _get_rec_names(self):

 def _extend_name_results(self, domain, results, limit):
     result_count = len(results)
-    if result_count < limit:
+    if limit and result_count < limit:
         domain += [('id', 'not in', [x[0] f

[2019-01-14 10:45] CasVissers-360ERP commented on #1396
@astirpe @hbrunn Is this something which might be fixed? It can be very confusing.

[2019-01-15 09:52] diogocduarte opened #1479 "dbfilter_from_header: 12.0 Migration"
dbfilter_from_header: 12.0 Migration

[2019-01-15 09:53] diogocduarte commented on #1368
Please add to list dbfilter_from_header #1479

[2019-01-15 09:58] pedrobaeza commented on #1479
?

[2019-01-15 09:58] #1479 closed, assigned to nobody

[2019-01-15 09:59] pedrobaeza commented on #1368
@diogocduarte you are linking a blank issue. If you want to have in the list `dbfilter_from_header`, this is because it's not present in 11.0, so no automatic linking here, but any way, you are not presenting any PR migrating it.

[2019-01-15 10:41] diogocduarte commented on #1368
@pedrobaeza got it, will migrate first and will send you a PR later. Will check guidelines also, thanks!

[2019-01-16 16:45] KareemAbuzaid opened #1482 "[10.0] auth_session_timeout redirction issue"
There seems to be an issue causing a redirection loop. Below is the linux command and the output log.

Linux command to reproduce the issue:
[code]

Error log:
[code]

[2019-01-17 13:37] #885 closed, assigned to nobody

[2019-01-17 15:34] KareemAbuzaid commented on #1482
@pedrobaeza @jmorgannz @lasley

Would you guys please check this?! 😄

[2019-01-17 22:48] agenterp commented on #1428
-    if result_count < limit:
+    if limit and result_count < limit:

[2019-01-18 01:22] jmorgannz commented on #1482
Hi,

I refactored this module for Odoo 9 - sorry I can't offer any input on Odoo
10+ at this time as I don't run it - but I understand there are some
significant architectural changes that break it.

I am happy to explain how it was working if someone else wants to adapt for
Odoo 10+

Jesse

On Fri, Jan 18, 2019, 4:35 AM KareemAbuzaid <notifications@github.com wrote:

On Jan 18, 2019 4:35 AM, "Kar

[2019-01-18 04:00] #828 closed, assigned to nobody

[2019-01-20 10:38] KareemAbuzaid commented on #1482
@jmorgannz  Thanks for your response. I am working with this module on odoo 10.

I would like to fix the issue I am facing, so it would be nice if you would explain the module to me.

[2019-01-21 00:11] jmorgannz commented on #1482
What do you mean explain the module?
Which part do you need help with understanding?

On Sun, Jan 20, 2019, 11:38 PM KareemAbuzaid <notifications@github.com
wrote:

[2019-02-04 11:42] AMhadhbi commented on #1368
scheduler_error_mailer

[2019-02-04 12:38] pedrobaeza commented on #1368
@AMhadhbi I suppose you want to be assigned for migrating that module, isn't it?

[2019-02-04 13:52] AMhadhbi commented on #1368
@pedrobaeza  Exactly! thank you.

[2019-02-05 11:57] minimedj opened #1499 "[12.0] Sentry addon trows an exception"
I installed sentry addon for my odoo 12.

Here is a link of installed addon: https://github.com/OCA/server-tools/tree/12.0/sentry

The problem is that it trows an exception during odoo start:

[code]

What could the reason? How to fix it?

[2019-02-05 16:28] alecvinent opened #1501 "[9.0] users_ldap_groups populate wrong behavior"
Hello, there.
I've configured this module so I could get only some filtered rows from LDAP/AD.
This is the sentence:
`memberOf, 'equals', `'ou=Users,dc=handel,dc=pt'`

I´ve added the filter to get only users in that group, but I'm getting all users, machines and the holly heaven.
Is there anything I´m doing wrong?

Thanks in advance.

[2019-02-14 20:45] eLBati commented on #1368
letsencrypt: https://github.com/OCA/server-tools/pull/1511

[2019-02-19 12:21] sbidoul opened #1516 "[RFC] base_view_inheritance_extension: extend attrs domain"
Would it make sens to make `base_inheritance_extension` aware of domain attributes. Something link this:

[code]

[code]

[2019-02-19 12:22] pedrobaeza commented on #1516
You have something similar already with the `list_add` and `list_remove` commands.

See also https://github.com/odoo/odoo/pull/26607 for my proposal in core.

[2019-02-19 12:26] sbidoul commented on #1516
@pedrobaeza I don't see how to update the readonly key inside the attrs dict with list_add. Moreover, supporting OR with list_add is not possible. Do I miss something?

[2019-02-19 12:28] pedrobaeza commented on #1516
You're right, for `attrs`, which is a dictionary with a list as value is not possible. A very specific case, but it would be better talking about inheritance compatibility. Normally people replace full `attrs` attribute.

[2019-02-19 12:39] hbrunn commented on #1516
that's what I meant with the `json_dict` operation from the roadmap, but the way I see it you would overwrite the key mentioned. The code would be more or less the same as for `python_dict`.

I don't think it's worth trying to allow logical operations here, because this will be unstable (as in depending on override order)

[2019-02-19 15:22] sbidoul commented on #1516
@hbrunn Is it more unstable than full overwrite?

[2019-02-19 15:35] hbrunn commented on #1516
well, a full overwrite give you something that works from the point of view of some module. `AND`ing two mutually exclusive conditions from two different modules gives you something that never works as expected. Both are bad, I agree, my argument is just that you'd spend time on something that still doesn't make modules play nice together

[2019-03-02 19:52] yelizariev commented on #1270
It doesn't work. See https://github.com/OCA/server-tools/issues/1237

[2019-03-02 19:55] yelizariev commented on #1237
This update should be applied for branch 10: https://github.com/OCA/server-auth/commit/f19bd6ef199e284cbbfd002ba0b40ef3bd67b598

[2019-03-06 14:12] pedrobaeza commented on #1398
Can this be closed?

[2019-03-06 14:38] #1398 closed, assigned to nobody

[2019-03-12 17:33] lfreeke commented on #1237
Isn't fixed by this merge request? https://github.com/OCA/server-tools/pull/1495

[2019-03-12 18:11] yelizariev commented on #1237
It doesn't look so

[2019-03-28 15:04] remi-filament opened #1532 "[10.0] auth_session_timeout causing server error with auth_cas module"
Following merge of #1495 in server-tools (commit 5fa2cc9c9d05fa5be4aa7e21ac434b52bf6b2843), using both [auth_cas module from Elico_Corp](https://github.com/Elico-Corp/odoo-addons/tree/10.0/auth_cas) cause internal server error.

I did not manage to find out how to fix that issue, but managed to figure out at which time the issue appeared (on Monday 25th of March) and this is the only module that I

[2019-03-28 15:05] pedrobaeza commented on #1532
Sorry, but the other module is not an OCA one, so we can't provide support on it.

[2019-03-28 15:08] remi-filament commented on #1532
Thank you @pedrobaeza, I know the other module is not an OCA one, and I am not asking support for it.
The setup worked for months until a regression was introduced by updating auth_session_timeout beginning of this week.
Disabling  auth_session_timeout solves the issue, so I really believe that a regression was introduced which should be handled, which is why I report it here.

[2019-03-28 15:20] pedrobaeza commented on #1532
No, it's not a regression, but an incompatibility of both modules. `auth_session_timeout` works as expected with all my known OCA modules, but not with that one, so the possibilities are:

1. The other module is not well developed and introduces a problem that is not shown until the last change here (but existed before).
2. The change in OCA module has a compatibility problem and then, this case r

[2019-03-28 16:37] remi-filament commented on #1532
@pedrobaeza
My purpose is clearly not to blame anyone, just to report on a possible issue.
I tested on another environment without auth_cas module present and I managed to reach the same error by modifying password from User Form view as an administrator (in configuration > Users).
Would you mind checking if you can reproduce that way ?

[2019-03-28 16:38] pedrobaeza commented on #1532
OK, then it would be point 2. Reopening.

@daramousk @hbrunn can you please check what's happening?

[2019-03-28 16:48] hbrunn commented on #1532
@daramousk you need to reproduce the caching decorator of the original in https://github.com/OCA/server-tools/pull/1495/files#diff-67171e8ae8a4e346f4c6f4015b4a2b68R105
(cf https://github.com/OCA/OCB/blob/10.0/odoo/addons/base/res/res_users.py#L525) - decorators aren't inherited

[2019-03-30 02:20] #1365 closed, assigned to nobody

[2019-03-30 17:34] m3asmi opened #1534 "v11.0 database_cleanup Odoo server error !"
[code]

[2019-04-01 16:25] pedrobaeza commented on #1532
I have fixed it directly in 7b33aca2fa87cd853c9b5ec4edca2adf42447994

[2019-04-01 16:25] #1532 closed, assigned to nobody

[2019-04-02 05:05] AjayViknesh opened #1537 "[11.0] [scheduler_error_mailer] Callback Error"
Hi I installed the module and ran the demo schedule action. I got this error in the terminal.

Kindly please help me with this issue I am not able resolve it.

`2019-04-02 05:03:52,146 11292 ERROR B2Btesting odoo.addons.base.ir.ir_cron: Call from cron Test Scheduler Error Mailer for server action #554 failed in Job #31
Traceback (most recent call last):
  File "/home/ewall-lap/Desktop/odoo-isha-b2

[2019-04-02 07:54] pedrobaeza commented on #1537
@AMhadhbi you migrated the module to v11. Can you please check?

[2019-04-02 13:15] anassahmed commented on #1482
I've investigated the issue and I found that the redirection issue happens because of the following:
- The method checks the modification time of the session file, if there's none (what happens when a new browser session is opened with no prior cookie), it expires the session (which is already has no uid or anything!!).
- The method works (by default) on all pages except `/longpolling/notify` and

[2019-04-02 13:17] anassahmed commented on #1237
The method `_compute_session_token` isn't called with each request like `check` was.

In `11.0` version of `auth_session_timeout`; it uses `_authenticate` in `ir.http` model, which is called with each request (we've been using the `11.0` version with our Odoo `10.0` instance for some time now).

[2019-04-02 13:44] anassahmed commented on #1482
Sorry, my last comment explains what happens when we used the `11.0` version of the module, not the `10.0` version which just returns nothing without raising exceptions.

[2019-04-02 14:34] remi-filament commented on #1532
Thanks, it works !

[2019-04-03 05:58] thomaspaulb opened #1541 "[8.0] logging_json: error on load"
When `jsonlogger` is [set to None](https://github.com/OCA/server-tools/blob/8.0/logging_json/json_log.py#L22), [this line](https://github.com/OCA/server-tools/blob/8.0/logging_json/json_log.py#L58) gives the following error:

[code]

[2019-04-03 07:00] AjayViknesh commented on #1537
Hi!

Even if I raise any other error other than the given example in the module I am getting the same error

`TypeError: _handle_callback_exception() missing 1 required positional argument: 'job_exception'`

Is there any other way to overcome this.

Thanks!

[2019-04-03 07:23] pedrobaeza commented on #1541
That's logic, because you don't have the library, but that's why you have a logger line for knowing that the library is missing. It can be improved avoiding that, but I recommend you simply to not put full repository in that case in the addons path.

[2019-04-03 07:28] thomaspaulb commented on #1541
Okay the logger line is acceptable but an installation breaking on a missing package is not.. I thought OCA practice was to use try...catch statements to avoid anything breaking. "server-tools" is something almost everybody has in their build by default.

Anyway for me I have just added the package.. we could leave the issue open in case anyone wants to go and code a "try" statement. Or close it a

[2019-04-03 07:30] pedrobaeza commented on #1541
The `try` is there. The problem is that the imported thing is a class, and it's used for inheriting, so a replacing class should be provided (something like object), and on a Python submodule it's not possible, so the code should be rewritten for not using that import and use a more specific one.

[2019-04-03 07:31] hbrunn commented on #1541
just assigning a mock object would work

[2019-04-03 07:37] thomaspaulb commented on #1541
Mock object would work but Pedro's suggestion seems more neat.. what do you think

[2019-04-03 07:54] #1541 closed, assigned to nobody

[2019-04-03 08:46] AMhadhbi commented on #1537
@pedrobaeza @AjayViknesh
I created new empty demo database and I installed the module and ran the demo schedule action, there is no issue triggered , so I cannot reproduce the issue. we already used the module and we don't have this issue.
@AjayViknesh please test the module with new empty demo database with the latest update odoo v11.

[2019-04-03 08:56] pedrobaeza commented on #1537
Thanks for the insights, @AMhadhbi. Closing this while no other explanations provided.

[2019-04-03 08:56] #1537 closed, assigned to nobody

[2019-04-04 07:23] sergiocorato opened #1546 "[8.0] ImportError: No module named server_environment_files"
The last commits on repo re-create the issue on server_environment_files import, the problem is not present at 5ec40c3e47e8ab0fa090b4f51237a8673ce11d85

Error is ```ImportError: No module named server_environment_files``` as #89

[2019-04-04 09:57] sergiocorato commented on #1546
@pedrobaeza I didn't find a fast solution, some tips?

[2019-04-04 10:04] pedrobaeza commented on #1546
Sorry, but no, but why you don't simply put needed addons and not full directory to your addons path?

[2019-04-04 10:04] thomaspaulb commented on #1546
Am also getting the same issue here, will submit a fix.

[2019-04-04 10:05] thomaspaulb commented on #1546
@pedrobaeza For us that is difficult, we have not moved to git-aggregator yet but are still on Anybox buildout

[2019-04-04 10:07] pedrobaeza commented on #1546
Ok, @thomaspaulb that hurts to be heard :stuck_out_tongue_closed_eyes:

Move directly to Doodba (https://github.com/Tecnativa/doodba). You won't regret!

[2019-04-04 10:09] thomaspaulb commented on #1546
Yes yes, will think about it, but you know how the README says it's highly opinionated, so it affects my stubborn character to suddenly move to it and get Docker as a free present :-)

[2019-04-04 10:11] pedrobaeza commented on #1546
Well, opinionated doesn't mean inflexible. But the opinionated part is our 8 years accumulated experience implementing Odoo/OpenERP, so you will appreciate the design decisions we have taken.

[2019-04-04 10:25] sergiocorato commented on #1546
@pedrobaeza very good, this is for old installation that I don't touch

[2019-04-04 10:27] pedrobaeza commented on #1546
Yes, it was just an off-topic/advertisement, hehe

[2019-04-04 10:29] thomaspaulb commented on #1546
I appreciate all of it, if there was an "odba" version without Docker i would have probably already switched. Anyway, we are polluting this thread, you are utterly right, but for legacy reasons maybe OCA should also try to support including the whole `server_tools` repo.

Funnily, I just realized [one of your own commits](https://github.com/OCA/server-tools/commit/f0b86820008c8c3bdb2c177eb0a8bb9b3

[2019-04-04 10:33] pedrobaeza commented on #1546
Yes, indeed I'm polluting this, so sorry for that, but all of this is because I have walked through this path, and that patch is because I did the same deployment techniques in the past with that problems, and now I have totally forgotten these things with new method. No more comments by my part on this. We can discuss in other part if you have interest in it.

[2019-04-04 10:38] sergiocorato commented on #1546
:laughing:

[2019-04-04 16:08] aek opened #1549 "Error in server_environment module while loading due an enforce of the usage of a non standard config option"
The module server_environment is introducing a non consistent behavior into this repo that lead to this error already reported at the issue #690
I don't think that a module should enforce anything like this over a non-standard config option. Also this error is happening at the Odoo load time because it's not checking if the module is installed or not.
I think that modules like this should provide

[2019-04-08 13:24] bealdav commented on #1368
sql_export : comes from v10
https://github.com/OCA/server-tools/pull/1554

[2019-04-09 13:44] sebalix commented on #1368
auditlog: https://github.com/OCA/server-tools/pull/1556 (supersedes #1392, history broken)

[2019-04-09 18:14] remytms commented on #1368
dbfilter_from_header #1558

[2019-04-09 19:43] kimirondon opened #1559 "[v10] mass_editing: doesn't remove one2many fields"
I try to remove a one2many field with the module mass_editing and it didn't work. I guess that the problem is on the call to the write method to set False a field o2m.

[2019-04-10 08:43] houssine78 commented on #1368
Hi @pedrobaeza could you please add https://github.com/OCA/server-tools/pull/1558 to the list for db_filter.

[2019-04-10 08:49] pedrobaeza commented on #1368
Uhm, I added yesterday...

[2019-04-10 12:49] houssine78 commented on #1368
Thank you @pedrobaeza !

[2019-04-11 09:47] slimit commented on #1197
Exactlty the same for v10.

[2019-04-17 12:45] qupro commented on #1220
I think that confussion cames from the fact that app in
https://www.odoo.com/apps/modules/11.0/mass_editing_v11 (with basestring error)
seems to be the same that in
https://github.com/OCA/server-ux/tree/11.0/mass_editing/ (works fine)
I downloaded the first one and I was near to put the issue same here by error.

[2019-04-22 09:17] gustavovalverde commented on #1549
Just stumbled on this @lasley. This is causing a 500 Internal Server Error even when the module is not installed. Enforcing to set this parameter even if not needed, and just because the module is part of this repo. cc: @pedrobaeza