[2019-04-26 08:34] tbaden commented on #1368
sql_export https://github.com/OCA/server-tools/pull/1554 and sql_request_abstract https://github.com/OCA/server-tools/pull/1459 merged, but not checked yet

[2019-05-03 12:42] khalyomede opened #1568 "Sentry client side"
Just wanted to know if you planned on making a client-side version of Sentry for Odoo? If not, could you please lead me to the procedure to follow to add it client side, the Odoo way? Thank you a lot.

[2019-05-06 22:16] jcbr87 opened #1571 "Parsear .pdf"
I want to develop a module that increases the functionality so that from cv in .pdf you can create an applicant in the recruitment application, and you can do a search in the pdf to locate the list of possible candidates for a vacancy.

[2019-05-08 18:15] youring opened #1574 "[12.0]excel_import_export_demo Can't download import xlsx template"
XLSX template not clickable for download. Step to reproduce on [rubot](http://3369151-12-0-6b6f14.runbot2-2.odoo-community.org/web?debug=1#id=21&action=257&model=sale.order&view_type=form&menu_id=138)
1. create a blank sale order, with customer selected( ready to save and trigger import action)
2. click Action, click Import Excel, notice the 'stop' sign in the popup.
![image](https://user-images.g

[2019-05-11 07:37] kittiu commented on #1574
Thank you for reporting, I will take a look.

[2019-05-14 02:54] kittiu commented on #1574
On the wizard, we show the link to the download file by,
[code]
This was working on older version of Odoo (i.e., v8). But now it is not working in v12 (seem that framework itself block the link if wizard has no ID yet).

Meanwhile, I post it here to see if anyone know how to fix in correct way.

Anyone know how to work with this Binary field on Wizard mode in v12?

[2019-05-22 11:27] m3asmi opened #1580 "database cleanup delete views and fields created by odoo studion!"
I installed the module in odoo v10 then I cleaned the database after that I found out that the fields and views created with odoo studio not existing anymore!

[2019-05-22 11:30] pedrobaeza commented on #1580
It can be, as the module is not intended to work with it as was created before that thing was born. You can add a PR for including a warning in the known issues part of the README.

I run away from Studio (but that's my personal opinion).

[2019-05-29 08:14] jlsotomed opened #1588 "Error when rule purchase order"
Good morning,

When I create a rule en auditlog for Purchase Order(it is saved without any problem), Then I get an error message when I try to create a new purchase order, it works well with other modules(Partner, Management).
![image](https://user-images.githubusercontent.com/51153923/58540619-052aaa00-81fa-11e9-9557-146fa1dcb8a0.png) if I delete the purchase order rule, it start working well aga

[2019-05-29 18:17] pedrobaeza commented on #1588
Put the rule you have configured for trying to reproduce the problem.

[2019-06-01 22:18] emagdalenaC2i commented on #1008
Please, check auth_from_http_remote_user - By @TDu - OCA/server-auth#7 that is already merged

super_calendar - By @ddufresne - #1173 is closed

[2019-06-01 22:25] emagdalenaC2i commented on #1368
Please, check auto_backup - By @aitorbouzas - #1384 that is already merged

[2019-06-03 09:50] nikeshscs commented on #924
Hello,
module: auditlog  (https://apps.odoo.com/apps/modules/10.0/auditlog/)
version: 10.0 CE
I'm facing the same problem with auditlog module.
Below zip is video clip that shows the how that error is produce.

[auditlog-2019-06-03_17.39.16.zip](https://github.com/OCA/server-tools/files/3246933/auditlog-2019-06-03_17.39.16.zip)

Thanks.

[2019-06-04 14:11] LeartS commented on #1368
Why is there no `auth_brute_force` module?

[2019-06-04 14:14] pedrobaeza commented on #1368
It has been moved to OCA/server-auth

[2019-06-04 17:11] zachwaite opened #1595 "[11.0] module_auto_update recreates menu items in restored db"
To recreate:
- Delete the home page from the navbar using the website frontend menu manager popup.
- Take a backup of the database, then restore into a new, but identical environment
- From the shell run env['ir.module.module'].upgrade_changed_checksum()

Note that the menu for home is recreated.

I'm looking for a way to preserve the menu layout without manually fiddling with menus when restoring

[2019-06-04 17:18] pedrobaeza commented on #1595
This is not something of the module, but how Odoo works with updates and the several mechanisms (forcrecreate, noupdate, etc). You must use another technique for "hiding" the home page navbar.

[2019-06-04 17:18] #1595 closed, assigned to nobody

[2019-06-04 17:28] zachwaite commented on #1595
Fair enough. Thanks!

[2019-06-10 08:33] youring commented on #1574
Hi Kittui, Maybe an extra Download button.
FYI https://www.odoo.com/fr_FR/forum/aide-1/question/binary-field-in-custom-wizard-can-t-be-downloaded-click-blocked-149149

[2019-06-10 15:49] kittiu commented on #1574
Oh thanks @youring we will check..

[2019-06-18 03:59] kittiu commented on #1574
@youring for some reason, I tested with recent odoo download and it works now. I think problem is fixed in core Odoo. Can you test with latest version of Odoo again, and let me know the result.

[2019-06-18 14:15] thomaspaulb commented on #1534
Getting this also, but in v10 and with the column `name` of `mrp.production`.

[code]

[2019-06-19 08:51] youring commented on #1574
Tested with latest commit https://github.com/odoo/odoo/commit/32603da5ba4ac601329561b7c107ec79a1f6a9eb
in two cases:
1. Source install on virtual env based on latest requirements.txt on Debian 9
2. Windows exe install

Not work either.
@kittiu Can you check your envirement again? Thanks.

[2019-06-19 10:37] kittiu commented on #1574
@youring here now I fixed it. Clicking the link first to get to download file.
https://github.com/OCA/server-tools/pull/1612

![image](https://user-images.githubusercontent.com/1973598/59758732-c946aa00-92b8-11e9-8c8b-94280b92b00b.png)

[2019-06-19 10:49] youring commented on #1574
Works like a charm! Hats off for your speed.

[2019-06-20 15:50] mvaled commented on #1008
@pedrobaeza

I don't see any PR for `module_prototyper`.  In the [document](https://docs.google.com/spreadsheets/d/1Xg95cW4TFMf_Lo5i_CZC_qOOfN8RgxPRc0LJTLTkdUI/edit#gid=0) is still listed in the repo.

Is someone working on it, or could I open a PR for it.

Also I don't see even a checkbox for it in #1368.  Was this addon split to somewhere else?

[2019-07-08 12:41] CasVissers-360ERP opened #1619 "[12.0] Auditlog traceback"
Traceback when creating an object (invoice in this case);

[code]

[2019-08-05 16:22] leeagraterrenceb opened #1633 "SQL_Export causes blank screen in web_studio."
module: sql_export
version: 12.0

**Steps to reproduce**
-
Install web_studio.
Install sql_export.
Turn on Debug mode.
Open Contact app.
Open a Contact.
View the Properties for a field.
Click *More at the bottom of Properties.

**Current behavior**
Studio returns a blank screen.

**Expected behavior**
Studio returns customizable information.

![With SQL_Export](https://user-images.githubuserconten

[2019-08-06 09:41] movahhed opened #1634 "how to install server tools for odoo 12"
hi dear how to install srver tools for odoo 12?

[2019-08-06 09:44] pedrobaeza commented on #1634
The same as you install other third party module. If you don't know it, please go to forums or mailing lists to ask.

[2019-08-06 09:44] #1634 closed, assigned to nobody

[2019-08-06 09:48] movahhed commented on #1634
ok thanks
how install requirement.txt?

[2019-08-06 09:48] movahhed commented on #1634
i have odoo 12 into ubunto 18.04 lts

[2019-08-06 09:49] pedrobaeza commented on #1634
As said, you should do these questions on forums or mailing lists.

[2019-08-06 09:51] movahhed commented on #1634
where ? please send address

[2019-08-06 09:54] pedrobaeza commented on #1634
Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups).

[2019-08-07 07:09] kittiu opened #1635 "[12.0][IMP] enhance excel_import_export with report action"
Currently, when use it as printing a form, the only way is to, from the wizard, create excel and save in wizard to hold it for user to click on download.

It would be nicer if we can make it like printing a report (using XML report action), sample is here.

https://github.com/OCA/reporting-engine/blob/12.0/report_xlsx/models/ir_report.py#L11-L21

[2019-08-07 15:55] asaunier commented on #1368
mail_cleanup: https://github.com/OCA/server-tools/pull/1640

[2019-08-09 10:43] pedrobaeza commented on #1008
That's because this issue is auto-populated from previous branch content when the new branch is created, and that module wasn't merged when that happens.

[2019-08-11 10:42] sswapnesh commented on #1580
Fixed in https://github.com/OCA/server-tools/pull/1632

[2019-08-11 11:23] #1580 closed, assigned to nobody

[2019-08-12 12:07] guewen opened #1642 "base_exception: side-effect in @api.constrains lead to no retry"
# Introduction

The `base_exception` module states that we have to call `_check_exception` in an `@api.constrains` method.

https://github.com/OCA/server-tools/blob/5157720da42cccfd3bbda0072384d61d6162cd5d/base_exception/models/base_exception.py#L221-L236

And it's what's been done in the `sale_exception` module:

https://github.com/OCA/sale-workflow/blob/8428446c79981aee281eb1773ff84c5a32d02067/s

[2019-08-12 13:06] florian-dacosta commented on #1642
Hi @guewen
Thanks for the detailed report.

If I understand correctly, there are 2 issues.
The fact that the write is always done on the exception rule, instead of the the sale order cause concurrent update error more frequently.
The fact that this error can happen in the api constrains which lead to no retry (and also to raise an exception with no linked to the real error, I guess)

I wonder, wit

[2019-08-12 13:47] guewen commented on #1642
Yes

PR https://github.com/OCA/server-tools/pull/1638 make it very unlikely, if not impossible, to happen indeed.

I remember @gurneyalex considered it but discarded it, I don't remember the reason, maybe to limit the change as much as possible.
May people be using record rules on them?

Yep, plus it breaks the [principle of least astonishment](https://en.wikipedia.org/wiki/Principle_of_least_asto

[2019-08-12 14:01] florian-dacosta commented on #1642
Well, I guess we agree  the `_check_exception` should be refactore to avoid be in a api.constrains decorator.

Independently, I'd like to have @gurneyalex opinion about the log_access removal in this specific case, as it seems to be the best solution for me, for this particular case.

I did not understand this part.
Even if it changes a bit the behavior, like I said before, in this case the write_

[2019-08-12 14:09] hparfr commented on #1642
+1 on this.

[2019-08-13 12:21] guewen commented on #1642
My test of #1638 is not positive.

I tried this, and even tried to put `_log_access = False` globally on `exception.rule` and still had concurrent update errors, l'm looking for various solutions.

@florian-dacosta were you the author of this part https://github.com/OCA/server-tools/blob/639bb47fd97db552785e8db755c982be0845826d/base_exception/models/base_exception.py#L115?

Do you remember why the

[2019-08-13 13:38] florian-dacosta commented on #1642
@guewen
Yes,
Since a while, there are 2 ways to check the exception rules:
- By python code, as it has been forever
- By domain (I am not sure since when)
A "Domain rule" is good because it allows to check a rule against a lot of records very quickly.
When evaluating a domain rule, the module was writing on the rule. (I guess it is more efficient / less complex code)

So, if I remember correctly,

[2019-08-13 15:18] guewen commented on #1642
Thanks for the explanation! The pity thing is that we should be only adding or removing entries in the relation table, so writing on one side or the other should change nothing at all.

I opened 2 pull requests which do not solve the concurrency issue but remove the `@api.constrains` so at least such errors are retried properly:

* https://github.com/OCA/server-tools/pull/1644
* https://github.com

[2019-08-14 09:14] guewen commented on #1642
Found why. Using _log_access removes the `write` on `exception_rule`, so there is no concurrent update on `exception_rule`.
But it fails because every sale orders linked to an exception are updated to set the `main_exception_id` field when one of them change.

In my scenario, I have sale orders already linked with the configured exception rules and I create a new sales order (id 693334 in the logs

[2019-08-14 09:56] guewen commented on #1642
I'm surprised, I don't really see what would take more time since the things happening are:

case 1 when we write on `ExceptionRule.sale_ids`:

* insert or delete in the M2m relation table for the current sale
* write on exception_rule.write_date in case of _log_access in case
* cascading to update every sale.order linked with the rule (because of the computed `main_exception_ids` that depends on

[2019-08-14 11:09] florian-dacosta commented on #1642
So, I did not personally made the test on performance, so it is hard to be categoric on this.

Detect exceptions on large recordset seems quite usual to me (cron that check all records with exceptions for instance).
Also, this is on these big checks that we really feel the slowness. If you check on 1 record, the performance issue is probably kind of negligible.

But for sure, if main_exception_id

[2019-08-14 11:32] guewen commented on #1642
@florian-dacosta it's easy to streamline all the records to add/write for a rule while writing on the comodel (sale.order, ...) instead of the rule, working on it.

[2019-08-14 12:14] guewen commented on #1642
@florian-dacosta here it is https://github.com/OCA/server-tools/pull/1647, thanks for your help!

[2019-08-14 12:16] yvaucher commented on #1642
@florian-dacosta IMO the issue with concurrence on the write is more troublesome that performances.

@gurneyalex could reduce the number of UPDATE queries done on rules plus add a lock on row level, but the lock is not enough with simultaneous exceptions as we don't only write on the rules but also on more sales than expected. So it's less likely to fail but still the python exceptions are not of

[2019-08-14 12:26] guewen commented on #1642
@yvaucher our messages crossed but my PR fixes the concurrent errors without using any locks, and I claim it does not have performance penalties.

[2019-08-24 16:08] TTPBruce opened #1652 "KeyError: 'message_unread' when sending mail in fetchmail_notify_error_to_sender"
Running on Odoo 12 Enterprise
[code]

[2019-08-26 11:32] flachica commented on #565
I want to migrate the kpi module. To make the announcement that is commented [here](https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0) is this comment enough?

[2019-08-26 14:15] pedrobaeza commented on #565
Yes, it's enough :smiley: Check #1423 for possible similarities

[2019-08-26 15:03] HviorForgeFlow commented on #1652
Hi @TTPBruce, It is not related with EE. I think we fixed this same problem in another module during migrations to v12. We'll fix it ASAP.

@mreficent Do you remember this error? Did you do a fix in odoo itself, or just a hack on that module?

[2019-08-26 15:05] TTPBruce commented on #1652
Thanks for the quick response. Please let me know if there is anything I can do to help/reproduce this issue.

[2019-08-29 09:02] HviorForgeFlow commented on #1652
@TTPBruce Have you this commit on your Odoo 12 code??
https://github.com/odoo/odoo/commit/fa294d2059bac600402363d5791a48de64316c2e

@mreficent do the fix there. https://github.com/odoo/odoo/pull/31799

[2019-08-29 13:20] TTPBruce commented on #1652
That commit fixed it - thanks.

[2019-08-29 13:21] HviorForgeFlow commented on #1652
Close it then :smile:

[2019-08-29 13:22] TTPBruce commented on #1652
Oops closed :D

[2019-08-29 13:22] #1652 closed, assigned to HviorForgeFlow

[2019-09-02 10:27] sbidoul opened #1658 "excel_import_export relationship to report_xlsx"
@kittiu I notice `excel_import_export` can also be used to create reports.
Would it make sence to make it depend on `report_xlsx` (from the reporting engine repo), to share the report type and some common logic?

[2019-09-02 12:06] kittiu commented on #1658
The method is quite different in the way excel os created. But i di try to propose the addon as discuss here.
https://github.com/OCA/reporting-engine/pull/313
Let me know if you have more comments, I am willing to do just worry it will make things more confused.

[2019-09-03 14:11] FFernandez-PlanetaTIC commented on #1368
`base_multi_image` by @shepilov-vladislav in #1650, not #1651

[2019-09-10 07:23] jcarlosmontoya commented on #1310
Hello, this module does not work with list_db = False config parameter

![image](https://user-images.githubusercontent.com/7680456/64592565-93432e80-d3ac-11e9-95e3-45e48ad47783.png)

[2019-09-10 07:29] jcarlosmontoya opened #1664 "12.0 auto_backup access denied list_db"
Module does not work when list_db parameter is False

![image](https://user-images.githubusercontent.com/7680456/64592736-f3d26b80-d3ac-11e9-9268-95a256ce0a0a.png)

Odoo check this
![image](https://user-images.githubusercontent.com/7680456/64592860-38f69d80-d3ad-11e9-8fdf-fda391dbc8a8.png)

![image](https://user-images.githubusercontent.com/7680456/64592905-4a3faa00-d3ad-11e9-85d0-26eacfdd1298.png

[2019-09-12 03:27] smartapp-ep opened #1666 "excel_import_export will this be migrated to v10.0 and v11.0?"
query regarding module excel_import_export

firstly, a big thank you for such a great module.

1. is migration in the road map?
2. if not, could you please briefly advise what efforts is involved to do this?

many thanks

[2019-09-12 07:57] kittiu commented on #1666
@smartapp-ep no, port to v11 or v10 is not on our plan.
But we plan to migrate to v13 once it is out (python3).

However, this module is very independent (no addons dependency), you may try it with small fixes (If I not wrong, 2.7 and 3 just use different way to iterate for loop). If you can try with v11, and make a PR, I can help test / review :)

[2019-09-13 12:31] awa-si opened #1668 "@base_fontawesome js files module definition > website frontend issues"
Missing dependencies:     (2) ["web.FormRenderer", "web.ListRenderer"]
in js files is module name as seen 'base_fontawesome5'. Should'nt it be 'base_fontawesome'?

[2019-09-14 03:05] zachwaite opened #1670 "11.0 auto_backup: backup fails when more than 1 backup defined"
To reproduce:

1) Configure two backups with different target directories on local server filesystem.

![image](https://user-images.githubusercontent.com/6884125/64902713-5e6bfb80-d67a-11e9-9c0f-e67a1663e77d.png)

2) Run the cron manually.

Result:

First backup succeeds, second fails.

Log output:

[code]

[2019-09-14 18:25] kittiu commented on #1666
@smartapp-ep I just see v11 is also python3, and so I already back port it.
https://github.com/OCA/server-tools/pull/1671
Would you review and test it? There are quite a number of changes from 12 to 11, so, your test will be helpful.

@pedrobaeza my first time to back port. I just do it as a new ADD, correct?

[2019-09-14 19:38] pedrobaeza commented on #1666
You have to use https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0 for bringing commit history (or 12.0), but switching branches for doing the reverse.

[2019-09-14 19:50] kittiu commented on #1666
Ok. So I branch out of 12.0 to [11.0][MIG]?

[2019-09-14 19:54] pedrobaeza commented on #1666
The one that is most similar to 10.0 in code. I presume both are very similar, so take 12.0 as the original one. The idea is to get a separate commit for specific 10.0 changes needed for making it run in that version.

[2019-09-15 02:58] kittiu commented on #1666
@pedrobaeza thank you!
Redo -- https://github.com/OCA/server-tools/pull/1672

[2019-09-18 02:13] #1635 closed, assigned to nobody

[2019-09-20 12:15] vbezl opened #1676 "[11.0] BUG: Auditlog - related fields are not stored (with store=True)"
If I create a rule with Type="Full log" - some related fields are not stored to database (with store=True of course!) - they have null values instead.
If I use "Fast log" instead - they are stored just fine.
Anyone can help? (it took me a lot of time while I found that it was because of auditlog module!)
Thanks!

[2019-09-29 21:47] OCA-git-bot opened #1679 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] 13 - By @NL66278 - #1933
- [x] auditlog - ~~By @lembregtse - #1685~~ By @sebalix - #1793
- [ ] auto_backup - By @jcarlosmontoya - #1697
- [ ] base_cron_exclusion
- [ ] base_custom_info - By @dalonsod - #1833
- [x] base_exception - ~~By @jaredkipe - #1760~~ By @joao-p-marques - #1920
- [ ] ba

[2019-09-30 11:59] lembregtse commented on #1679
Will be working on migration of auditlog (https://github.com/OCA/server-tools/pull/1685)

[2019-09-30 12:39] newtratip commented on #1679
I'm working on `dbfilter_from_header`

[2019-09-30 13:00] kittiu commented on #1679
Work on excel_import_export and excel_import_export_demo

[2019-10-01 08:13] newtratip commented on #1679
Work on `auto_backup`

[2019-10-01 09:01] schout-it commented on #1679
working on module_auto_update

[2019-10-01 13:56] sebalix commented on #1676
It is the same issue that https://github.com/OCA/server-tools/issues/1134 (not clear here but the field in this issue is a related/computed one with `store=True`).
You can test this PR https://github.com/OCA/server-tools/pull/1686, it should fix your issue.

[2019-10-01 15:03] sebalix commented on #1588
@jlsotomed I tried to reproduce your issue by creating a "full log" rule on `purchase.order` with the last `auditlog` version for Odoo 10 and all was working fine, no issue to create several orders one after the other.
Is the `_compute_is_group_admin` part of your code? I was unable to find it in the standard.

However, there is some pending fixes/changes regarding this part of the `auditlog` code

[2019-10-01 15:12] njeudy commented on #1008
@mvaled did you work on module_prototyper migration ? want to start V12 migration :)

[2019-10-01 17:15] metaminux opened #1693 "[10.0] onchange_helper: SQL error happens from _get_message_needaction method"
I think this issue is related to #1510 changes.

I'm using [account_invoice_inter_company module](https://github.com/OCA/multi-company/tree/10.0/account_invoice_inter_company) for a while but I can't validate an inter-company invoice as of September 18th.

This is the trace returned by Odoo :
[code]
The "play_onchanges" method is called for field "partner_id" on a new invoice (I mean "newId" one)

[2019-10-04 06:10] lmignon commented on #1693
@metaminux Thank you for the report. This error comes from an issue fixed into odoo... https://github.com/odoo/odoo/commit/52526920085e94727ddc12d188af826ede7fd6d9 This error should disappear if you upgrade Odoo.

[2019-10-07 10:24] metaminux commented on #1693
@lmignon You're right, I'm using the docker image for Odoo 10.0 which is using the nightly deb package with ODOO_RELEASE = 20190816, but you commited the fix in the 10.0 branch on september the 13th, right ?
So this error will occur until odoo/docker is updated...

[2019-10-07 10:50] lmignon commented on #1693
right...

[2019-10-10 10:35] gurneyalex commented on #1679
anyone knows if onchange_helper still makes sense in 13.0 ? I guess yes because api.onchange is still around

[2019-10-10 10:37] pedrobaeza commented on #1679
Yes, it's needed as most code still uses it

[2019-10-11 12:39] mileo opened #1698 "Delayed compute in older versions"
Hi,

@leorochael develop the same method of delayed compute in version 8 with contextmanager, with a great performance increase.

I can put this module in OCA standards. Should I make a pull request?

Best regards

[2019-10-11 12:39] mileo commented on #1698
Forgot the link: https://github.com/kmee/kmee_odoo_addons/blob/8.0/base_delay_computed/__init__.py

[2019-10-13 17:34] zeroheure opened #1699 "[10.0] base_exception should not depends on openupgrade"
hook.py in base_exception #10.0 depends on openupgrade libs. And one can't install base_exception without running upgrade from previous version #9.
This should at least be described in README.

[2019-10-13 18:54] pedrobaeza commented on #1699
Explained in https://github.com/OCA/server-tools/pull/1700#issuecomment-541446743

[2019-10-13 18:54] #1699 closed, assigned to nobody

[2019-10-21 09:41] Laurent-Corron commented on #1679
working on:
- base_jsonify #1704
- onchange_helper #1705

[2019-10-22 10:46] miteshdhaduk commented on #1174
@Alubba I also face same issue. Have you got anything?

[2019-11-05 11:05] njeudy commented on #1368
module_prototyper from V10.0: #1718 - WIP

[2019-11-07 16:13] mvaled commented on #1008
@njeudy No, I didn't.  Feel free to start. :+1:

[2019-11-19 05:40] OmniaGit commented on #1664
In case of cloud database we always disable the list of it.
so in this case will be very useful having a field that allows to specifies if you want to backup a single database or all the database..

[2019-12-03 07:43] baimont opened #1734 "Where to place a module that adds groups on ir.values?"
Hello,

I have a generic module originally developed by apineux that overwrites get_actions() on ir.values to add a Many2many groups_id, allowing to prevent users to see ir.values if not belonging to one of its group (if groups_id defined on ir.values). It was needed for me to hide some actions in the actions list.
I was wondering if server-tools would be the appropriate repo to propose this new m

[2019-12-03 09:44] legalsylvain commented on #1734
Yes, server-tools is a good repository for such module.

[2019-12-04 09:45] baimont commented on #1734
https://github.com/OCA/server-tools/pull/1735

[2019-12-05 10:26] codeagencybe opened #1737 "records archiver lifespan example contacts"
Hello,

Can somebody help me on the records archive app please?
I'm trying to auto archive old records for contacts, sale orders and pickings.
I'm trying the contacts first, but nothing is happening. I set the lifespan to 6 months, state is empty as contacts done have a state like done or cancel.
Perhaps I need to enter something different here?

And how to auto archive sale orders and pickings? T

[2019-12-05 11:48] guewen commented on #1737
These models do not have an `active` field. If you want to archive them, you'll need to add the field.

For the contacts, check that the cron "Records Archiver" is running. And look if you have some "Archiver error" in the logs.
Note that the lifespan is based on the `write_date`, so if something frequently updates records, they will not be archived.

[2019-12-10 17:26] ghost commented on #1679
Can anyone work on base_exception ?

[2019-12-12 20:15] omer633 opened #1741 "languages eror"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\api.py", line 753, in get
    value = self._data[field][record._ids[0]]
KeyError: 2

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\fields.py", line 970, in __get__
    value =

[2019-12-12 21:27] pedrobaeza commented on #1741
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo.com/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/13.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please rep

[2019-12-12 21:27] #1741 closed, assigned to nobody

[2019-12-18 10:07] LoisRForgeFlow commented on #1679
base_cron_exclusion done in #1746.

[2020-01-03 13:16] metaminux commented on #1693
For those using docker image, as Odoo 10.0 image is now frozen, you could use a custom Dockerfile beginning with :
[code]

[2020-01-03 13:16] #1693 closed, assigned to nobody

[2020-01-09 10:25] GSLabIt commented on #1368
attachment_base_synchronize has been replaced by other modules?

[2020-01-09 10:40] bealdav commented on #1368
@GSLabIt have a look here https://github.com/OCA/storage, specially storage_backend_

[2020-01-09 14:08] bealdav commented on #1368
@GSLabIt see https://github.com/akretion/server-tools/commit/3d0ed56b69ce4b3fe2226b795dce6582e958a5dc#diff-de3bc1b4ecf205d3191a203698a9f5a7R12
and contact @florian-dacosta if you want contribute

[2020-01-14 08:26] StefanRijnhart commented on #1619
Thanks for the report! Closing because the fix is merged now.

[2020-01-14 08:26] #1619 closed, assigned to nobody

[2020-01-24 10:24] sudhir-erpharbor opened #1761 "base_fontawesome [v12.0]: fa-mastodon is not working"
I am looking for fa-mastodon icon on website but it is not working as you can see in the screenshot.

I tried it on runbot also and is not working on runbot also. Is there anything I need to install like extra fonts or something else?
@simahawk @etobella @pedrobaeza
![font_mastodon](https://user-images.githubusercontent.com/7952467/73062162-c00e6300-3ec1-11ea-9f46-752d107741fa.png)

[2020-01-24 11:59] etobella commented on #1761
The current version of fontawesome of this module is  5.7.1
but, the mastodon icon was introduced on 5.8.0

An upgrade of the module is necessary in order to introduce this icons.

[2020-01-24 12:13] sudhir-erpharbor commented on #1761
@etobella But in the [all.css](https://github.com/OCA/server-tools/blob/12.0/base_fontawesome/static/lib/fontawesome-5.7.1/css/all.css#L2467) I can see the style for this font.

How do we upgrade it? Can you please do that?

[2020-01-24 14:10] sudhir-erpharbor commented on #1761
Sorry guys for the noise. It's working with fab.

"fab fa-2x fa-mastodon" is working for the icon.
![fa_mastodon](https://user-images.githubusercontent.com/7952467/73075073-1b9c1900-3ee1-11ea-8180-4b1394dd6d3a.png)

[2020-01-24 14:10] #1761 closed, assigned to nobody

[2020-02-17 13:18] nfortea opened #1767 "[10.0] letsencrypt cURL returns a 404, but I can access URL through navigator"
I recently install letsencrypt. When I tried to execute Update letsencrypt certificates for first time to obtain .crt file I received next error:

2020-02-17 13:08:44,185 20948 INFO ? werkzeug: 127.0.0.1 - - [17/Feb/2020 13:08:44] "GET /.well-known/acme-challenge/6DtF_0imQe9s-leL3oSwcHBMvBdxM8BNBLKGcI7KrGY HTTP/1.0" 404 -
2020-02-17 13:08:44,187 20948 ERROR oxortical_PRODUCCION_2020 odoo.addons.ba

[2020-02-20 00:42] travish2 commented on #1246
@JordiBForgeFlow  did you ever find an answer to having to log in twice? It happens on runbot with https in v11 but not v12

[2020-02-20 10:05] nfortea commented on #1767
Any idea?

[2020-02-25 20:17] ghost commented on #1679
base_custom_info don't get upgrade?

[2020-02-26 20:34] AMhadhbi commented on #1679
scheduler_error_mailer done in #1772.

[2020-02-27 20:52] IvanShirokikh commented on #1679
working on sentry #1776

[2020-03-04 16:38] newtratip commented on #1679
`dbfilter_from_header` #1781 supersedes #1682

[2020-03-05 05:46] newtratip commented on #1679
I'm working on `html_text` https://github.com/OCA/server-tools/pull/1782

[2020-03-05 09:45] ghost commented on #1428
Did the change in if condition fixed the issue for you?

[2020-03-05 09:47] agent-z28 commented on #1428
@alfadil yes of course

[2020-03-05 12:35] ghost commented on #1679
working in sql_request_abstract & sql_export #1783

[2020-03-09 11:50] ghost commented on #1679
hi,
after migrating sql_export ,I want to add live preview feature using pivot table widget.
anyone interested?

[2020-03-17 17:01] rauldb-br opened #1790 "10.0 Error Installing odoo10-addons-oca-server-tools"
Hi,
I have already install all the requirements and when i run :

pip install odoo10-addons-oca-server-tools

i have these error :

ERROR: Could not find a version that satisfies the requirement odoo10-addons-oca-server-tools (from versions: none)
ERROR: No matching distribution found for odoo10-addons-oca-server-tools

I dont know what to try.
A lot of thx peolpe.

[2020-03-17 17:05] pedrobaeza commented on #1790
server-tools is a repository, not a module. You must install a specific module.

[2020-03-17 17:05] #1790 closed, assigned to nobody

[2020-03-17 17:16] rauldb-br commented on #1790
Thanks, i am new on this.
One question, EDI 10.0 is also a repository? i have the same error.
Thanks for the help.

[2020-03-17 17:21] pedrobaeza commented on #1790
Yes

[2020-03-18 17:55] codeagencybe commented on #1679
@IvanShirokikh Is there any ETA when v13 for Sentry would be available?
Anything I can help with? beta test?

Thanks!

[2020-03-26 10:30] rauldb-br opened #1794 "[Odoo 10] Refushe me when i try to install module [ base_optional_quick_create ]"

[2020-03-26 16:40] #1794 closed, assigned to nobody

[2020-03-30 18:31] GleydsonHudson commented on #1113
The aforementioned issue in branch 10.0 was not corrected. I would like to ask if it is possible to do it so, as I am having the same issue.

[2020-04-03 10:03] rsulym opened #1803 "version 10.0 not supported?"
hi, i'm wondering why there is no version for odoo10 while it is for 9 and 11?
is there any obstacles with porting it exact for 10?

[2020-04-04 21:17] luisg123v commented on #1679
Hi,

It seems this list needs some updates:
- `base_cron_exclusion`: already done by @LoisRForgeFlow on https://github.com/OCA/server-tools/pull/1746
- `dbfilter_from_header`: current PR superseded by https://github.com/OCA/server-tools/pull/1781
- `html_text`: in progress by @newtratip on https://github.com/OCA/server-tools/pull/1782
- `onchange_helper`: missing PR (https://github.com/OCA/server-

[2020-04-04 21:32] luisg123v commented on #1679
`company_country` done by @moylop260 on https://github.com/OCA/server-tools/pull/1723

[2020-04-04 22:02] yaazkal commented on #1679
Hi, is there any ETA for `dbfilter_from_header` I see the PR is still open, maybe not ready yet?

[2020-04-05 01:33] luisg123v commented on #1679
@yaazkal maybe you should ask/offer help on the opened PR instead?

[2020-04-05 05:26] newtratip commented on #1679
Hi @yaazkal `dbfilter_from_header` is done now, Could you help to review ?

[2020-04-05 18:04] IvanShirokikh commented on #1679
@codeagencybe, Hi, PR on review, I don't know if it can be done faster

[2020-04-06 12:39] yaazkal commented on #1679
@luisg123v @newtratip thanks so much for your answers.

I'll test the PR and leave a comment there, forgive me the noise that I made here if that had corrupted this issue.

Have a nice day !

[2020-04-08 12:24] wkelego opened #1808 "[12.0] Bug: auditlog breaks MuK DMS module"
auditlog breaks MuK DMS module when trying to import a file tree

Setup:
Odoo 12.0,
Modules auditlog, MuK Documents

Two rules were created in auditlog targeting models muk_dms.file and muk_dms.directory. Short protocol, log everthing but read.

A file tree imported into MuK using drag and drop was initiated. After importing a few files the process stopped while throwing a python exception with ro

[2020-04-08 12:32] pedrobaeza commented on #1808
You should put the issue in the other part, as this is probably of that module and not auditlog itself.

Closing, unless you put steps to reproduce the problem on auditlog itself or hints about what's going on.

[2020-04-08 12:32] #1808 closed, assigned to nobody

[2020-04-15 15:41] okuryan commented on #1679
@pedrobaeza ,we are working on migrating fetchmail_notify_error_to_sender

We have already migrated it. But problem we are having specifically with test_mail module.
In Odoo 12 we are inheriting tests from TestMailgateway class. See here https://github.com/OCA/server-tools/blob/12.0/fetchmail_notify_error_to_sender/tests/test_fetchmail_notify_error_to_sender.py#L10

In Odoo 11 we were inheriting t

[2020-04-15 16:14] pedrobaeza commented on #1679
Sorry, I can't say as I don't know that one.

[2020-04-15 16:41] okuryan commented on #1679
@MiquelRForgeFlow I have seen you was working previously on another module fetchmail_incoming_log
Maybe you faced similar issues as I described above?

[2020-04-15 16:48] MiquelRForgeFlow commented on #1679
@okuryan I will check later, but your message above says about v12, not v13, or is it an error?

[2020-04-15 16:53] okuryan commented on #1679
@MiquelRForgeFlow  in message above I'm saying that when I run standard Odoo 13 tests from test_mail - they fail.
While in Odoo 12 same tests worked.

So I'm wondering either problem is really with Odoo 13 Standard having not working tests. Or we are writing/running tests incorrectly for Odoo 13 mail functionality testing.

[2020-04-17 21:09] okuryan commented on #1679
@MiquelRForgeFlow , could you, please, do code review from your side of this pull request?
https://github.com/OCA/server-tools/pull/1815

I think on OCA infrastructure we do not have issues with tests described above.

@pedrobaeza , you are also welcome to participate in code review :)

[2020-04-22 08:24] MiquelRForgeFlow commented on #1679
@okuryan fetchmail_incoming_log done  in https://github.com/OCA/server-tools/pull/1820 😉

[2020-04-24 05:53] okuryan commented on #1679
@MiquelRForgeFlow nice, see it is already approved! =) And also our fetchmail_notify_error_to_sender merge request already reviewed and ready to be merged. https://github.com/OCA/server-tools/pull/1815

[2020-04-25 06:52] moylop260 commented on #1499
@naglis @jeffery9
Could you check it, please?

Is there any issue using python3.6 and workers>1?

[2020-04-25 07:04] moylop260 commented on #1499
FYI https://github.com/getsentry/sentry/issues/3384#issuecomment-233584126

So, it is not related with the module itself

[2020-04-25 07:04] #1499 closed, assigned to nobody

[2020-05-22 13:17] dreispt commented on #471
FYI I created a proof of concept, based on the existing ``data_encryption`` module in OCA/server-env:
https://github.com/OCA/server-env/pull/50

[2020-05-27 08:24] protontrigg3r opened #1839 "[12.0] auto_backup error notification"
"_Do you want to know if the database backup succeeded or failed? Subscribe to the corresponding backup setting notification type._"

How to do that on Odoo 12?

[2020-05-29 10:22] rousseldenis commented on #1803
@rsulym Could you please provide which module you are talking about ?

[2020-05-29 13:16] gustavovalverde opened #1843 "[12.0] auditlog: Using full type could generate access errors"
When using auditlog with _Full Log_ it might try to access fields which the user has no access to, generating an access error.

An example is the field `signup_token` from the `auth_signup` module: https://github.com/odoo/odoo/blob/12.0/addons/auth_signup/models/res_partner.py#L28

Related issue on upstream: https://github.com/odoo/odoo/issues/52088

[2020-06-18 12:14] StefanRijnhart commented on #1803
@rsulym closing this because there was no response from your side. Please reopen the issue mentioning the name of the module if you like.

[2020-06-18 12:14] #1803 closed, assigned to nobody

[2020-07-03 12:55] captivea-dcr commented on #1679
sql_export #1858

[2020-07-16 16:40] victoralmau opened #1864 "[12.0] Is there an addon to upload ir_attachment to AWS S3?"
We have developed an addon called: **ir_attachment_s3** that through a cron (so as not to delay the process itself) quite frequently, of all the ir_attachment that exist of binary type (stored on the server) uploads them to AWS S3 (https://aws.amazon.com/s3/?nc1=h_ls) to a specific bucket such that they are stored as follows:
- bucket_name/model_name/model_id.format

Once the file is uploaded, the

[2020-07-16 16:45] victoralmau opened #1865 "[12.0] Is there an addon for auto-starred incoming messages?"
In many situations, many incoming emails are received from many models in which Odoo correctly marks inbox as unread, but the moment we enter the registry they are marked as "seen" and disappear, making it "easy" for any message to be left without do.
Perhaps an addon would be useful for the community that marks all the incoming messages from clients to the followers of the registry in question as

[2020-07-16 16:52] pedrobaeza commented on #1864
There's https://github.com/OCA/storage/tree/12.0/storage_backend_s3, but it's a bit coupled with other modules. Anyway, with the recently added DMS, I would wait for a general strategy on document storage.

[2020-07-16 17:06] victoralmau commented on #1864
Ok, I had seen the OCA / storage topic and I think it is something very very interesting.
As you say perhaps the best thing is to wait a little to see how that topic grows.

[2020-07-22 03:24] kittiu opened #1870 "[RFC] enhancement of base_name_search_improved"
@dreispt I saw this wonderful module, and would like to extend its feature to search across multi lang.
As non English users, when using multiple language, it is quite necessary to do name search by local language, even we are on English context.

Should this be included, or as another module.
WDYT?

[2020-07-22 09:52] dreispt commented on #1870
Hello, I think it is a good feature.
It should be made optional, because it has a performance impact.
Probably it will be wiser to implement it in a new module. You're welcome to copy all you might need from the existing one.

[2020-07-22 12:43] kittiu commented on #1870
@dreispt So I might do it as an independent module, i.e., base_name_search_mult_lang. But ensure it can work together.
Thank you,

[2020-07-22 23:32] peatb opened #1871 "Adding a field gives an error. (V11 SH)"
Hi!

I love this module, but about 6 months ago it would not let us open tasks, so I had to disable it. Now I have it on a branch of production for testing and run into the following error.

Thanks for your help,

Peat

Video link: http://somup.com/cYi30u6icp

-----
_Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/http.py", line 653, in _handle_excepti

[2020-07-23 12:33] #1871 closed, assigned to nobody

[2020-07-27 05:10] kittiu commented on #1870
PR: https://github.com/OCA/server-tools/pull/1873

[2020-07-27 05:10] #1870 closed, assigned to nobody

[2020-08-07 14:00] FelipeSotoHerrera opened #1879 "Error Uninstalling Auditlog Odoo 12 Community"
Hello everyone, here is the error that occurs when you uninstall this module, which I find excellent. Unfortunately, it leaves this detail of not being able to access the modules associated with the models that were created in the registration rules at the time.

Odoo Server Error
Traceback (most recent call last):
  File "/media/felipe/Respaldo/Proyecto/Odoo/Proyectos/odoo-12.0.post20190928/odoo/

[2020-08-10 12:24] kittiu opened #1880 "[RFC] Enhancement to base_tier_validation"
We have the need to find a more flexible approval workflows engine. I want to try by extending this base_tier_validation first.

For example,

- [ ] Tier that does not require approval, but execute some action (i.e., python, write to model, send mail to multiple users), then by pass to the next step (by sequence)
- [ ] In addition to "Validate" and "Reject", i..e, now in step2, click "Request 2nd

[2020-08-10 12:28] pedrobaeza commented on #1880
Propose each one in a separate PR for discussing them.

For the first one, I think that should be automated actions, not something here in tier validation.

For the second, an "Escalate" option seems OK for me to be included here. It shouldn't act as a new tier, but a switch of responsible in current tier.

[2020-08-11 05:33] kittiu commented on #1880
Wrong repo, moved to https://github.com/OCA/server-ux/issues/192

[2020-08-11 05:33] #1880 closed, assigned to nobody

[2020-08-11 08:18] Uglaos opened #1881 "[12.0] Openpyxl colors error"
Module **excel_import_export**
_excel_import_export/models/styles.py:21_

Method get_openpyxl_styles uses color.RED which is outdated in the new version of openpyxl library
( should be replaced by colors.COLOR_INDEX[2] )

Openpyxl documentation link: https://openpyxl.readthedocs.io/en/stable/_modules/openpyxl/styles/colors.html

![colors](https://user-images.githubusercontent.com/42736734/89874226

[2020-08-11 13:59] Mamchaoui opened #1882 "when i try to install"
this is the error that come when i try to install it , even i install the missing dependecy

Odoo Server Error - Warning
Impossible d'installer le module "auto_backup" à cause d'une dépendance externe non trouvée : No module named pysftp

[2020-08-11 14:09] pedrobaeza commented on #1882
You need that Python library.

[2020-08-11 14:09] #1882 closed, assigned to nobody

[2020-08-11 14:27] Mamchaoui commented on #1882
i already install the python dependecy sir , but it don't work i don't know why!!!! ??

#odoo12 #windows10 #community

![Capture](https://user-images.githubusercontent.com/30203788/89909440-59e3f600-dbef-11ea-83ba-61b7ddd0f18f.PNG)

[2020-08-11 14:30] pedrobaeza commented on #1882
I don't think so, as if not, it won't complaint. In Windows, Python is embedded in Odoo folder. Anyway, this is out of scope of this issue tracker, so for further assistance, you should go to Odoo forums.

[2020-08-15 03:18] basri08 opened #1884 "Call Function in Model to generate Excell"
Hii Sir,

i want to ask about how to use function in model to generate excel?. i have a function _sn_report() that call _recursive_task() function to generate pdf report. so i want to use them to generate excel report. have you solution for me ,sir? i need your help sir, thank you.
my attachments are function in model, i call it in views, and the report pdf.
![image (1)](https://user-images.github

[2020-08-15 09:40] pedrobaeza commented on #1884
Please do questions on forums. Here is for issues with the modules code.

[2020-08-15 09:40] #1884 closed, assigned to nobody

[2020-09-01 19:02] hugho-ad commented on #1008
Hello

Why base_export_security is not in the list?

[2020-09-01 19:02] hugho-ad commented on #1008
Also I didn't see it at google doc, Was deprecated?

[2020-09-02 16:04] hugho-ad commented on #1008
@pedrobaeza do you know what happens with base_export_security? why it's not on the list?

[2020-09-03 07:04] pedrobaeza commented on #1008
https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-09-10 14:45] LoisRForgeFlow opened #1898 "Issue updating due to excel_import_export external ID's names"
The external ID's this modules [generates when importing](https://github.com/OCA/server-tools/blob/12.0/excel_import_export/models/xlsx_import.py#L48) point to documents like PO's, SO's, invoices... that cannot (and shouldn't) be deleted. However, because of the naming given to the external ID's, Odoo interprets all this data as regular module data and when you update the module and those external

[2020-09-14 11:27] #1898 closed, assigned to nobody

[2020-09-15 14:43] BT-rmartin opened #1902 "[12.0] Missing oca_dependencies.txt?"
I have seen this dependency in this module.
https://github.com/OCA/server-tools/blob/08ca4247175cda0a4a77d8919a7f43b285be735a/attachment_synchronize/__manifest__.py#L16

Wouldn't be necessary to add an oca_dependencies.txt file with the dependency to storage?

[2020-09-15 16:43] legalsylvain commented on #1902
Indeed. Could you make a PR ?
Thanks.

[2020-09-16 11:07] BT-rmartin commented on #1902
@legalsylvain PR created. Could you please push it to merge it asap? Thanks

[2020-09-16 14:52] BT-rmartin commented on #1902
Already merged in #1903

[2020-09-16 14:52] #1902 closed, assigned to nobody

[2020-10-04 10:17] OCA-git-bot opened #1910 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] auditlog
- [ ] base_changeset
- [ ] base_cron_exclusion
- [x] base_exception - By @kevinkhao - #1938
- [x] base_force_record_noupdate - By @vvrossem - #2953
- [x] base_import_odoo - By @thomaspaulb - #2519
- [ ] base_jsonify
- [ ] base_m2m_custom_field
- [ ] base_name_search_multi_lang
- [ ]

[2020-10-13 13:24] chafique-delli commented on #1910
base_jsonify here https://github.com/OCA/server-tools/pull/1911

[2020-10-23 17:49] #1864 closed, assigned to nobody

[2020-10-29 16:38] alan196 commented on #1910
auditlog here https://github.com/OCA/server-tools/pull/1919

[2020-10-30 15:31] joao-p-marques commented on #1679
I will migrate base_exception https://github.com/OCA/server-tools/pull/1920 (superseeds https://github.com/OCA/server-tools/pull/1760)

[2020-10-31 12:20] alessandro-fiorino commented on #1679
I'm working on excel_import_export

[2020-10-31 12:28] phuctranfxvn commented on #1679
`configuration_helper` migrated https://github.com/OCA/server-tools/pull/1925

[2020-11-11 16:02] novawish opened #1927 "[12.0] scheduler_error_mailer: Email has never been succeeded to retrieve error message"
Hi all,
As mentioned in the title, I am feeling kinda strange that nobody has ever had the same issue.
In the error email, the message is rendered by calling attribute `value` of object `job_exception`:
`${ctx.get('job_exception') and ctx.get('job_exception').value or 'Failed to get the error message from the context.'}`

Meanwhile in the Odoo core function `_handle_callback_exception`. The `job_e

[2020-11-16 19:52] peatb opened #1928 "V13 (SH) Installation issues"
When I install on V 13 (SH) I get the following error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/home/odoo/src/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/odoo/src/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[

[2020-11-16 20:29] pedrobaeza commented on #1928
You are not using this repo and branch source code.

[2020-11-16 20:29] #1928 closed, assigned to nobody

[2020-11-17 05:37] traviswaelbro commented on #1910
sentry here #1929

[2020-11-20 10:51] Rad0van opened #1934 "[IMP][question] base_custom_info support for ranges and/or combinations"
I am using base_custom_info, product_custom_info and website_sale_custom_info (WiP based on older unmerged PR - will create PR for that) to manage information about products. Now I came across few cases where I'd need:

- range (either of whole or decimal numbers) - i.e. some parameter is in the range from 100 to 350
- combination (either of whole or decimal numbers) - i.e. dimensions is combinati

[2020-11-20 18:57] pedrobaeza commented on #1934
I think you can add constraints in attributes in a generic way with a constraint expression in the base module, instead of max and min. With that, you have more flexibility, and max and min will be something similar like `value < 0 or value > 100` for constraining the possible values. Check an example of dynamic constraints in https://github.com/OCA/server-ux/blob/8f6a3e7d63a6f543fc15e8bb954a93e63

[2020-11-22 20:13] Rad0van commented on #1934
Hi,

I am not sure I explained it properly. Let me give you an example of what I
considered a "range": combi machines used in professional kitchens have
capacity of meals they can cook in a single batch. The usual values are
something like "100-150", "200-300", ... So I wasn't looking for limiting the
property value to a certain (dynamic) range but I was looking for a way to
store this not as text

[2020-11-25 15:24] pedrobaeza commented on #1934
Well, my proposal is to split such range into different lines, so for 120x80x90, you have 3 lines, and each one has their constraints.

[2020-11-25 15:43] Rad0van commented on #1934
That's the way I do it now.

	Radovan

On streda 25. novembra 2020 16:24:40 CET Pedro M. Baeza wrote:

[2020-11-25 23:44] trixocom opened #1939 "error :invalid extension string"
module: letsencrypt
version: 11.0

**Steps to reproduce**
- Just install on a fresh Odoo 11CE
- Add second domain using system paramter letsencrypt.altname.0=www.myotherdomain.com
- Go to scheduled actions and RUN MANUALLY button.

**Current behavior**
I get an Odoo Server Error: "Error calling openssl: 1"
-Looking at the odoo.server.log I see:
 2020-11-25 23:33:13,467 321 INFO sat odoo.addons.let

[2020-11-26 10:10] yajo commented on #1934
This seems solved, right?

[2020-11-26 10:10] #1934 closed, assigned to nobody

[2020-11-26 10:12] Rad0van commented on #1934
Yeah - it was more inquiry about best design approach...

[2020-11-30 08:13] manengel commented on #1910
I will migrate module_auto_update.

[2020-11-30 16:45] manengel commented on #1910
module_auto_update #1943 (Work in Progress)

[2020-12-01 00:39] moylop260 commented on #1499
BTW I could reproduce this issue using py3.6

# Summary

If you install the following package version:
 - gevent==1.2.0

The issue will be fixed

# Large history

I just found the following comment:
 - https://github.com/gevent/gevent/issues/1016#issuecomment-328530752

Where the version of gevent could be the guilty
The warning of the comment above was added in `gevent==20.9.0`

Installing this v

[2020-12-09 05:07] dsolanki-initos commented on #1008
Hello all,
Here is the PR #1951 for the migrated module mass_sorting to v11.

[2020-12-09 05:57] fshah-initos commented on #1008
Hello all,

I've migrated the module base_custom_info and here is the pull request.
https://github.com/OCA/server-tools/pull/1952

[2020-12-09 06:16] fshah-initos commented on #1008
Hello all,

I've migrated the module user_immutable and here is the pull request
https://github.com/OCA/server-tools/pull/1953

[2020-12-10 05:21] dsolanki-initos commented on #1008
Hello all,
I have migrated the module user_threshold and here is the PR #1954

[2020-12-10 06:50] dsolanki-initos commented on #1008
Hello all,
I have migrated the module base_import_default_enable_tracking to v11 and here is PR #1955

[2020-12-10 08:49] dsolanki-initos commented on #1008
Hello, I have migrated the module base_locale_uom_default to v11 and here is the PR  #1956

[2020-12-10 18:32] kos94ok-3D commented on #1310
Related: #1664

[2020-12-11 12:24] fshah-initos commented on #1008
Hello all,
I have migrated the module base_kanban_stage to v11 and here is the PR https://github.com/OCA/server-tools/pull/1958

[2020-12-12 11:44] thomaspaulb commented on #1249
@moylop260 I think this is a very good idea.

I also run into slow behaviour but was thinking other solutions:

- Dont try to read non-stored or related computed fields on "full" logging

- Only read those fields that are referenced in the logging message as o['....'], leave the rest alone.

What do you think of those options?

[2020-12-14 11:14] dsolanki-initos commented on #1008
Hello all,
I have migrated the module webhook to v11 and here is the PR #1961

[2020-12-14 12:35] StefanRijnhart commented on #1260
/ocabot merge

[2020-12-14 12:35] #1260 closed, assigned to nobody

[2020-12-14 12:50] dsolanki-initos commented on #1008
Hello all,
I have migrated the module users_ldap_groups to v11 and here is the PR #1962

[2020-12-14 16:50] moylop260 commented on #1249
I agree

[2020-12-14 23:58] thomaspaulb commented on #915
I don't agree. In both cases this should be handled by an auditlog on "res.partner.bank", in the message we can refer to the partner that it was for to have a full log.

[2020-12-18 11:52] olaf-wagner opened #1968 "auditlog: unicode error when trying to log changes to MuK DMS file"
After activating the auditlog for MuK DMS file objects I get exceptions when trying to upload a binary file:
<pre>
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/lib/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/lib/odoo/odoo/http.py", line 314, in _handle_exception
    raise pyc

[2020-12-18 11:53] pedrobaeza commented on #1968
Then the problem is on the other module, not here.

[2020-12-18 11:53] #1968 closed, assigned to nobody

[2020-12-29 13:42] Dhananjayagarwal opened #1977 "Issue After uninstalling auditlog odoo 13"
After uninstalling Auditlog module it doesn't allow to use related modules i.e For which rules were created. Any fix on this would be appreciated.

Here is log trail using with odoo version 13

Traceback (most recent call last):
  File "/odoo13_ent/odoo13_ent-server/odoo/tools/cache.py", line 85, in lookup
    r = d[key]
  File "/odoo13_ent/odoo13_ent-server/odoo/tools/func.py", line 69, in wrappe

[2020-12-30 04:33] Dhananjayagarwal commented on #1977
Root Cause for this error is.

After uninstalling its not deleting related records from ir.actions.actions. i.e since after subscribing in rules it adds quick link to view logs from each record.

so after uninstalling those records needs to be deleted as well from ir.actions.actions.
@sebalix Can you please help

[2021-01-04 15:40] #1249 closed, assigned to nobody

[2021-01-04 20:26] chafique-delli commented on #1910
scheduler_error_mailer here https://github.com/OCA/server-tools/pull/1979

[2021-01-06 13:45] santostelmo commented on #1679
I'm working on module_analysis https://github.com/OCA/server-tools/pull/1981

[2021-01-06 21:25] ray-odoo opened #1980 "[13.0] Enterprise Edition - auditlog messes with tokens assigned during RESET PASSWORD workflow"
Odoo Support resolved a token issue by uninstalling this module, you can see a video they sent to a Customer:

(video now removed since the issue has been replicated - it contains Odoo customer information)

I don't have any other details, just reporting in case it helps others.

The user is told "Invalid signup token" when visiting the URL sent to them during the process of clicking RESET PASSWOR

[2021-01-07 07:24] pedrobaeza commented on #1980
Thanks for telling, Ray.

@sebalix @hbrunn you are 2 of the usual maintainers of such module, isn't it?

[2021-01-07 09:07] sebalix commented on #1980
Hi, thanks for the report. I tested the following scenarios on Odoo 13.0:

`audilog` installed without any configuration:

[code]

Full log create/write/unlink/read enabled on `res.users`:

[code]

Full log create/write/unlink/read enabled on `mail.mail`:

[code]

Full log create/write/unlink/read enabled on `res.partner`:

[code]
So I suppose it's related to the `signup_prepare` method on `res.pa

[2021-01-07 13:53] santostelmo commented on #1910
module_analysis here https://github.com/OCA/server-tools/pull/1982

[2021-01-07 16:04] ray-odoo commented on #1980
Thanks for testing!   This looks like the Customer can still use the module if they don't have a full log setup on res.partner.

[2021-01-08 12:36] TimLai125 opened #1984 "[12.0] auditlog: Access error when creating full log"
Steps to reproduce:
1. Create an auditlog rule to `sale.order.line` with "Full Log" and log all the changes.
2. Create an user which only has the "Sale: User: Own Documents Only" group.
3. Login with the user and create a sale order with some order lines.

Current behavior:
Access error when user tries to save the sale order.
![image](https://user-images.githubusercontent.com/27185427/104016208-d4

[2021-01-08 12:58] Dhananjayagarwal commented on #1977
I Was able to fix the issue by adding by uninstallhook and remove **audit log** action menu from **ir_actions**.
It would be great if we could add to the repository.
@OCA-git-bot

Thanks

[2021-01-08 20:30] cvinh commented on #655
@dreispt did you solve that one ?
I'm interested

[2021-01-10 03:13] dzungtran89 commented on #1910
`base_time_window` #1988

[2021-01-10 13:10] thomaspaulb opened #1989 "RFC: Profiler refactor"
In #1986 I add a new way of profiling 'per user session per HTTP request'.

I want to change more things about the current 'profiler' module, for example:

1. Now we integrate with `pgbadger` and get slow queries from the Postgres log file. But I can also monkey patch `self.env.cr.execute` and get queries from there, timing them, and generating a logfile that can be downloaded and read by pgBadger

[2021-01-11 20:14] moylop260 commented on #1989
Hi @thomaspaulb

It looks good to me

Currently we are using directly py-spy and postgresql.log but your idea looks good to me.

[2021-01-12 13:34] StephaneMangin commented on #1910
`database_cleanup` https://github.com/OCA/server-tools/pull/1990

[2021-01-13 19:50] hparfr commented on #1910
base_m2m_custom_field #1992

[2021-01-18 16:05] Esalpi commented on #1980
Hi,  i tested this core change, adding api.depends:

@api.depends('signup_token', 'signup_expiration')
def _compute_signup_url(self):

... in auth_signup/models/res_partner

With this modification it works fine.

The problem is in the function def write_full (self, vals, ** kwargs)
.. in role.py, when it reads the old values: the system recomputes the fields, then it no longer updates when it writ

[2021-01-21 15:49] thomaspaulb commented on #1989
More ideas that came up:

- Let users send "stats" file over by email after a profiler session
- Integrated visualization so that users/clients who dont have command line fu can also visualize the stats file

[2021-01-25 09:24] atchuthan commented on #1984
PR merged, we could close this issue.

[2021-01-27 13:59] themreza opened #2003 "Update Sentry SDK"
We're using the Sentry integration module on Odoo 13.0 CE and it works fine.

However, we received an email from Sentry indicating the SDK may be updated to capture more data.

Is the current module easy to upgrade or is it a custom implementation?

![image](https://user-images.githubusercontent.com/5465057/106001409-36830980-60b0-11eb-83b5-01e74c7da5e5.png)

[2021-01-28 14:33] maisim commented on #1453
database_cleanup try to drop  "openupgrade_legacy_11_0_usage" column on ir_act_server table
but ir_act_server table inherit this column from ir_actions so :
`ALTER TABLE ir_actions DROP COLUMN "openupgrade_legacy_11_0_usage";`

[2021-01-28 20:07] enedinovillaverde commented on #1879
I don't know if you have solved your problem...but here you have the answer for V13.

https://github.com/OCA/server-tools/issues/1977

[2021-02-01 18:41] eantones commented on #1910
dbfilter_from_header https://github.com/OCA/server-tools/pull/2007

[2021-02-01 22:38] max3903 opened #2008 "raven has not been updated for 2 years (sentry)"
sentry has been migrated to 14.0 and merged using the raven Python library.

That library has not been updated for 2 years:
https://pypi.org/project/raven/

Another migration (#1976) has been done and is using sentry_sdk:
https://pypi.org/project/sentry-sdk/

Can we revert #1997 and review/merge #1976?

CC: @moylop260

[2021-02-01 22:53] max3903 commented on #2008
Discussed with @moylop260 privately.

Will rebase and use #1976 to change the library.

[2021-02-01 22:53] #2008 closed, assigned to nobody

[2021-02-04 07:49] manengel commented on #1910
module_auto_update #1943 done so far

[2021-02-08 12:18] syci opened #2017 "[10.0] auth_totp fail with accents"
In the next line of code, with a name with accents, the generation of the QR fails

https://github.com/OCA/server-tools/blob/1c5d6bbbd78386d8a946edb3a68416ef557d3319/auth_totp/wizards/res_users_authenticator_create.py#L78

[code]

The issuer_name value: Mario José .....

[2021-02-10 14:03] #1453 closed, assigned to nobody

[2021-02-16 13:08] TimLai125 opened #2023 "[10.0] auth_brute_force: incompatible with OAuth"
**Steps to reproduce:**
1. Set up and allow Google OAuth2
2. Reset user's password with Google login
3. Use the "Log in with Google" to login

**Current behavior:**
Even for a successful login, the "Authentication Attempts" record shows "Failed"
Users who use "Log in with Google" to login, users can even log in even the user and IP address enter "Banned" state.

**Expected behavior:**
The "Authent

[2021-02-17 02:55] TimLai125 commented on #2023
@Yajo @legalsylvain any comments on this issue?

[2021-02-17 08:27] legalsylvain commented on #2023
Sorry. I dont use google oauth.

[2021-02-19 10:34] victoralmau commented on #1679
I'm working on `html_text` https://github.com/OCA/server-tools/pull/2027

[2021-02-25 12:50] victoralmau commented on #1679
I'm working on `html_image_url_extractor` https://github.com/OCA/server-tools/pull/2030

[2021-02-25 12:50] victoralmau commented on #1679
I'm working on `datetime_formatter` https://github.com/OCA/server-tools/pull/2029

[2021-02-25 15:48] LiberTang0 opened #2032 "ValueError Expected singleton: auditlog.http.session(6,5)"
I received this error message for the module auditlog

ValueError Expected singleton: auditlog.http.session(6,5)

[2021-03-11 14:06] thomaspaulb opened #2040 "RFC: sequence_nogap"
Odoo's `ir.sequence` `nogap` implementation is problematic, it can [block the system](https://github.com/OCA/server-tools/pull/1728). There's even a module that changes all the sequences by default to `standard` for this reason, so that `nogap` is avoided altogether. But, the `standard` implementation cannot guarantee sequential numbering, which is mandatory in some jurisdictions.

Together with s

[2021-03-16 03:52] TimLai125 opened #2043 "[10.0] auditlog: ValueError when opening the record with form view"
Steps to reproduce:
Create a auditlog rule which has the "Log Reads" checked, e.g. on res.users model

Current behavior:
ValueError is raised when opening the user form view.

Video/Screenshot link (optional):
![image](https://user-images.githubusercontent.com/27185427/111248740-75135a00-8645-11eb-8e03-6559cc1eb698.png)

[2021-03-16 03:54] TimLai125 commented on #2043
I think it is related to this part of the logic:
https://github.com/OCA/server-tools/blob/b19ee25c7bdb2d1cf281822601f29cf6e667b245/auditlog/models/rule.py#L254-L255

[2021-03-18 07:04] aktiv-isufi-kapasi opened #2046 "auditlog V13: Old values are not logged on Write."
I am using V13C.

I have created Rule for the Product Template, and then I just changed the sale price on product template but its not log the Old value of the record.

Please see the below screenshot:

![image](https://user-images.githubusercontent.com/52744407/111586038-3ff23d80-87e6-11eb-9b5f-f670af5816ef.png)

[2021-03-18 14:20] SimoRubi commented on #1910
base_report_auto_create_qweb https://github.com/OCA/server-tools/pull/2045

[2021-03-23 00:55] petrus-v commented on #1910
mail_server_relay_disallowed #2051

[2021-03-25 16:38] hoangtrann commented on #2003
There are some PRs to replace `raven` with `sentry_sdk`, you can check #1942

[2021-03-26 15:51] 1AbdulkarimMousa opened #2056 "Apache2 doesn't accept % or without it"
00

[2021-03-27 18:50] #2056 closed, assigned to nobody

[2021-04-01 19:39] bosd commented on #1910
please add: base_multi_image

[2021-04-02 18:45] pnajman-modoolar commented on #1980
Hi just went through the debuging session and wanted to report this issue :)
Anyhow, I came to the same conclusion as @Esalpi

IMHO this is bug in the auditlog module.

[2021-04-03 06:49] unique4 commented on #1679
Could anyone add `iap_alternative_provider` to to migration list?

[2021-04-07 08:12] NL66278 commented on #1368
letsencrypt migration should be updated to this PR, which is ready to merge: https://github.com/OCA/server-tools/pull/1840

[2021-04-17 02:21] themreza commented on #2046
The same issue exists in Odoo 14.

[2021-05-11 11:24] yajo commented on #2023
Sorry, I also don't use this module anymore... nor Odoo v10.

[2021-05-12 06:48] ho-ife opened #2081 "[14.0] "Cannot read property 'colspan' of undefined" Error when opening Logs from auditlog"
Hello,

on the OCA Runbot, when opening a log this error is shown:

[code]

This error did not happen prior to the last commit on Apr. 30, 2021.

Kind regards

[2021-05-16 12:48] hailangvn commented on #1910
base_multi_image: WIP https://github.com/OCA/server-tools/pull/2083

[2021-05-18 17:41] CasVissers-360ERP opened #2086 "[14.0] Auditlog not able to open logs"
Runbot:
http://3482927-14-0-1dc072.runbot2.odoo-community.org/web?debug=1#action=105&active_id=6&model=auditlog.log&view_type=list&cids=1&menu_id=4

Video:
https://drive.google.com/file/d/1_v98Knn28KaHL92S10xnlInKLv5y5CF7/view

Traceback:
[code]

@StefanRijnhart

[2021-05-18 18:20] StefanRijnhart commented on #2086
Blimey! How did that happen? Should be fixed with https://github.com/OCA/server-tools/pull/2087. Thanks for noting!

[2021-05-19 05:56] CasVissers-360ERP commented on #2086
Thnx!

[2021-05-19 05:56] #2086 closed, assigned to nobody

[2021-05-20 05:27] hkapatel-initos commented on #1910
html_text: migrated #2090

[2021-05-21 11:03] disha-khatri opened #2089 "Unable to load "xls" file: requires Python module "xlrd". odoo12 ubuntu 20.04"
i have installed xlrd. but then also I keep getting this error. There is no proper solution available anywhere.

while importing excel file I get this load issue.

[2021-05-24 06:41] hkapatel-initos commented on #1910
I will migrate module fetchmail_incoming_log  #2095

[2021-05-28 06:31] hkapatel-initos commented on #1910
i will migrate module fetchmail_notify_error_to_sender in v14

[2021-06-01 17:45] Rai-Mohammed opened #2097 "Odoo 12.0 auth_session_timeout and redirction loop issue"
Installation of Odoo 12.0 Community Edition from OCA/OCB, the module "auth_session_timeout" activated.
I get an error of too many redirections in web browser - "Too many redirects - please clear your cookies".
Below is the log access of the Odoo showing the bug redirection and session timeout.

`2021-06-01 17:16:55,178 [ERROR] Exception reading session file modified time.
Traceback (most recent ca

[2021-06-03 13:27] hkapatel-initos commented on #1910
I will migrate module fetchmail_notify_error_to_sender #2102

[2021-06-04 14:16] vbezl opened #2099 "[13.0][BUG] auditlog - KeyError in self.pool._auditlog_model_cache on unlink of multiple o2m records"
Hi everyone,
I have an the following error:

[code]

"payroll" is OCA/payroll module
I've subscribed to fast log on hr.payslip model and that error shows when you try to compute sheet on payslip which already have line_ids...

[2021-06-10 09:33] hkapatel-initos commented on #1910
I will migrate module company_country

[2021-06-10 23:39] moylop260 commented on #1910
@hkapatel-initos

I think the module company_country is not required anymore in v14.0
Since that now it validates if there is an `l10n_` to install

@luisg123v
Could you confirm, please?

[2021-06-10 23:52] luisg123v commented on #1910
@moylop260 @hkapatel-initos,

That's correct, `company_country` is not required anymore, check [the README](https://github.com/OCA/server-tools/blob/13.0/company_country/README.rst) and the discussion on https://github.com/OCA/server-tools/pull/1872#pullrequestreview-460702345

[2021-06-11 11:21] hkapatel-initos commented on #1910
Yes, i saw it . thank you

[2021-06-11 13:13] hkapatel-initos commented on #1910
I will migrate module sql_export_mail  #2107

[2021-06-18 20:37] bodedra opened #2110 "[12.0] auditlog module, unlink should create log with Old value"
It would be nice if unlink() method create reverse log of latest update record. Because if someone delete key sensitive information, there is no way to bring back.

Current behavior:
--------------------

- Create log rule on the invoice object.
![Screenshot 2021-06-18 at 13-27-02 Invoice - Odoo](https://user-images.githubusercontent.com/14229503/122613009-f4476e00-d038-11eb-987e-edf2159c5a57.png)

[2021-06-21 12:13] hkapatel-initos commented on #1910
I will migrate module sql_export_excel #2115

[2021-06-22 21:03] bodedra commented on #2110
Close ref: https://github.com/OCA/server-tools/pull/2112

[2021-06-22 21:03] #2110 closed, assigned to nobody

[2021-06-23 11:12] hkapatel-initos commented on #1910
I will migrate module base_kanban_stage  #2117

[2021-06-25 04:19] hkapatel-initos commented on #1910
i will migrate module base_kanban_stage_state  #2119

[2021-06-28 04:28] fshah-initos commented on #1910
I'll migrate the module 'base_remote' .

[2021-06-28 06:50] dsolanki-initos commented on #1910
I'll migrate the module ''datetime_formatter"

[2021-06-29 04:58] hkapatel-initos commented on #1910
I'll migrate the module "test_base_time_window" #2122

[2021-06-30 07:03] dsolanki-initos commented on #1910
I'll migrate the module 'base_changeset' to v14.

[2021-07-01 06:21] hkapatel-initos commented on #1910
i will migrate the module 'html_image_url_extractor'   #2127

[2021-07-02 23:48] randall-vx commented on #1679
I'm working on `attachment_unindex_content` #2129

[2021-07-06 08:32] NL66278 commented on #1679
letsencrypt module is not in list, but migration PR is here: https://github.com/OCA/server-tools/pull/1933

[2021-07-07 09:18] simahawk opened #2134 "[14.0] apps.odoo.com status"
[code]
Indeed base_jsonify seems published only for v8 https://apps.odoo.com/apps/modules/8.0/base_jsonify same for https://apps.odoo.com/apps/modules/8.0/onchange_helper/
but seems not to be in control of OCA and that's why we cannot publish it for other versions.

@sebastienbeau @bguillot @hparfr  can you check?

[2021-07-07 15:07] fredzamoabg commented on #1910
created new PR (https://github.com/OCA/server-tools/pull/2136) for porting of **scheduler_error_mailer** module.

[2021-07-09 08:52] hparfr commented on #2134
@bealdav can you please check ?

[2021-07-13 16:36] randall-vx commented on #1910
Working on `attachment_unindex_content` #2140

cc: @moylop260 @luisg123v

[2021-07-14 03:43] ska-ibees commented on #1910
Any reason that base_custom_info module is not in the list?

[2021-07-14 06:16] pedrobaeza commented on #1910
See the last line in the main comment

[2021-07-14 06:20] ska-ibees commented on #1910
Yes I checked that link and I commented here after reading last line on that page "You can ask in the issue itself for the module to be added to the list if you detect that is missing."

[2021-07-14 06:23] pedrobaeza commented on #1910
But are you going to work on such migration?

[2021-07-14 07:07] ska-ibees commented on #1910
Yes, I can do it. Just wanted to confirm the reason of not bieng in the list e.g. may be not required due to features availablein core etc.

[2021-07-14 07:09] ska-ibees commented on #1910
Also, while migration is it ok to add our name in the author list? I am using Doodba so it is mandatory to pass pre-commit.

[2021-07-14 07:11] pedrobaeza commented on #1910
Doodba has nothing to do with pre-commit requirement. Although working with Doodba, you can repositories not subjected to pre-commit (example, 12.0 OCA repositories). No, author list is reserved to a significant contribution, which migration work is not usually such thing. You can to the contributors list though.

[2021-07-14 07:20] ska-ibees commented on #1910
Alright, let me re-visit my configurations. There is always  [C8101(manifest-required-author), ] asking me to add value that was given for project_author in copier answers.
Further,  if not resolved I will open an issue on Doodba repo iteself.

Anyways, thanks for your usual prompt response.

[2021-07-14 07:21] pedrobaeza commented on #1910
Copier is for the Doodba project scaffolding, not for modules. Check the module migration guide linked in the top comment.

[2021-07-14 07:28] ska-ibees commented on #1910
Offcourse, module migration is independent of Doodba or copier.
Infact I am following your procedure from OCA days where you demostrated a live module migration using Doodba. And everytime  I perform pre-commit it throws [C8101(manifest-required-author), ]. I think i should better exclude OCA migration repos from pre-commit.

[2021-07-14 07:31] pedrobaeza commented on #1910
Uhm, but that error is correct: you should add in the manifest an author, and for OCA repos, it should include also `OCA (Odoo Community Association)` as co-author. Maybe you missed the comma for separating authors?

[2021-07-14 07:35] ska-ibees commented on #1910
Yes, OCA (Odoo Community Association) is already there in all OCA modules. But I get below error:

************* Module base_custom_info.__manifest__
odoo/custom/src/private/base_custom_info/__manifest__.py:6: [C8101(manifest-required-author), ] One of the following authors must be present in manifest: 'iBees'

Where iBees is the author that is coming from **project_author: iBees** in .copier-answ

[2021-07-14 07:36] ska-ibees commented on #1910
Now I see, pre-commit is also one of the migration steps. So, can't just exclude it from pre-commit.

[2021-07-14 07:38] pedrobaeza commented on #1910
It seems you are migrating the module inside `private` folder, and not on its repo folder, where specific pre-commit configuration is on place.

[2021-07-14 07:41] ska-ibees commented on #1910
Well spotted :clap:

[2021-07-14 16:02] ska-ibees commented on #1934
@Rad0van how can we replicate behavior of many2many field? In my use case, I need to categories different products in a way that there are individual fields with multiple options and possibility to select mulitple values instead of single one.

For example, for each product:
1. Color options (Need multiple values for this single field)
2. Style options (Need multiple values for this single field)

[2021-07-14 19:16] Rad0van commented on #1934
Not sure I follow. You need a type of property, for which you can multiple values out of list? And these should be references to buy just strings but certain objects? I guess this could be done extending the types of properties.

It you just need to select from defined lust of values? That already is there - I think it's called choice.

[2021-07-15 06:15] hkapatel-initos commented on #1910
i will migrate the module 'autovacuum_message_attachment' to v14

[2021-07-16 03:53] kittiu commented on #1910
Hello, I am working on `base_custom_info` https://github.com/OCA/server-tools/pull/2143

[2021-07-16 18:09] kirca commented on #1368
**base_import_security_group** (v10 -> v12) in https://github.com/OCA/server-tools/pull/2142

[2021-07-25 22:14] antonioburic commented on #1008
Hi all,
the module autovacuum_message_attachment has been migrated/backported from version 12, here is the PR: #2148

[2021-07-31 11:09] esakarya opened #2151 "[14.0]Let's Encrypt"
any one can share sample nginx config ?

[2021-08-03 05:06] ayushin opened #2157 "logging json"
Hi,

I see there's a https://github.com/OCA/server-tools/tree/8.0/logging_json for the 8.0 branch, I am also aware of https://github.com/camptocamp/odoo-cloud-platform/tree/13.0/logging_json

We run Odoo on gcp and the later does not format the priority properly.

Would it be suitable to create a new logging_gcp or logging_json that would take an optional format for fluentd or gcp

[2021-08-05 15:27] rquevedo opened #2159 "About module auth_brute_force"
Hi folks,
Anyone can tell me why this module "auth_brute_force" get stuck in v10? I need something like that in v13 and in can do the migration but before, i want to ask here to avoid migrate if functionality has been covered by odoo or other module in any way.
Thanks in advance,

[2021-08-05 15:28] pedrobaeza commented on #2159
There's a cooldown feature now native in Odoo, so no sense duplicated feature.

[2021-08-05 15:28] #2159 closed, assigned to nobody

[2021-08-16 15:19] francisrubio06 opened #2161 "[13.0] auto_backup: Database backup failed with workers"
Hi everyone,

I have been using the “auto_backup” module in Odoo 13 with no problems. But as I increased the number of workers, the database backup began to fail.

The error indicates that there is “No space left on device”, but the machine where it is running has enough space for the backups. I checked the /tmp folder and quite a few new folders had been created with the database information but

[2021-08-23 22:15] jcbr87 commented on #2151
https://gist.github.com/inspiretk/11432e48c705fb5a9a9e34e10f284799

[2021-08-29 00:37] zzwxrchi commented on #1321
Create variables and sql query by order.
Example:
1.
Create Variables in Dashboards > Dashboards > Sql Export Variables > Create
  Field Name: x_Pname
  Field Label: Pname
  Field Type: text
  Model: Allow the user to save the file with sql request's data
  Required: Yes

2.
Created sql query in Dashboards > Dashboards > Sql Export > Create
  Name: Test Select
  File Format: CSV
  Copy Options: CS

[2021-09-02 11:20] Cravit-Resham opened #2166 "[14.0] Auditlog module is not able to log changes in case of change in any filed"
Hi everyone,

I am using Auditlog module in a multi company situation and made a rule to log changes for vendor price list .
its not logging the change if I am updating only Price in my vendor price list but as soon as I change Vendor product name and price it is logging both changes. I am not sure if this is module issue or a know issue or configuration issue.

Does someone have any idea , what i

[2021-09-12 14:45] zzwxrchi opened #2172 "SQL Export, how to create multi selection parameters and to user in sql statement"
In Sql export.
I can create selection parameter with many2one or selection Field Type.
(in Dashboards > Dashboards > Sql Export Variables > Create)

How can I create a multi selection Field type parameter ?
For sql like: Select * from res_partner where id in %(x_multiselection_parameter)s

Thanks !

[2021-09-16 13:51] #2161 closed, assigned to nobody

[2021-09-17 06:50] CasVissers-360ERP commented on #850
I also faced the same issue in v13 ir.actions.act_window are not removed when uninstalling the module which results in this traceback. Can be tricky.

[2021-09-21 15:47] LuxxEnterprises opened #2176 "Validation Error - Duplicate Key Value - When trying to duplicate report"
App: Report qweb auto generation

Validation Error

duplicate key value violates unique constraint "ir_model_data_module_name_uniq_index"
DETAIL:  Key (module, name)=(purchase_itec, report_purchaseorder_itec_document) already exists.

There is nothing with the same name in reality, the report its calming to exist, doesn't.

[2021-09-23 14:56] OpenCode commented on #1910
sequence_python https://github.com/OCA/server-tools/pull/2179

[2021-10-07 15:15] JordiMForgeFlow opened #2187 "[13.0] base_changeset: mass deletion of field records on update"
To reproduce in a blank database:

- Install some module (for example sale_management)
- Install base_changeset module
- Update base_changeset module

When the update process of the module is triggered, a massive deletion of field records is done for all models in the system (see picture below)

![image](https://user-images.githubusercontent.com/71635103/136412681-066dd647-2417-4ff2-a7fa-a31c5eea7

[2021-10-14 16:03] lmignon opened #2191 "[14.0] MAKEPOT loop"
Since 2 jobs are declared into travis with MAKPOT=1, The result of generated pot diverge than the one from oca_transbot. Indeed, `base_changeset`, `base_autovacuum_message_attachment` and `base_name_search_improved`  introduces new fields on "base". As consequence, once installed, all the generated pot file will contains these fields. Pot are generated a first time for a restricted list of addons

[2021-10-15 17:11] OCA-git-bot opened #2192 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] attachment_unindex_content
- [x] auditlog - By @BT-vgabor - #2268
- [ ] auto_backup
- [ ] autovacuum_message_attachment
- [ ] base_changeset - By @JasminSForgeFlow - #2380
- [x] base_cron_exclusion - By @ChrisOForgeFlow - #2225
- [x] base_custom_info - By @Rad0van - #2360
- [x] base_exceptio

[2021-10-15 21:06] legalsylvain commented on #2192
I'll work on upgrade_analysis in the next week. (#2196)

[2021-10-18 12:32] leemannd commented on #2192
First draft for the migration of database_cleanup -> https://github.com/OCA/server-tools/pull/2193

[2021-11-07 02:40] rvalyi opened #2202 "[14.0][base_view_inheritance_extension] python_dict (context extension) seems broken"
## Module: base_view_inheritance_extension

## Describe the bug
**the python_dict extension seems escaping/quoting context dict values when it should not.**

## To Reproduce
In a module depending on base_view_inheritance_extension, I was loading a view like:
[code]

And then when displaying the account.move invoice view, when trying to add a new invoice line, I had this error:
[code]

Using the Ch

[2021-11-09 14:34] sergioeix commented on #2046
same issue here odoo 13, it only happens with fast log

[2021-11-09 14:37] MiquelRForgeFlow commented on #2191
@sbidoul

In branch 14.0 we have now a very long list of .pot updates:
![Selection_030](https://user-images.githubusercontent.com/25005517/140943564-dba43596-f434-4667-bdca-1be5fabc1cc8.png)

[2021-11-09 14:37] sergioeix commented on #1977
same issue here @Dhananjayagarwal can you share your fix or make a PR, if anyone reaches this post, it can be fixed manually deleting the action from setting->technical->actions
Ty

[2021-11-09 14:43] pedrobaeza commented on #2191
Can all modules be compatibilized for not requiring several builds?

[2021-11-09 15:02] LoisRForgeFlow commented on #2191
That would be ideal but sometimes unfeasible?

Why don't we generate the pot in the last job with all addons and that's it? (this is putting MAKPOT=0, to the 2 travis jobs mentioned)

[2021-11-09 15:12] sbidoul commented on #2191
I dont' follow @lmignon's explanation. It seems that the .pot export is different from one run to the other ?

Maybe it's because `fetchmail_notify_error_to_sender` is installed in both travis jobs ? You can trying adding it to the rebel modules group.

[2021-11-09 15:19] lmignon commented on #2191
@sbidoul `fetchmail_notify_error_to_sender` is installed only in the first travis job. Since it add fields to base, all the others pot files from this first travis job will include these fields.  (But not pot files from the second travis job). Unfortunately transbot generate the pot files with all the repo addons installed. That means that pot files from the second travis job are updated with fiel

[2021-11-09 15:47] sbidoul commented on #2191
I don't think the explanation is related to transbot (i.e. weblate), because all commits come from oca-travis (i.e. the makepot part of mqt in travis).

IIUC, fetchmail_notify_error_to_sender*_test* is installed in the first job, which pulls fetchmail_notify_error_to_sender as a dependency. And fetchmail_notify_error_to_sender is pulled as part of the second job. That's why I suggest adding fetchm

[2021-11-09 19:10] #2191 closed, assigned to nobody

[2021-11-10 17:30] thomaspaulb commented on #1989
These are cool ideas, but I'm not going to implement them any time soon - closing this.

[2021-11-10 17:30] #1989 closed, assigned to nobody

[2021-11-17 11:57] ghost commented on #2192
Migrated fetchmail_incoming_log PR ~~https://github.com/OCA/server-tools/pull/2211~~ Superseded by https://github.com/OCA/server-tools/pull/2214

[2021-11-17 12:28] GSLabIt commented on #1910
https://github.com/OCA/server-tools/tree/12.0/attachment_synchronize

https://github.com/OCA/server-tools/tree/12.0/attachment_queue

No need to migrate from 12 to 14?

[2021-11-17 13:04] florian-dacosta commented on #1910
@GSLabIt https://github.com/OCA/server-tools/pull/2001
Reviews are welcome it is ready to merge already.

[2021-11-18 20:26] bjornbillen commented on #2192
how about... base_fontawesome ? seemed to be skipped in 14.0. Odoo 15 is still using fontawesome 4.7 as far as I know, pretty outdated.

[2021-11-20 21:12] simahawk commented on #2134
Current status

Module onchange_helper already exists for another serie. Please select a free module name or use the right user account.
Module auto_backup for series 14.0 belongs to another repository. Please select a free module name or user the right user account.
Module base_jsonify already exists for another serie. Please select a free module name or use the right user account.

@hparfr @beal

[2021-11-25 06:26] TomohiroAbe-Quartile opened #2217 "[10.0] base_tier_validation, purchase_tier_validation are not worked."
## Module
base_tier_validation
purchase_tier_validation

## Describe the bug
It not worked.
## To Reproduce
**Affected versions**: 10

Steps to reproduce the behavior:
1. Install both modules.
2.  Define a tier definition.
3. Login internal(employee) user. (Not an Administrator.)
4. Create purchase order and action confirm.

**Expected behavior**
If create and confirm purchase order, it should app

[2021-11-26 06:20] hbrunn commented on #2202
this should be fixed in https://github.com/OCA/server-tools/pull/2216

[2021-11-26 06:29] rvalyi commented on #2202
@ivantodorovich @hbrunn thank you I will test as soon as I can (probably in a week though)

[2021-11-26 16:03] hparfr commented on #2134
ping @rvalyi

[2021-11-27 17:29] ghost commented on #2217
Im not sure on the OCA's official policy but are you aware that 10.0 is EOL (End of Life) since 2019?
https://www.odoo.com/page/odoo-long-term-support

[2021-11-28 12:25] #104 closed, assigned to max3903

[2021-11-28 12:25] #124 closed, assigned to nobody

[2021-11-28 12:25] #188 closed, assigned to nobody

[2021-11-28 12:25] #189 closed, assigned to nobody

[2021-11-28 12:25] #271 closed, assigned to nobody

[2021-11-30 09:42] EAJGlobal commented on #2192
MIgrated DBFilter from Header PR https://github.com/OCA/server-tools/pull/2218

[2021-12-02 04:44] TomohiroAbe-Quartile commented on #2217
@EAJGlobal
Thank you EAJ, I know that.
But some of our customers using v10.0 yet, and I hope someone knows solution to this issue.

[2021-12-04 14:54] pedrobaeza opened #2221 "[RFC] upgrade_analysis: Detect removed SQL constraints"
For avoiding to not being aware of them.

Example:

- On v11, this SQL constraint exists:

https://github.com/odoo/odoo/blob/0eccd3973e056b4ac6fcd6754a8b6af2818aac4f/addons/survey/models/survey.py#L730

- But on v12, it's removed:

https://github.com/odoo/odoo/blob/1950b49b86deb44f33b6598a00bebc5b0fc42fa6/addons/survey/models/survey.py#L729-L731

It was fixed in https://github.com/OCA/OpenUpgrade/

[2021-12-04 19:06] legalsylvain commented on #2221
Hi.
+1.
At first sight, i see this feature better in database_cleanup. (Or maybe both because it's complementary)
@StefanRijnhart any insight ?

Note : if you talk about a migration between 11 and 12, the feature will be in openupgrade / openupgrade_records module.

[2021-12-05 20:26] pedrobaeza commented on #2221
This is something that may break migration, so it should include it OpenUpgrade itself, and the idea is to annotate in the analysis file the missing constraints for taking actions in the migration scripts. It can be done only for newer versions, as previous ones are manually detected and fixed like the example I put.

[2021-12-05 20:31] legalsylvain commented on #2221
Naive question : I don't understand why it can break the migration.
- a constraint exists in Vx with data, so, data respect the constraint.
- in Vx+1 the constaint is removed, but the data are still respecting the constraint.

How it can break the upgrade process ?

[2021-12-05 21:47] pedrobaeza commented on #2221
It's a good question. I have brought this because while migrating OCA database from 13 to 14, the error had arisen, as current code doesn't need to comply with it. If the constraint removal would be detected in time and removed, we wouldn't face this problem now. Even more, on regular use of the version, the constraint would be triggered incorrectly.

[2021-12-06 08:17] StefanRijnhart commented on #2221
It seems to me that the (manual or automatic) removal of the dropped constraints is required for a consistent datamigration. It could even be the case that a constraint still exists but with a different definition (that would be bad practice on the side of Odoo, but I would not rule it out). So it would be great to have such a change reflected in the analysis.

[2021-12-06 13:53] simahawk commented on #2134
@sebastienbeau @rvalyi piiiiiing :)

The module is already published here https://apps.odoo.com/apps/modules/8.0/base_jsonify/ and maybe you registered it manually?

In any case, I'm considering to move `base_jsonify` code to `jsonify_base` and make `base_jsonify` depend on this to preserve v13 and v14. Then in v15 we should kill `base_jsonify`.

[2021-12-06 13:56] sebastienbeau commented on #2134
@rvalyi can you remove it ?

[2021-12-06 14:27] rvalyi commented on #2134
I answered your email, it seems I have no control over the module in the appstore sadly.

[2021-12-06 15:20] sebastienbeau commented on #2134
I found the right person, it was linked to david account.
The apps have been removed

[2021-12-06 15:21] sebastienbeau commented on #2134
can you try to publish the oca version ?

[2021-12-06 16:47] simahawk commented on #2134
still getting the same error "Module base_jsonify already exists for another serie. Please select a free module name or use the right user account." :sob:

[2021-12-06 18:48] hugemosu opened #2224 "Error to export"
<!-- Provide a general summary of the issue in the Title above.
At the moment of executing the report to export, the following error appears

## Module
sql_export_excel

## Describe the bug
At the moment of executing the report to export, the following error appears

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-12.0.post20190518-py3.7.egg/odo

[2021-12-06 19:36] bealdav commented on #2134
It requires 24h to be taken in account I suppose

[2021-12-06 19:44] hugemosu commented on #2224
<!-- Provide a general summary of the issue in the Title above.
At the moment of executing the report to export, the following error appears

## Module
sql_export_excel

## Describe the bug
At the moment of executing the report to export, the following error appears

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-12.0.post20190518-py3.7.egg/odo

[2021-12-08 08:44] simahawk commented on #2134
nada, the error is still there :sob:

I'll try to get in touch w/ someone at Odoo SA.

[2021-12-10 14:22] spewil opened #2227 "Attempting to audit every model"
Hi OCA!

For my use case, I'm attempted to log every business-related action in-database. To do this, I set up a post-init hook to create a rule for every model in `ir.model.data` using the ORM API.

This (perhaps obviously?) results in various errors. I've tried to exclude obvious cases (such as not auditing `auditlog` itself, and excluding transient models), but even if I'm able to create a comp

[2021-12-11 17:46] pedrobaeza opened #2229 "[RFC] upgrade_analysis: Detect computed writable fields"
Since the introduction of computed fields with readonly=False and store=True, there are fields that have switched to this way of working that appear on the analysis file like:

[code]

and this forces to check what is happening behind this.

It would be great to check the readonly and store conditions, and then mark it as something like:

[code]

for being more correct. I don't put `[nothing to do

[2021-12-11 19:13] pedrobaeza commented on #2221
Other case I have just found that would be detected earlier having this analysis feature:

https://github.com/OCA/OpenUpgrade/commit/7a4090c71cb5197e1c72daf6e96d78ba6200b5dc

[2021-12-13 19:34] ivantodorovich commented on #2192
- https://github.com/OCA/server-tools/pull/2232

[2021-12-14 12:12] koenloodts commented on #2192
onchange_helper: https://github.com/OCA/server-tools/pull/2235

[2021-12-14 14:48] NL66278 commented on #2192
Will work on letsencrypt

[2021-12-14 15:15] EAJGlobal commented on #2192
One of my PR's https://github.com/OCA/server-tools/pull/2214 (Fetchmail Incoming Log) is stuck needing one more approval. If someone is able to take a few minutes to have a look and hopefully approve so it can get merged It would be appreciated. I'm not the most knowledgeable in Python but willing to join in with testing a code review

[2021-12-22 02:31] sonhd91 commented on #1910
`base_conditional_image` : [PR#2241](https://github.com/OCA/server-tools/pull/2241)

[2021-12-22 14:14] GSLabIt opened #2242 "[14.0] module_change_auto_install, cannot create new database enabling auto_install"
## Module
module_change_auto_install

## Describe the bug
Setting `website_odoo_debranding` auto installable in config file, will raise issue on database creation

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. add `modules_auto_install_enabled = website_odoo_debranding` in odoo config
2. go to `https://domain/web/database/manager` and create a new database
3. Err

[2021-12-22 14:15] GSLabIt commented on #2242
@legalsylvain, any hint on how to fix?

[2021-12-22 17:48] #2242 closed, assigned to nobody

[2021-12-27 15:38] mlaitinen commented on #2192
`module_auto_update` #2248

[2021-12-27 17:39] EAJGlobal commented on #2192
DBFilter_by_header is missing from the issue list above. Already migrated it with nothing needed but a version bump and precommit check PR ready for approvals https://github.com/OCA/server-tools/pull/2218

[2021-12-28 18:47] #2224 closed, assigned to nobody

[2021-12-28 18:52] hugemosu opened #2251 "At the moment of executing the report to export, the following error appears"
At the moment of executing the report to export, the following error appears

## Module
sql_export_excel

## Describe the bug
At the moment of executing the report to export, the following error appears

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-12.0.post20190518-py3.7.egg/odoo/http.py", line 654, in _handle_exception
    return super(Json

[2021-12-31 10:09] anhvu-sg commented on #2192
module `auto_backup` https://github.com/OCA/server-tools/pull/2253

[2022-01-06 02:36] alielnagar opened #2255 "odoo 14 base_name_search_improved not working at all"
odoo 14 base_name_search_improved not working at all
today oddo 14  bulid

[2022-01-13 11:19] Mantux11 commented on #2192
module `html_text` #2256

[2022-01-23 12:25] #390 closed, assigned to nobody

[2022-01-26 07:09] victoralmau commented on #1927
Hi, it's solved on 12.0 https://github.com/OCA/server-tools/pull/2262

[2022-01-26 07:12] #1927 closed, assigned to nobody

[2022-01-26 15:50] ghost commented on #2192
DBFilter_From_Header: https://github.com/OCA/server-tools/pull/2218 One more approval needed to merge! was a simple version bump only.

[2022-02-01 07:38] ghost commented on #2192
module *auditlog* https://github.com/OCA/server-tools/pull/2268

[2022-02-02 20:45] ivanporras commented on #1321
what about many2one?

[2022-02-06 12:24] #405 closed, assigned to nobody

[2022-02-07 15:27] tbanevicius opened #2273 "[15.0][MIG] datetime_formatter: Migration to 15.0"
Module datetime_formatter migration to 15.0

[2022-02-07 15:33] tbanevicius commented on #2192
module datetime_formatter #2274

[2022-02-07 18:42] Rad0van commented on #2255
See #2271 for fix...

[2022-02-08 14:30] augusto-weiss commented on #2192
module #2319

[2022-02-09 13:01] tfossoul opened #2277 "sql_request_abstract use of PROHIBITED_WORDS in value"
I am using the module sql_request_abstract to do sql view with odoo.
I need to use the "create" word as a value on a sql condition.
`select ... WHEN type = 'create'`

Someone know a workaround to the PROHIBITED_WORDS for this specific needs ?

edit: i found this solution: "WHEN type like 'crea%'"

Thanks in advance

[2022-02-09 16:04] oerp-odoo commented on #2192
`base_jsonify` module: https://github.com/OCA/server-tools/pull/2278

[2022-02-11 19:04] lastalfriday opened #2281 "Sentry update using sentry-sdk + reducing complexity"
The old sentry python lib is deprecated:
https://github.com/getsentry/raven-python

I've played around with the new and semi-kind-of got it working, but cannot manage to hook into the odoo exception system
https://docs.sentry.io/platforms/python/guides/wsgi/

Here's my setup.
[code]

This is pretty straight forward, except that my knownledge is limited so I cannot get this working property,
but it

[2022-02-12 10:19] luc-demeyer opened #2282 "excel_import_export - imported entries are deleted when upgrading this module due to autocreated xml_id"
When upgrading the excel_import_export module the entries created with an autocreated xml_id are getting deleted.

cf. https://github.com/OCA/server-tools/blob/9378a9f649449d8c42af4371de24f53ca09cf417/excel_import_export/models/xlsx_import.py#L46
and
https://github.com/OCA/server-tools/blob/9378a9f649449d8c42af4371de24f53ca09cf417/excel_import_export/models/xlsx_import.py#L53

The autocreated xml_

[2022-02-12 10:28] pedrobaeza commented on #2282
XML-ID should have module `__export__` following Odoo convention.

[2022-02-12 11:48] kittiu commented on #2282
I think this was fixed before in v12.
https://github.com/OCA/server-tools/pull/1899
I will port the fix.

[2022-02-12 12:00] kittiu commented on #2282
Here you go, https://github.com/OCA/server-tools/pull/2283

[2022-02-15 08:36] sighefio opened #2288 "Auditlog does not work well in multi workers mode"
Audit Log rule does not applied in every worker in odoo worker mode

## Module
Audit Log

## Describe the bug
Logs are missing when I run odoo with worker mode on the first setting rule.(To work well, it needs to restart odoo server after setting rule)

## To Reproduce
13.0 (I think it is in every version) workers=5

Steps to reproduce the behavior:
1.Restart the odoo server with multi worker mode

[2022-02-15 13:00] fractalf commented on #2281
Update: I pretty much got this up and working fine. My issues earlier was that exceptions didn't reach Sentry when triggering them from UI actions. But that seemed to be because Odoo somehow "eats" these up. Any other exceptions are sent to Sentry.

The setup is super easy and is basically just this
[code]

KISS :)

[2022-02-18 02:04] #2288 closed, assigned to nobody

[2022-02-20 12:25] #421 closed, assigned to nobody

[2022-02-22 13:52] maisim opened #2296 "[12.0] runboat/build fail"
runboat/build fail on PR check on branch 12.0

## Module
database_cleanup , but should be the same for others

## Describe the bug

On build, server-tools/company_country module complain says COUNTRY environment variable miss

`
File "/mnt/data/odoo-addons-dir/setup/company_country/odoo/addons/company_country/models/res_config.py", line 39, in load_company_country 'COUNTRY environment variable wit

[2022-02-24 10:17] rousseldenis opened #2300 "[14.0] onchange_helper: play_onchanges call influences NewId recordset"
I don't know how to solve this and if it is a limitation of onchange_helper but:

- Call play_onchanges on values like `result = <model>.play_onchanges(vals, vals.keys())`
- Create a new recordset in memory: `new_1 = <model>.new(result)`
- Call play_onchanges on values like `result = <model>.play_onchanges(vals, vals.keys())`
- Create a new recordset in memory: `new_2 = <model>.new(result)`

We ob

[2022-02-25 09:04] NL66278 commented on #2192
`letsencrypt` module: https://github.com/OCA/server-tools/pull/2236

[2022-02-27 12:26] #453 closed, assigned to nobody

[2022-03-06 12:26] #514 closed, assigned to nobody

[2022-03-08 13:29] Shide commented on #2192
`base_search_fuzzy` module: https://github.com/OCA/server-tools/pull/2310

[2022-03-09 10:53] legalsylvain opened #2309 "[RFC] database_cleanup check filestore"
Hi all,

I have a V12 database (and associated filestore) that comes from V5.0

I'd like to check if the filestore is consistent. I mean :
- maybe some ir.attachment  are linked to a disappeared file in the filestore
- maybe some files exists but related ir.attachment does'nt.

Do you have similar needs ?

I think that this feature could be part of the ``database_cleanup`` module.

CC : @StefanRij

[2022-03-11 19:25] diassynthesis opened #2311 "[13.0] Can't install base_remote"
## Module
base_remote

## Describe the bug
Can't install this module. Getting the following error:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exc

[2022-03-14 09:35] maisim commented on #2296
@sbidoul @gurneyalex

Salut,
You seem busy, can I do something to get it fixed?

[2022-03-14 11:03] sbidoul commented on #2296
I suggest settings a default value in the company_country module if the COUNTRY env var is not set.

[2022-03-14 14:01] maisim commented on #2296
@sbidoul
Ok I will do that

[2022-03-14 14:30] maisim commented on #2296
after looking at it more closely, I think that would render the module useless. [company_country](https://github.com/OCA/server-tools/tree/311142a8aab02bb9f6a2fee9fa0d01d539bacaee/company_country)
Its purpose is to force the user to define the country, before the account module is installed so that the correct parameters are set up (l10n*)
If we define a default value, it no longer works.

[2022-03-14 14:34] sbidoul commented on #2296
We can do `country_code = os.environ.get('COUNTRY', 'US')`. If the user forgot to set the env var, well, they have to start again, but the module still serves its purpose, right?

I don't see any other solution to support GitHub actions and runboat at this stage. TBH I'm trying to see if we can eradicate per-project specific CI configs, and so far we can.

[2022-03-14 15:09] maisim commented on #2296
When I read the code I feel the goal is really to raise an exception if COUNTRY env var id not defined. (but maybe I'm wrong)

Hi @moylop260 @luisg123v,
As contributors on this addon, do you have an opinion on how to keep the addon working has expected and, in the same time, remove requierement of specific CI config?

[2022-03-15 18:54] moylop260 commented on #2296
Yes, It is correct

It helps to avoid using a default l10n module as Odoo do it

If we use a default l10n module so it is the same than don't use the module itself (original Odoo way)

I think we could discuss the following possible solutions

1. Define a global environment variable `COUNTRY=US` in the Dockerfile of the container used for the CI
2. Define a validation in the module itself if the [

[2022-03-16 06:05] hbrunn commented on #2309
yes, I think that's a good one. Only issue I have is that it's hard to determine the right thing to do for the general case, do we want to delete ir.attachment records that don't have files or mark them for investigation? Probably you'll need some UI to ask the user what to do there, or make it very clear what it does ("Delete attachment records without file" vs "Cleanup attachments")

[2022-03-16 08:13] maisim commented on #2296
I think 4 is the clean way to manage this case
Being able to customize the environment seems useful to me. Has you suggest, It make sense to do it at project level

[2022-03-16 08:34] sbidoul commented on #2296
If you really can't have default values, 2/ is the best short term solution. In the longer term we can work on a way to customize oca-ci, and runboat, and the repo template, but that's quite a bit more work to make it cleanly.

[2022-03-16 09:04] maisim commented on #2296
If everyboby is ok I will apply 2
It's on 12.0 I think it's not really bad to have this kind of workaround

@sbidoul  I sould work on this in a few weeks,  with your help, this can be an opportunity for me to better understand OCA's dev workflow

[2022-03-16 09:45] sbidoul commented on #2296
@maisim cool. Let's first make sure it's necessary, though, because it is non-trivial work. So far it is just one case, for a module that is not being used in 13+. To discuss this, the best is probably to collect the use cases for additional CI and runboat customization. The best place to do this would be a new issue in oca/oca-addons-repo-template.

[2022-03-16 13:53] legalsylvain commented on #2309
Hi @hbrunn. Thanks a lot for your answer.
I'm not sure to understand your proposal.

in all database_cleanup features there are two steps  :
1. one to display the errors
2. one to "fix" the errors

- In that case, users can stop at the end of the step 1, do an extract of the results and investigate. (the same for the other cleanup (columns table, extra tables, etc...)
- for the fix, I don't see ot

[2022-03-16 14:54] luisg123v commented on #2296
@maisim I agree. Even though 4 is an ideal solution, 2 is the immediate one.

[2022-03-16 22:44] hbrunn commented on #2309
ah yes, I was thinking of the 'purge all' button, but indeed, you don't have to click that. Yes, makes sense

[2022-03-20 12:27] #525 closed, assigned to nobody

[2022-03-20 12:27] #530 closed, assigned to nobody

[2022-03-24 09:23] flotho opened #2320 "[10.0]SQL export don't display binary file field for download"
## Module
sql export

## Describe the bug
no binary file for download
![image](https://user-images.githubusercontent.com/1043935/159883642-dcf21985-3756-4f8f-b13a-60219a8fe0f9.png)

## To Reproduce
create a simple query in sql export :
![image](https://user-images.githubusercontent.com/1043935/159883567-4cc7da98-decd-46eb-9bf4-ae8ef3a9fe20.png)

run the export,

no error logs;, the database is fil

[2022-03-24 09:26] flotho commented on #2320
no error logs in the console :+1:
![image](https://user-images.githubusercontent.com/1043935/159885079-f79aad7e-6f67-4428-852b-153b8994bb21.png)

no message in the client part.
Any help would be appreciated

[2022-03-27 12:27] #537 closed, assigned to nobody

[2022-03-31 13:34] maksymkv25 opened #2321 "[13.0][Audit log] Routes reset when set from different companies"
## Module
Audit Log

## Describe the bug
Routes reset when set from different companies

## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. Create 2 companies
2. Set log on product.template
3. Select company A and set some route
4. Select company B and set another route
5. Switch to company A, no route selected on step 3

**Expected behavior**
Routes not rewrited

**Additi

[2022-04-03 12:28] #561 closed, assigned to nobody

[2022-04-03 23:09] mcerutti commented on #1664
I'm having the same issue on v14. There's any update ?

[2022-04-11 13:49] francesco-ooops opened #2323 "[RFC] base_custom_info fields in list view and search/group by"
Hi, we'd like to extend base_custom_info in order to allow user:

- to search by custom field (property)

- to group records by custom field

- to add custom field to list view

do you think this is achievable in a non-intrusive and overcomplex way? Do you think these features could be within the scope of the module itself?

Tagging original creators for an opinion @carlosdauden @rafaelbn @pedroba

[2022-04-17 12:29] #565 closed, assigned to nobody

[2022-04-17 12:29] #572 closed, assigned to nobody

[2022-04-20 12:11] simahawk commented on #2134
@bealdav sounds this is not moving anywhere. For `base_jsonify` I'd opt for renaming the module (eg: jsonifier).
To make a test w/ the apps store I have created an empty module to just try it out then I can move all the logic from base_jsonify to it and make it dependent on this new module. Example https://github.com/OCA/server-tools/compare/14.0...camptocamp:14-add-jsonifier?expand=1
If it's ok f

[2022-04-21 15:53] sebastienbeau commented on #2134
@simahawk crazy to have to rename a module, but if it's the only solution to solve it from odoo SA let's do it

[2022-04-22 06:03] simahawk commented on #2134
@sebastienbeau OTOH I find `jsonifier` more captivating :stuck_out_tongue_winking_eye:

[2022-04-22 06:42] simahawk commented on #2134
et voilá https://apps.odoo.com/apps/modules/14.0/jsonifier/

[2022-04-22 08:49] simahawk commented on #2134
There you go https://github.com/OCA/server-tools/pull/2327

[2022-04-22 09:30] gaikaz commented on #2192
@kittiu
Hi, saw you are the last one to migrate to v13 and v14 of modules excel_import_export, excel_import_export_demo.
Any plans to do it for v15 anytime soon?

[2022-04-22 13:52] kittiu commented on #2192
Not yet. But I think it can be fairly easy as it does not depend on others much. You want to do?

[2022-04-24 12:29] #577 closed, assigned to nobody

[2022-04-28 08:18] Mantux11 commented on #2192
@kittiu Hi, I would try to migrate excel_import_export and excel_import_export_demo :wink:

[2022-04-29 12:01] dalonsod opened #2330 "[14.0] base_custom_info: contacts action buttons poor performance when a template is selected"
Hello,
I've recently noticed an annoying performance issue when `base_custom_info` is installed and used in a contact.

## Module
`base_custom_info`

## Describe the bug
When a custom info template is selected for a contact, every action button related to it (like his sales or purchases) takes a lot of time displaying results. When the template is unset, good performance goes back.

## To Reproduc

[2022-05-03 13:02] augusto-weiss commented on #2192
base_exception #2319

[2022-05-06 10:43] flachica commented on #2192
* `base_multi_image` #2334

[2022-05-08 12:30] #626 closed, assigned to nobody

[2022-05-08 12:30] #627 closed, assigned to nobody

[2022-05-12 12:08] petrus-v commented on #2192
I'm migrating `iap_alternative_provider` from v14.0: #2340

[2022-05-15 12:35] #633 closed, assigned to nobody

[2022-05-17 11:36] BT-jcamacho opened #2343 "[15.0] Auditlog: error when creating variants or updating lst_price"
## Module
auditlog

## Describe the bug
When a rule exists for model `product.product`, creating of product.products from the Product Variants List View or changing the lst_price (Sales price) raises an Error.

## To Reproduce
**Affected versions**: v15 at least

Steps to reproduce the behavior:
1. Create a rule that logs write for model Product (`product.product`)
2. Go to to the Product Variants

[2022-05-29 12:32] #655 closed, assigned to nobody

[2022-06-01 13:11] ayushin commented on #2157
We've built a simple module that works fine:

https://github.com/apexlabs-ai/odoo-gcp

Happy to migrate it to server-tools if anybody is interetest

[2022-06-08 13:38] #2151 closed, assigned to nobody

[2022-06-10 20:18] adriancuero commented on #2281
Hi @fractalf !

Where did you add this code? I added that snippet on __init__.py file of my custom module but it doesn't work :(

Thanks!

[2022-06-13 09:50] fractalf commented on #2281
@adriancuero Hi, I just made a new file `sentry.py` and included it in the manifest file, then upgrade module in Odoo

[2022-06-19 12:30] #708 closed, assigned to nobody

[2022-06-19 12:30] #731 closed, assigned to nobody

[2022-06-19 16:40] #792 closed, assigned to nobody

[2022-06-21 07:31] nupurjha opened #2362 "Audit Log Module Issue"
## Summary
Currently we are facing issue in audit log module that is "**Reached maximum value of sequence "ir_translation_id_seq" (2147483647): SequenceGeneratorLimitExceeded**"

## Module
Audit Log

## Version
Odoo community Edition (v12.0-20190816)

**Expected behavior**
This module should have the functionality to delete the old logs automatically so that it could not reach the maximum value.

[2022-06-22 23:24] schiggi commented on #2281
There is a pending PR, which seems to work fine. Check it out #2254

[2022-07-03 12:30] #742 closed, assigned to nobody

[2022-07-10 12:31] #749 closed, assigned to nobody

[2022-07-10 12:31] #782 closed, assigned to nobody

[2022-07-17 12:32] #787 closed, assigned to nobody

[2022-07-27 15:18] HekkiMelody opened #2379 "[14.0] base_conditional_image + base_multi_image: outdated image names"
Since Odoo 13.0, the fields image, image_medium and image_small have been renamed/changed to image_1920, image_1024, image_512, image_256 and image_128 (and moved to the abstract model "image.mixin")

It'd be extremely useful, if only for consistency and ease of use with existing modules and existing views, if both modules were updated to match the new names used across Odoo.

(It appears that pro

[2022-07-31 12:33] #806 closed, assigned to nobody

[2022-07-31 12:33] #807 closed, assigned to nobody

[2022-07-31 12:33] #814 closed, assigned to nobody

[2022-08-02 12:16] flachica commented on #2192
* base_external_dbsource #2381

[2022-08-04 05:05] aktiv-heli-kantawala commented on #2192
Migrating the base_sequence_option https://github.com/OCA/server-tools/pull/2383

[2022-08-04 15:05] GSLabIt opened #2385 "[14.0][ISSUE] module_change_auto_install, seems installing from UI doesn't change auto_install"
## Module
module_change_auto_install

## Describe the bug
Installing sale_management is installing modules set in `odoo.conf` file as:

`server_wide_modules = base,web,queue_job,module_change_auto_install,openupgrade_framework`

`modules_auto_install_disabled = account_edi,account_edi_facturx,account_edi_ubl`

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:

1. Create

[2022-08-04 15:07] GSLabIt commented on #2385
@legalsylvain @sbidoul any hint on how to fix it?

[2022-08-04 15:25] sbidoul commented on #2385
@GSLabIt no idea. I'm not familiar with module_change_auto_install.

[2022-08-04 15:28] GSLabIt commented on #2385
Basically it changes `auto_install` to `False` in order to avoid to install modules like `account_edi` and stuff. It works if db is initialized from `odoo cli`, bur not if done with `click-odoo-initidb`. I honestly can't understand why this happening; it sound like patch is bypassed in some way.

[2022-08-04 15:30] legalsylvain commented on #2385
I don't see ``server_wide_modules`` configuration in your step to reproduce. Is it correctly set in your odoo.cfg file ?
regards.

[2022-08-04 15:36] GSLabIt commented on #2385
Yap, it is configured properly:

`server_wide_modules = base,web,queue_job,module_change_auto_install,openupgrade_framework`

[2022-08-04 15:43] legalsylvain commented on #2385
openupgrade_framework should never be used in a non upgrade context.

Not sure if it's the origin of the problem, but could you try to remove it ?

[2022-08-04 15:48] GSLabIt commented on #2385
I did but unfortunately it doesn't solve the issue and, beside that, with same config initializing db using cli command:

`./odoo-bin -c .odoorc -d test-edi`

instead of

`click-odoo-initdb -c .odoorc -n test-edi --no-demo --no-cache`

all works properly. Honestly i'm not able to figure out why it is like that

[2022-08-04 15:55] legalsylvain commented on #2385
I tested locally, and it seems to work. However, I don't use ``click-odoo``.

[code]

[2022-08-04 15:57] GSLabIt commented on #2385
Could u double check locally using `click-odoo-initdb` to initialize database..just to confirm i'm not getting crazy 😅

[2022-08-04 15:58] legalsylvain commented on #2385
Could you check if this log is generated ?
https://github.com/OCA/server-tools/blob/14.0/module_change_auto_install/patch.py#L46

[2022-08-04 15:59] GSLabIt commented on #2385
yap, it is generated:
[code]

[2022-08-04 16:23] legalsylvain commented on #2385
``click-odoo-contrib`` doesn't seem to work with this module.
rgrep ``auto_install`` in ``click-odoo-contrib`` base code.
maybe a bugfix on click-odoo-contrib could be done to call the function ``odoo.module.load_information_from_description_file``.

[2022-08-04 16:24] GSLabIt commented on #2385
@sbidoul what u think?

[2022-08-04 16:26] legalsylvain commented on #2385
see : https://github.com/acsone/click-odoo-contrib/blob/master/click_odoo_contrib/manifest.py#L83

[2022-08-04 16:49] sbidoul commented on #2385
It may work or not, I don't know. This is a really exotic use case... and actually the fact that click_odoo loads server_wide_modules is kind of accidental, since it does not start an Odoo server in the first place.

[2022-08-04 16:52] GSLabIt commented on #2385
Maybe would be possible to check `tools.config` while loading modules for `auto_install` in order to know what to install and what to skip

[2022-08-07 12:31] #822 closed, assigned to nobody

[2022-08-07 12:31] #831 closed, assigned to nobody

[2022-08-07 12:31] #835 closed, assigned to nobody

[2022-08-14 12:32] #838 closed, assigned to nobody

[2022-08-15 09:59] zurawmaco opened #2389 "It is not possible run database analyse between odoo v.12 and odoo v.15"
## Module
[upgrade_analysis](https://github.com/OCA/server-tools/tree/14.0/upgrade_analysis)

## Describe the bug
I am trying to run my own database analysis according to the [documentation](https://oca.github.io/OpenUpgrade/analyse.html) between modules in odoo v.12 and odoo v.15. When I started _New Analysis_ I got following error message:

  File "/home/marcin/Documents/Macopedia/PanelMaco/anal

[2022-08-15 10:06] pedrobaeza commented on #2389
That's not possible. This is prepared to run between one version and the previous one. If you want that (which is not advisable, you must adapt the 12.0 version of the `openupgrade_records` module to allow it.

[2022-08-15 10:06] #2389 closed, assigned to nobody

[2022-08-15 10:50] zurawmaco commented on #2389
I thought it could be great to make such an analyse for custom modules, then write a migration script for them and then upgrade database. It's a pitty that I cannot do it like that

So I need to write custom module for odoo v.13, then for odoo v.14 and then finally I can use custom module for odoo v.15.

[2022-08-15 11:08] pedrobaeza commented on #2389
Not really. Just see the migration diff of your module and deduce the needed migration scripts. They will likely be very few.

[2022-08-15 12:15] legalsylvain commented on #2389
It has been discussed here : https://github.com/OCA/OpenUpgrade/pull/2956

You can try the patch I propose for jour custom analysis. Maybe it will work. Kind regards.

[2022-08-24 10:47] NothingCtrl opened #2391 "[13.0] Improved Name Search (base_name_search_improved) added unexpected field in One2many form"
## Module
`base_name_search_improved`

## Describe the bug

Odoo 13.0 CE, install this module, in a form with one2many, click `Add a line`, pop-up form showing with addition field name: `Smart Search` (this form auto generate by Odoo)

![image](https://user-images.githubusercontent.com/5380820/186399778-500bec1f-3483-41c9-a921-d7a2be90c9c0.png)

## To Reproduce
**Affected versions**: tested with O

[2022-08-31 15:17] InformaticaOdeon opened #2393 "[13.0] Backup scheduler bloqued and repeats each two hours with destination Windows server."
## Module
auto-backup (Backup scheduler)

## Describe the bug
Hello, we have the following problem.

With an Odoo 13 on a server with OS Linux CentOS 7, we configure a backup with auto_backup made by sftp to another server with windows 10. The W10 server is correctly configured using the OpenSSH Server service, and the connection tests from SFTP made from the auto backup configuration are correct.

[2022-09-01 10:56] anandsork opened #2394 "How to Use iap_alternative_provider?"
The documentation mention about connector_telephony.
However as per documentation for IAP, the provider should have few endpoints available (https://www.odoo.com/documentation/15.0/developer/api/iap.html#json-rpc2-transaction-api)  i.e. authorize, capture, cancel etc.
I do not see the same in connector_telephony.

Could any one help or give pointers (use of different modules) to write own iap_prov

[2022-09-15 08:47] kafai-lam opened #2400 "[15.0] migrate module_change_auto_install to 15.0"
I find that module `module_change_auto_install` works perfectly (for me at least) in odoo 15.0

Is there any concern to move it to branch 15.0?

[2022-09-15 09:08] legalsylvain commented on #2400
Hi. feel free to propose a PR. I'll review it with pleasure.
kind regards.

[2022-09-18 12:36] #910 closed, assigned to nobody

[2022-09-18 12:36] #914 closed, assigned to nobody

[2022-09-20 11:50] JurreCl opened #2404 "Cannot uninstall module base_changeset"
module: base_changeset
version: 13.0

**Steps to reproduce**
- Install module --> Uninstall module

**Current behavior**
Get error  psycopg2.errors.UndefinedTable: relation "changeset_field_rule" does not exist
LINE 1: SELECT "changeset_field_rule".id FROM "changeset_field_rule"...

**Expected behavior**

Uninstall module.

Am able to reproduce this on runbot. It seems there is an issue where odoo

[2022-09-22 07:40] InformaticaOdeon commented on #2393
Hello,

Recently we have the same problem if we configure as SFTP Server a Linux CentOS 7 too.

Thanks.

[2022-09-25 12:37] #915 closed, assigned to nobody

[2022-09-25 12:37] #919 closed, assigned to nobody

[2022-09-28 04:51] prakashjain opened #2407 "Request auditlog module update to right field format"
Currently audilog module below field datatype:
1) many2one
2) many2many
3) float
4) date
5) datetime
Log capture different format example many2one field capture list of id and name and datetime user interface format not catpturing.
In custom modules, some field float time widget not capturing correct format.

So suggesting to add these features to audit log line capture data same format entered in

[2022-09-29 07:51] flachica commented on #2192
base_m2m_custom_field https://github.com/OCA/server-tools/pull/2409

[2022-10-02 10:22] prakashjain opened #2410 "audit log one2many field not showing sale order form"
Audit log "View logs" action button not display for one2many fields.

Setting --> Audit rule --> Added and subscribed for Sale order lines.
But using sale order screen unable to view logs for lines (one2many).

Is possible using sale order header  "View logs"
1) to view both sale order and sale order lines records.
2) deleted sale order lines records also visible while view logs in the sale header

[2022-10-02 12:39] #923 closed, assigned to nobody

[2022-10-03 15:04] StefanRijnhart commented on #2400
Closing issue as there is a PR. Thank you for the PR!

[2022-10-03 15:04] #2400 closed, assigned to nobody

[2022-10-03 17:03] OCA-git-bot opened #2412 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] attachment_unindex_content - By @Rodrigosu-Vauxoo - #2563
- [x] auditlog - By @StefanRijnhart - #2466
- [ ] auto_backup - By @tafaRU - #2712
- [x] autovacuum_message_attachment - By @florian-dacosta - #2766
- [x] base_changeset - By @MrGigSolutions - #2663
- [x] base_conditional_image - By @

[2022-10-04 22:09] kholioeg opened #2414 "jsonifier jsonify() wrapper as model mehod to support xmlrpc client"
When using xmlrpc client we cannot use jsonify() method as it requires an object
Therefore, we may require model method which can use ids as args  to pass it internally to jsonify() method.

So, I've made small wrapper in the main model like below:

[code]
When using xmlrpc it can be like below:

[code]
By using this approach we may add additional wrappers such as search method as well:

[code]

R

[2022-10-09 12:39] #924 closed, assigned to nobody

[2022-10-11 06:25] sagarpise opened #2420 "14.0 Database cleanup Error on the menu Purge absolete menu entries"
## Module
database_cleanup

## Describe the bug
This app is very useful after the database migration to clean the menu, unwanted views and data entry, most of the features work fine but get errors in the menu Purge obsolete menu entries. Tried with several migrated databases but each time gives the same error message

when we click on menu **Purge obsolete menu entries** instead of displaying abso

[2022-10-13 07:55] StefanRijnhart commented on #2404
I think I fixed a similar problem in one of my setups. I was thinking that it was a problem due to our customizations, but maybe it fixes this too. It is to anticipate any data model changes to the changeset models when fetching rules. Would you like to try if this fixes the problem? Here is our code in the form of an override, but it could easily be integrated in the module itself of course. We u

[2022-10-16 12:40] #939 closed, assigned to nobody

[2022-10-19 07:00] xavier-bouquiaux opened #2430 "base_generate_code : add js support"
Hi

In some cases, the POS need to generate a coupon <br/>
As the POS has to run offline, the coupon has to be generated in the JS <br/>
Is it possible to have the _generate_code method available as a js function ? <br/>
Using the same mask etc <br/>

Regards

Xbo

[2022-10-23 12:41] #942 closed, assigned to nobody

[2022-10-25 14:45] Crazor opened #2438 "Can't use fontawesome icons in reports"
I'm can't use fontawesome icons in PDF/HTML reports.

## Module
base_fontawesome

## Describe the bug
I installed base fontawesome module, but when I try to add e.g. `<i class="fa-solid fa-phone">` to a QWeb view, I get <img width="30" alt="Bildschirmfoto 2022-10-25 um 16 40 42" src="https://user-images.githubusercontent.com/128295/197804463-5771f9ce-cf8f-4958-8d16-2434df12e77e.png">

## To Reprod

[2022-10-25 14:56] Crazor commented on #2438
Most interestingly, it works in the PDF version, but not in HTML.
For quick turnaround while editing, I set the action of the report I'm working on from PDF to HTML, so I can just refresh instead of having to use the print menu. The PDF behaves just fine, only the HTML report is broken.

[2022-10-30 12:37] #946 closed, assigned to nobody

[2022-10-30 12:37] #959 closed, assigned to nobody

[2022-11-01 18:25] lelutin opened #2446 "auto_backup leaves files behind on sftp connection error and creates many copies, one for each connection attempt"
We've just encountered an issue on an odoo V14 with the auto_backup module. There was already a scheduled task configured to send files to an SFTP server before the odoo was transferred to another server, but after the transfer the SFTP connection was not working anymore.

This situation caused the scheduled task to:

1. create a backup in a temporary directory under `/tmp/$random_dirname`
2. Try

[2022-11-02 23:12] ryanc-me commented on #2412
~~`dbfilter_from_header` at #2450~~

See the comment below

[2022-11-13 12:35] #971 closed, assigned to nobody

[2022-11-17 15:28] matiasperalta1 commented on #2412
base_exception https://github.com/oca/server-tools/pull/2463

[2022-11-20 12:32] #981 closed, assigned to yajo

[2022-11-24 15:41] JoelZilli commented on #2412
database_cleanup #2473